<form #editForm="ngForm" (ngSubmit)="save()" name="editForm" novalidate role="form">

    <div class="modal-header">
        <h4 [translate]="'managementPortalApp.subject.pairSources.title'" class="modal-title"
            id="mySubjectLabel">
        </h4>
        <button (click)="clear()" aria-hidden="true" class="close" data-dismiss="modal"
                type="button">&times;
        </button>
    </div>

    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div [hidden]="!subject.id" class="form-group">
            <label [translate]="'global.field.id'" for="id"></label>
            <input [(ngModel)]="subject.login" class="form-control" id="id" name="id"
                   readonly type="text"/>
        </div>
        <label [translate]="'managementPortalApp.subject.pairSources.assignedSources'"
               class="form-control-label">
        </label>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><span [translate]="'managementPortalApp.subject.pairSources.sourceType'"></span></th>
                    <th><span [translate]="'managementPortalApp.subject.pairSources.sourceName'"></span></th>
                    <th><span [translate]="'managementPortalApp.subject.pairSources.expectedSourceName'"></span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let source of assignedSources; trackBy: trackDeviceById">
                    <td>{{ source.sourceTypeProducer + "_" + source.sourceTypeModel + "_" + source.sourceTypeCatalogVersion }}</td>
                    <td>{{ source.sourceName }}</td>
                    <td>{{ source.expectedSourceName }}</td>
                    <td>
                        <button (click)="removeSource(source)" class="btn btn-danger btn-sm fa fa-remove" type="button">
                            <span [translate]="'managementPortalApp.subject.pairSources.remove'"
                                  class="hidden-md-down">
                            </span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <label [translate]="'managementPortalApp.subject.pairSources.availableSources'"
               class="form-control-label">
        </label>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><span [translate]="'managementPortalApp.subject.pairSources.sourceType'"></span></th>
                    <th><span [translate]="'managementPortalApp.subject.pairSources.sourceName'"></span></th>
                    <th><span [translate]="'managementPortalApp.subject.pairSources.expectedSourceName'"></span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let source of assignableSources; trackBy: trackDeviceById">
                    <td>{{ source.sourceTypeProducer + "_" + source.sourceTypeModel + "_" + source.sourceTypeCatalogVersion }}</td>
                    <td>{{ source.sourceName }}</td>
                    <td>{{ source.expectedSourceName }}</td>
                    <td>
                        <button (click)="addSource(source)" class="btn btn-primary float-right" type="button">
                            <span [translate]="'global.attribute.add'"></span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button (click)="clear()" class="btn btn-default" data-dismiss="modal" type="button">
            <span class="fa fa-ban"></span>&nbsp;<span [translate]="'entity.action.cancel'"></span>
        </button>
        <button [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary" type="submit">
            <span class="fa fa-save"></span>&nbsp;<span [translate]="'entity.action.save'"></span>
        </button>
    </div>
</form>
