
<div *ngIf="deviceType">
    <h2><span jhiTranslate="managementPortalApp.deviceType.detail.title">Device Type</span> {{deviceType.deviceProducer}}
    {{deviceType.deviceModel}} ({{deviceType.catalogVersion}}) </h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="managementPortalApp.deviceType.deviceProducer">Device Producer</span></dt>
        <dd>
            <span>{{deviceType.deviceProducer}}</span>
        </dd>
        <dt><span jhiTranslate="managementPortalApp.deviceType.deviceModel">Device Model</span></dt>
        <dd>
            <span>{{deviceType.deviceModel}}</span>
        </dd>
        <dt><span jhiTranslate="managementPortalApp.deviceType.catalogVersion">Device Version</span></dt>
        <dd>
            <span>{{deviceType.catalogVersion}}</span>
        </dd>
        <dt><span jhiTranslate="managementPortalApp.deviceType.sourceTypeClass">Source Type Class</span></dt>
        <dd>
            <span jhiTranslate="{{'managementPortalApp.SourceTypeClass.' + deviceType.sourceTypeClass}}">{{deviceType.sourceTypeClass}}</span>
        </dd>
        <dt><span jhiTranslate="managementPortalApp.deviceType.sourceData">Source data</span></dt>
        <dd>
            <span *ngFor="let sourceData of deviceType.sourceData; let last = last">
                <a [routerLink]="['/source-data', sourceData?.sensorName ]">{{sourceData.sensorName}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

</div>
