<div>
    <h2>
        <span jhiTranslate="managementPortalApp.deviceType.home.title">Device Types</span>
        <button class="btn btn-primary float-right create-device-type" [routerLink]="['/', { outlets: { popup: ['device-type-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="managementPortalApp.deviceType.home.createLabel">
            Create new Device Type
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="deviceTypes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="managementPortalApp.deviceType.deviceProducer">Device Producer</span></th>
            <th><span jhiTranslate="managementPortalApp.deviceType.deviceModel">Device Model</span></th>
            <th><span jhiTranslate="managementPortalApp.deviceType.catalogVersion">Catalog Version</span></th>
            <th><span jhiTranslate="managementPortalApp.deviceType.sourceRegistration">With dynamic id</span></th>
            <th><span jhiTranslate="managementPortalApp.deviceType.sourceType">Source Type</span></th>
            <th><span jhiTranslate="managementPortalApp.deviceType.sensorData">Sensor Data</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let deviceType of deviceTypes ;trackBy: trackId">
                <td><a [routerLink]="['../device-type', deviceType.id ]">{{deviceType.id}}</a></td>
                <td>{{deviceType.deviceProducer}}</td>
                <td>{{deviceType.deviceModel}}</td>
                <td>{{deviceType.catalogVersion}}</td>
                <td>
                    <span class="badge badge-info" *ngIf="!deviceType.canRegisterDynamically"
                          jhiTranslate="managementPortalApp.deviceType.manualRegistration">Static Identifiers</span>
                    <span class="badge badge-success" *ngIf="deviceType.canRegisterDynamically"
                          jhiTranslate="managementPortalApp.deviceType.dynamicRegistration">Dynamic Identifiers</span>
                </td>
                <td jhiTranslate="{{'managementPortalApp.SourceType.' + deviceType.sourceType}}">{{deviceType.sourceType}}</td>
                <td>
                    <span *ngFor="let sensorData of deviceType.sensorData; let last = last">
                            <a class="form-control-static" [routerLink]="['../sensor-data', sensorData?.id ]">{{sensorData.sensorName}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../device-type', deviceType.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'device-type/'+ deviceType.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'device-type/'+ deviceType.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
