<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myDeviceTypeLabel" jhiTranslate="managementPortalApp.deviceType.home.createOrEditLabel">Create or edit a Device Type</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!deviceType.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="deviceType.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="managementPortalApp.deviceType.deviceProducer" for="field_deviceProducer">Device Producer</label>
            <input type="text" class="form-control" name="deviceProducer" id="field_deviceProducer"
                [(ngModel)]="deviceType.deviceProducer"
             required />
            <div [hidden]="!(editForm.controls.deviceProducer?.dirty && editForm.controls.deviceProducer?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.deviceProducer?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="managementPortalApp.deviceType.deviceModel" for="field_deviceModel">Device Model</label>
            <input type="text" class="form-control" name="deviceModel" id="field_deviceModel"
                [(ngModel)]="deviceType.deviceModel"
            required />
            <div [hidden]="!(editForm.controls.deviceModel?.dirty && editForm.controls.deviceModel?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.deviceModel?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="managementPortalApp.deviceType.catalogVersion" for="field_deviceVersion">Device Version</label>
            <input type="text" class="form-control" name="catalogVersion" id="field_deviceVersion"
                   [(ngModel)]="deviceType.catalogVersion"
                   required />
            <div [hidden]="!(editForm.controls.catalogVersion?.dirty && editForm.controls.catalogVersion?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.catalogVersion?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="managementPortalApp.deviceType.sourceTypeScope" for="field_sourceTypeScope">Source Type Scope</label>
            <select class="form-control" name="sourceTypeScope" [(ngModel)]="deviceType.sourceTypeScope" id="field_sourceTypeScope"  required>
                <option value="ACTIVE" jhiTranslate="managementPortalApp.SourceTypeScope.ACTIVE">ACTIVE</option>
                <option value="PASSIVE" jhiTranslate="managementPortalApp.SourceTypeScope.PASSIVE">PASSIVE</option>
            </select>
            <div [hidden]="!(editForm.controls.sourceTypeScope?.dirty && editForm.controls.sourceTypeScope?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.sourceTypeScope?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <tr>
                <td>
                    <label class="form-control-label"
                           jhiTranslate="managementPortalApp.deviceType.dynamicRegistration"
                           for="field_hasDynamicId">Has dynamic id</label>
                </td>
                <td>
                    <span>
                    <input type="checkbox" class="form-control" name="hasDynamicId"
                           id="field_hasDynamicId"
                           [(ngModel)]="deviceType.canRegisterDynamically"/>
                        </span>
                </td>
            </tr>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="managementPortalApp.deviceType.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                   [(ngModel)]="deviceType.name"
            />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="managementPortalApp.deviceType.description" for="">Description</label>
            <input type="text" class="form-control" name="field_description" id="field_description"
                   [(ngModel)]="deviceType.description"
            />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="managementPortalApp.deviceType.assessmentType" for="field_assessmentType">Assessment Type</label>
            <input type="text" class="form-control" name="assessmentType" id="field_assessmentType"
                   [(ngModel)]="deviceType.assessmentType"
            />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="managementPortalApp.deviceType.appProvider" for="field_appProvider">App Provider</label>
            <input type="text" class="form-control" name="appProvider" id="field_appProvider"
                   [(ngModel)]="deviceType.appProvider"
            />
        </div>

        <div class="form-group">
            <label jhiTranslate="managementPortalApp.deviceType.sourceData" for="field_sourceData">Source data</label>
            <select class="form-control" id="field_sourceData" multiple name="sourceData" [(ngModel)]="deviceType.sourceData">
                <option [ngValue]="getSelected(deviceType.sourceData, sourceDataOption)" *ngFor="let sourceDataOption of sourceData; trackBy: trackSourceDataById">{{sourceDataOption.sensorName}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
