<form #editForm="ngForm" (ngSubmit)="save()" name="editForm" novalidate role="form">

    <div class="modal-header">
        <h4 [translate]="'managementPortalApp.oauthClient.home.createOrEditLabel'" class="modal-title"
            id="myOAuthClientLabel">
        </h4>
        <button (click)="clear()" aria-hidden="true" class="close" data-dismiss="modal"
                type="button">&times;
        </button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div *ngIf="protectedClient" class="alert alert-danger">
            <strong>This is a protected client.</strong> You will not be able to make any changes to it.
        </div>
        <div class="form-group">
            <label [translate]="'managementPortalApp.oauthClient.clientId'" class="form-control-label"
                   for="id">
            </label>
            <input *ngIf="!newClient" [(ngModel)]="client.clientId" class="form-control" id="id" name="id" readonly
                   type="text"/>
            <input *ngIf="newClient" [(ngModel)]="client.clientId" class="form-control" id="id" name="id"
                   pattern="[_'.@A-Za-z0-9- ]*"
                   required type="text"/>
            <div [hidden]="!(editForm.controls.id?.dirty && editForm.controls.id?.invalid)">
                <small [hidden]="!editForm.controls.id?.errors?.required"
                       [translate]="'entity.validation.required'"
                       class="form-text text-danger">
                </small>
                <small [hidden]="!editForm.controls.id?.errors?.pattern"
                       [translateParams]="{pattern: 'alphanumerics, dash (-), underscore (_), space ( ) and period (.)'}"
                       [translate]="'entity.validation.pattern'"
                       class="form-text text-danger">
                </small>
            </div>
        </div>
        <div class="form-group">
            <label [translate]="'managementPortalApp.oauthClient.clientSecret'" class="form-control-label"
                   for="secret">
            </label>

            <div class="form-group">
                <label [translate]="'managementPortalApp.oauthClient.additionalInformation'" class="form-control-label"
                       for="dynamicRegistration">
                </label>
                <div class="form-check">
                    <label class="form-check-label">
                        <input (change)="emptySecret = !emptySecret" [checked]="emptySecret"
                               [disabled]="protectedClient" class="form-check-input"
                               id="emptySecret" name="emptySecret"
                               type="checkbox"/> Empty secret for Public Client
                    </label>
                </div>
                <small class="form-text text-muted" id="emptySecretHelp">Enable it to set empty client secret. Public
                    clients do not need a secret.</small>
            </div>
            <div [hidden]="emptySecret" id="secretInputBox">
                <div class="input-group">
                    <input [(ngModel)]="client.clientSecret" [disabled]="protectedClient"
                           [required]="newClient && !emptySecret" class="form-control"
                           id="secret" name="clientSecret"
                           type="text"/>
                    <span class="input-group-btn"><button (click)="generateRandomSecret()" class="btn btn-secondary"
                                                          type="button"><span class="fa fa-magic">&nbsp;</span>Randomize</button></span>
                </div>
                <div [hidden]="!newClient || (newClient && !(editForm.controls.clientSecret?.dirty && editForm.controls.clientSecret?.invalid))">
                    <small [hidden]="!editForm.controls.clientSecret?.errors?.required"
                           [translate]="'entity.validation.required'"
                           class="form-text text-danger">
                    </small>
                </div>
                <small *ngIf="!newClient" class="form-text text-muted" id="secretHelp">If this field is left empty the
                    secret will not be modified.</small>
            </div>
        </div>
        <div class="form-group">
            <label [translate]="'managementPortalApp.oauthClient.scope'" class="form-control-label"
                   for="scope">
            </label>
            <input [(ngModel)]="scopeList" [disabled]="protectedClient" class="form-control" id="scope" name="scope"
                   required type="text"/>
            <small class="form-text text-muted" id="scopeHelp">Comma seperated list of scopes. Scopes should have the
                following structure: ENTITY.OPERATION. See the <a
                        href="https://github.com/RADAR-base/ManagementPortal/tree/master/radar-auth">radar-auth library
                    documentation</a> for more information.</small>
            <div [hidden]="!(editForm.controls.scope?.dirty && editForm.controls.scope?.invalid)">
                <small [hidden]="!editForm.controls.scope?.errors?.required"
                       [translate]="'entity.validation.required'"
                       class="form-text text-danger">
                </small>
            </div>
        </div>
        <div class="form-group">
            <label [translate]="'managementPortalApp.oauthClient.resourceIds'" class="form-control-label"
                   for="resourceIds">
            </label>
            <input [(ngModel)]="resourcesList" [disabled]="protectedClient" class="form-control" id="resourceIds"
                   name="resourceIds"
                   required type="text"/>
            <small class="form-text text-muted" id="resourceIdsHelp">Comma seperated list of allowed resource
                IDs.</small>
            <div [hidden]="!(editForm.controls.resourceIds?.dirty && editForm.controls.resourceIds?.invalid)">
                <small [hidden]="!editForm.controls.resourceIds?.errors?.required"
                       [translate]="'entity.validation.required'"
                       class="form-text text-danger">
                </small>
            </div>
        </div>
        <div class="form-group">
            <label [translate]="'managementPortalApp.oauthClient.authorizedGrantTypes'" class="form-control-label"
                   for="grantTypes">
            </label>
            <div id="grantTypes">
                <div *ngFor="let grant of grantTypes" class="form-check">
                    <label class="form-check-label">
                        <input (change)="grant.authorized = !grant.authorized" [checked]="grant.authorized"
                               [disabled]="protectedClient" class="form-check-input"
                               name="grantTypes"
                               type="checkbox"/> {{ grant.name }}
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label [translate]="'managementPortalApp.oauthClient.redirectUri'" class="form-control-label"
                   for="redirectUri">
            </label>
            <input [(ngModel)]="redirectUriList" [disabled]="protectedClient" class="form-control" id="redirectUri"
                   name="redirectUri"
                   type="text"/>
            <small class="form-text text-muted" id="redirectUriHelp">Comma seperated list of resolvable redirect
                URIs. </small>
        </div>
        <div class="form-group">
            <label [translate]="'managementPortalApp.oauthClient.autoApprove'" class="form-control-label"
                   for="autoApprove">
            </label>
            <input [(ngModel)]="autoApproveScopeList" [disabled]="protectedClient" class="form-control" id="autoApprove"
                   name="autoApprove" type="text"/>
            <small class="form-text text-muted" id="autoApproveHelp">Comma seperated list of scopes that do not require
                explicit user approval in the authorization code grant.</small>
        </div>
        <div class="form-group">
            <label [translate]="'managementPortalApp.oauthClient.accessTokenValidity'" class="form-control-label"
                   for="accessTokenValidity">
            </label>
            <input [(ngModel)]="client.accessTokenValiditySeconds" [disabled]="protectedClient" class="form-control"
                   id="accessTokenValidity"
                   name="accessTokenValidity" pattern="\d+" required type="text"/>
            <small class="form-text text-muted" id="accessTokenValidityHelp">Token validity period in seconds.</small>
            <div [hidden]="!(editForm.controls.accessTokenValidity?.dirty && editForm.controls.accessTokenValidity?.invalid)">
                <small [hidden]="!editForm.controls.accessTokenValidity?.errors?.required"
                       [translate]="'entity.validation.required'"
                       class="form-text text-danger">
                </small>
                <small [hidden]="!editForm.controls.accessTokenValidity?.errors?.pattern"
                       [translate]="'entity.validation.number'"
                       class="form-text text-danger">
                </small>
            </div>
        </div>
        <div class="form-group">
            <label [translate]="'managementPortalApp.oauthClient.refreshTokenValidity'" class="form-control-label"
                   for="refreshTokenValidity">
            </label>
            <input [(ngModel)]="client.refreshTokenValiditySeconds" [disabled]="protectedClient" class="form-control"
                   id="refreshTokenValidity"
                   name="refreshTokenValidity" pattern="\d+" required
                   type="text"/>
            <small class="form-text text-muted" id="refreshTokenValidityHelp">Token validity period in seconds.</small>
            <div [hidden]="!(editForm.controls.refreshTokenValidity?.dirty && editForm.controls.refreshTokenValidity?.invalid)">
                <small [hidden]="!editForm.controls.refreshTokenValidity?.errors?.required"
                       [translate]="'entity.validation.required'"
                       class="form-text text-danger">
                </small>
                <small [hidden]="!editForm.controls.refreshTokenValidity?.errors?.pattern"
                       [translate]="'entity.validation.number'"
                       class="form-text text-danger">
                </small>
            </div>
        </div>
        <div class="form-group">
            <label [translate]="'managementPortalApp.oauthClient.additionalInformation'" class="form-control-label"
                   for="dynamicRegistration">
            </label>
            <div class="form-check">
                <label class="form-check-label">
                    <input (change)="dynamicRegistration = !dynamicRegistration" [checked]="dynamicRegistration"
                           [disabled]="protectedClient" class="form-check-input"
                           id="dynamicRegistration" name="dynamicRegistration"
                           type="checkbox"/> Dynamic registration allowed
                </label>
            </div>
            <small class="form-text text-muted" id="dynamicRegistrationHelp">If enabled this will allow the OAuth client
                to dynamically register data sources.</small>
        </div>
    </div>
    <div class="modal-footer">
        <button (click)="clear()" class="btn btn-default" data-dismiss="modal" type="button">
            <span class="fa fa-ban"></span>&nbsp;<span [translate]="'entity.action.cancel'"></span>
        </button>
        <button [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary" type="submit">
            <span class="fa fa-save"></span>&nbsp;<span [translate]="'entity.action.save'"></span>
        </button>
    </div>
</form>
