<div>
    <h4>
       <span jhiTranslate="managementPortalApp.oauthClient.home.title">OAuth Clients</span>
       <button class="btn btn-primary float-right"
               [routerLink]="['/', { outlets: { popup: ['oauth-client-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="managementPortalApp.oauthClient.home.createLabel">
            Create new Subject
            </span>
        </button>
    </h4>

    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><span jhiTranslate="managementPortalApp.oauthClient.clientId">Client ID</span></th>
                    <th><span jhiTranslate="managementPortalApp.oauthClient.scope">Scope</span></th>
                    <th><span jhiTranslate="managementPortalApp.oauthClient.resourceIds">Resources</span></th>
                    <th><span jhiTranslate="managementPortalApp.oauthClient.authorizedGrantTypes">Grant Types</span></th>
                    <th><span jhiTranslate="managementPortalApp.oauthClient.autoApprove">Auto Approve</span></th>
                    <th><span jhiTranslate="managementPortalApp.oauthClient.accessTokenValidity">Access Token Validity</span></th>
                    <th><span jhiTranslate="managementPortalApp.oauthClient.refreshTokenValidity">Refresh Token Validity</span></th>
                    <th><span jhiTranslate="managementPortalApp.oauthClient.additionalInformation">Additional Information</span></th>
                    <th><span jhiTranslate="managementPortalApp.oauthClient.actions">Actions</span></th>
                </tr>
            </thead>
            <tbody>
                    <tr *ngFor="let client of oauthClients ;trackBy: trackId">
                        <td>{{client.clientId}}</td>
                        <td><span *ngFor="let scope of client.scope; let last = last"><span class="badge badge-primary">{{scope}}</span>{{last ? "" : "&nbsp;"}}</span></td>
                        <td><span *ngFor="let resource of client.resourceIds; let last = last"><span class="badge badge-default">{{resource}}</span>{{last ? "" : "&nbsp;"}}</span></td>
                        <td><span *ngFor="let granttype of client.authorizedGrantTypes; let last = last"><span class="badge badge-default">{{granttype}}</span>{{last ? "" : "&nbsp;"}}</span></td>
                        <td><span *ngFor="let scope of client.autoApproveScopes; let last = last"><span class="badge badge-primary">{{scope}}</span>{{last ? "" : "&nbsp;"}}</span></td>
                        <td>{{client.accessTokenValidity}}</td>
                        <td>{{client.refreshTokenValidity}}</td>
                        <td><span *ngFor="let infoKey of objectKeys(client.additionalInformation); let last = last"><span class="badge badge-info">{{infoKey}}: {{client.additionalInformation[infoKey]}}</span>{{last ? "" : "&nbsp;"}}</span></td>
                        <td class="text-right">
                            <div class="btn-group flex-btn-group-container">
                                <button type="submit"
                                        [routerLink]="['/', { outlets: { popup: ['oauth-client', client.clientId, 'edit']} }]"
                                        replaceUrl="true"
                                        class="btn btn-primary btn-sm">
                                    <span class="fa fa-pencil"></span>
                                    <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                                </button>
                                <button type="submit"
                                        [routerLink]="['/', { outlets: { popup: ['oauth-client', client.clientId, 'delete']} }]"
                                        replaceUrl="true"
                                        class="btn btn-danger btn-sm">
                                    <span class="fa fa-remove"></span>
                                    <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                                </button>
                            </div>
                    </tr>
            </tbody>
        </table>
    </div>

</div>
