<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myOAuthClientLabel" jhiTranslate="managementPortalApp.oauthClient.home.createOrEditLabel">Create or edit an OAuth Client</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="alert alert-danger" *ngIf="protectedClient">
            <strong>This is a protected client.</strong> You will not be able to make any changes to it.
        </div>
        <div class="form-group">
            <label class="form-control-label" for="id" jhiTranslate="managementPortalApp.oauthClient.clientId">Client ID</label>
            <input *ngIf="!newClient" type="text" class="form-control" id="id" name="id" [(ngModel)]="client.clientId" readonly />
            <input *ngIf="newClient" type="text" class="form-control" id="id" name="id" [(ngModel)]="client.clientId" required pattern="[_'.@A-Za-z0-9-]*" />
            <div [hidden]="!(editForm.controls.id?.dirty && editForm.controls.id?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.id?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
                <small class="form-text text-danger"
                        [hidden]="!editForm.controls.id?.errors?.pattern" jhiTranslate="entity.validation.pattern" translateValues="{pattern: 'alphanumerics, dash (-), underscore (_) and period (.)'}">
                    Validation error.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="secret" jhiTranslate="managementPortalApp.oauthClient.clientSecret">Client Secret</label>
            <div class="input-group">
                <input type="text" class="form-control" id="secret" name="clientSecret" [(ngModel)]="client.clientSecret" [disabled]="protectedClient" [required]="newClient" />
                <span class="input-group-btn"><button class="btn btn-secondary" type="button" (click)="generateRandomSecret()"><span class="fa fa-magic">&nbsp;</span>Randomize</button></span>
            </div>
            <div [hidden]="!newClient || (newClient && !(editForm.controls.clientSecret?.dirty && editForm.controls.clientSecret?.invalid))">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.clientSecret?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
            </div>
            <small id="secretHelp" class="form-text text-muted" *ngIf="!newClient">If this field is left empty the secret will not be modified.</small>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="scope" jhiTranslate="managementPortalApp.oauthClient.scope">Scope</label>
            <input type="text" class="form-control" id="scope" name="scope" [(ngModel)]="scopeList" [disabled]="protectedClient" required />
            <small id="scopeHelp" class="form-text text-muted">Comma seperated list of scopes. Scopes should have the following structure: ENTITY.OPERATION. See the <a href="https://github.com/RADAR-CNS/ManagementPortal/tree/master/radar-auth">radar-auth library documentation</a> for more information.</small>
            <div [hidden]="!(editForm.controls.scope?.dirty && editForm.controls.scope?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.scope?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="resourceIds" jhiTranslate="managementPortalApp.oauthClient.resourceIds">Resources</label>
            <input type="text" class="form-control" id="resourceIds" name="resourceIds" [(ngModel)]="resourcesList" [disabled]="protectedClient" required />
            <small id="resourceIdsHelp" class="form-text text-muted">Comma seperated list of allowed resource IDs.</small>
            <div [hidden]="!(editForm.controls.resourceIds?.dirty && editForm.controls.resourceIds?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.resourceIds?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="grantTypes" jhiTranslate="managementPortalApp.oauthClient.authorizedGrantTypes">Grant Types</label>
            <div id="grantTypes">
                <div class="form-check" *ngFor="let grant of grantTypes">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" name="grantTypes" [checked]="grant.authorized" (change)="grant.authorized = !grant.authorized" [disabled]="protectedClient" /> {{grant.name}}
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="autoApprove" jhiTranslate="managementPortalApp.oauthClient.autoApprove">Auto Approve</label>
            <input type="text" class="form-control" id="autoApprove" name="autoApprove" [(ngModel)]="autoApproveScopeList" [disabled]="protectedClient" />
            <small id="autoApproveHelp" class="form-text text-muted">Comma seperated list of scopes that do not require explicit user approval in the authorization code grant.</small>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="accessTokenValidity" jhiTranslate="managementPortalApp.oauthClient.accessTokenValidity">Access Token Validity</label>
            <input type="text" class="form-control" id="accessTokenValidity" name="accessTokenValidity" [(ngModel)]="client.accessTokenValiditySeconds" [disabled]="protectedClient" required pattern="\d+" />
            <div [hidden]="!(editForm.controls.accessTokenValidity?.dirty && editForm.controls.accessTokenValidity?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.accessTokenValidity?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
                <small class="form-text text-danger"
                        [hidden]="!editForm.controls.accessTokenValidity?.errors?.pattern" jhiTranslate="entity.validation.number">
                    This field is numeric.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="refreshTokenValidity" jhiTranslate="managementPortalApp.oauthClient.refreshTokenValidity">Refresh Token Validity</label>
            <input type="text" class="form-control" id="refreshTokenValidity" name="refreshTokenValidity" [(ngModel)]="client.refreshTokenValiditySeconds" [disabled]="protectedClient" required pattern="\d+" />
            <div [hidden]="!(editForm.controls.refreshTokenValidity?.dirty && editForm.controls.refreshTokenValidity?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.refreshTokenValidity?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
                <small class="form-text text-danger"
                        [hidden]="!editForm.controls.refreshTokenValidity?.errors?.pattern" jhiTranslate="entity.validation.number">
                    This field is numeric.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="dynamicRegistration" jhiTranslate="managementPortalApp.oauthClient.additionalInformation">Additional Information</label>
            <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" id="dynamicRegistration" class="form-check-input" name="dynamicRegistration" [checked]="dynamicRegistration" (change)="dynamicRegistration = !dynamicRegistration" [disabled]="protectedClient" /> Dynamic registration allowed
                    </label>
                </div>
                <small id="dynamicRegistrationHelp" class="form-text text-muted">If enabled this will allow the OAuth client to dynamically register data sources.</small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
