<div class="section  space-between graph  {{ isSingleRow ? 'flex' : '' }}">
    <div class="flex-test" style="flex: 1">
        <div>
            <span
                class=" image-size {{ logoClass }}"
                [style.background-color]="color"
            ></span>
        </div>

        <div>
            <p class="bold break-text {{ longHeading ? 'long-text' : '' }}">
                {{ title }}
            </p>
        </div>
    </div>

    <div class="flex-test" style="padding-right: 100px" *ngIf="showTotal">
      <div *ngIf="showTotalAverage">
        <label class="bold sub-label no-bottom-margin"
            ><strong>Total average</strong></label
        >
        <p
            class="label text bold value"
            style="padding: 0; margin: 0"
            [ngStyle]="{ color: color }"
        >
            {{ totalValue }}
        </p>
      </div>

        <div class="row"></div>

        <div>
            <label class="bold sub-label no-bottom-margin"
            ><strong>Monthly Average</strong></label
        >
        <p
            class="label text bold value"
            [ngStyle]="{ color: color }"
            style="padding: 0; margin: 0"
        >
            {{ totalAverage }}
        </p>
        </div>

    </div>

    <canvas class="chart-width" [id]="chartId">{{ chartGraph }}</canvas>
</div>
<div class="border"></div>
