<form name="pairForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySubjectLabel" jhiTranslate="managementPortalApp.subject.home.pairAppLabel">Pair an application</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!subject.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="subject.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="managementPortalApp.subject.login">Login</label>
            <input type="text" class="form-control" name="login" #loginInput="ngModel"
                   [(ngModel)]="subject.login" required minlength=1 maxlength=50 pattern="^[_'.@A-Za-z0-9-]*$" [disabled]="subject.id">

            <div *ngIf="loginInput.dirty && loginInput.invalid">
                <small class="form-text text-danger"
                       *ngIf="loginInput.errors.required" jhiTranslate="entity.validation.required">
                    This field is required.
                </small>

                <small class="form-text text-danger"
                       *ngIf="loginInput.errors.maxlength" jhiTranslate="entity.validation.maxlength"
                       translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group" [hidden]="subject.id">
            <label class="form-control-label" jhiTranslate="managementPortalApp.subject.email">Email</label>
            <input type="email" class="form-control" name="email" #emailInput="ngModel"
                   [(ngModel)]="subject.email" maxlength="100" >

            <div *ngIf="emailInput.dirty && emailInput.invalid">
                <!--    <small class="form-text text-danger"
                       *ngIf="emailInput.errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>-->

                <small class="form-text text-danger"
                       *ngIf="emailInput.errors.maxlength" jhiTranslate="entity.validation.maxlength"
                       translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </small>
                <small class="form-text text-danger"
                       *ngIf="emailInput.errors.email" jhiTranslate="global.messages.validate.email.invalid">
                    Your email is invalid.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="managementPortalApp.subject.clientApp" for="field_clientApp">Client app</label>
            <select class="form-control" id="field_clientApp" name="client" [(ngModel)]="selectedClient" (change)="updateQRCode()" required>
                <option [ngValue]="null"></option>
                <option [ngValue]="clientOption" *ngFor="let clientOption of oauthClients; trackBy: trackOAuthClientById">{{clientOption.clientId}}</option>
            </select>
            <div [hidden]="!(editForm.controls.client?.dirty && editForm.controls.client?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.client?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
            </div>
        </div>

        <div class="form-group" *ngIf="selectedClient">
            <div class="text-center">
                <qr-code [value]="oauthClientPairInfo" [size]="450"></qr-code>
            </div>
        </div>
    </div>
</form>
