<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySubjectLabel" jhiTranslate="managementPortalApp.subject.home.createOrEditLabel">Create or edit a Subject</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!subject.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="subject.id" readonly />
        </div>

        <div class="form-group" [hidden]="subject.id">
            <label class="form-control-label" jhiTranslate="managementPortalApp.subject.email">Email</label>
            <input type="email" class="form-control" name="email" #emailInput="ngModel"
                   [(ngModel)]="subject.email" maxlength="100" >

            <div *ngIf="emailInput.dirty && emailInput.invalid">
            <!--    <small class="form-text text-danger"
                   *ngIf="emailInput.errors.required" jhiTranslate="entity.validation.required">
                    This field is required.
                </small>-->

                <small class="form-text text-danger"
                       *ngIf="emailInput.errors.maxlength" jhiTranslate="entity.validation.maxlength"
                       translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </small>
                <small class="form-text text-danger"
                       *ngIf="emailInput.errors.email" jhiTranslate="global.messages.validate.email.invalid">
                    Your email is invalid.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="managementPortalApp.subject.externalLink" for="field_externalLink">External Link</label>
            <input type="text" class="form-control" name="externalLink" id="field_externalLink"
                [(ngModel)]="subject.externalLink"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="managementPortalApp.subject.externalId" for="field_externalId">External Id</label>
            <input type="text" class="form-control" name="externalId" id="field_externalId"
                [(ngModel)]="subject.externalId"
             />
        </div>

        <div class="form-group">
            <label jhiTranslate="managementPortalApp.subject.project" for="field_project">Project</label>
            <select class="form-control" id="field_project" name="project" [(ngModel)]="subject.project" required>
                <option [ngValue]="null"></option>
                <option [ngValue]="projectOption.id === subject.project?.id ? subject.project : projectOption" *ngFor="let projectOption of projects; trackBy: trackProjectById">{{projectOption.projectName}}</option>
            </select>
            <div [hidden]="!(editForm.controls.project?.dirty && editForm.controls.project?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.project?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="managementPortalApp.subject.sources" for="field_devices">Sources</label>
            <select class="form-control" id="field_devices" multiple name="sources" [(ngModel)]="subject.sources" >
                <option [ngValue]="getSelected(subject.sources, deviceOption)" *ngFor="let deviceOption of sources; trackBy: trackDeviceById">{{deviceOption.deviceTypeAndSourceId}}</option>
            </select>
        </div>

        <attribute-mapper [attributes]='subject.attributes' [keys]='keys' [eventPrefix]='attributeComponentEventPrefix'></attribute-mapper>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
