dsn: memory

serve:
  public:
    base_url: http://127.0.0.1:4433/
    cors:
      enabled: true
  admin:
    base_url: http://kratos:4434/

selfservice:
  default_browser_return_url: http://127.0.0.1:3000/
  allowed_return_urls:
    - http://127.0.0.1:3000/
    - http://127.0.0.1:8081/

  methods:
    password:
      enabled: true
#    oidc:
#      config:
#        providers:
#          # social sign-in for google. This needs to be tied to a google account. values below were added by bastiaan
#          - id: google_d292689d # this is `<provider-id>` in the Authorization callback URL. DO NOT CHANGE IT ONCE SET! current google callback: http://127.0.0.1:4433/self-service/methods/oidc/callback/google_d292689d
#            provider: google
#            client_id: 922854293804-r3fhl9tom6uutcq5c8fm4592l1t6s3mh.apps.googleusercontent.com # Replace this with the Client ID
#            client_secret: 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 # Replace this with the Client secret
#            issuer_url: https://accounts.google.com # Replace this with the providers issuer URL
#            mapper_url: "base64://bG9jYWwgY2xhaW1zID0gewogIGVtYWlsX3ZlcmlmaWVkOiBmYWxzZSwKfSArIHN0ZC5leHRWYXIoJ2NsYWltcycpOwoKewogIGlkZW50aXR5OiB7CiAgICB0cmFpdHM6IHsKICAgICAgW2lmICdlbWFpbCcgaW4gY2xhaW1zICYmIGNsYWltcy5lbWFpbF92ZXJpZmllZCB0aGVuICdlbWFpbCcgZWxzZSBudWxsXTogY2xhaW1zLmVtYWlsLAogICAgfSwKICB9LAp9"
#            # currently: GitHub example from: https://www.ory.sh/docs/kratos/social-signin/data-mapping
#            # Alternatively, use an URL:
#            # mapper_url: https://storage.googleapis.com/abc-cde-prd/9cac9717f007808bf17
#            scope:
#              - email
#            # supported scopes can be found in your providers dev docs
#      enabled: true
    totp:
      config:
        issuer: Kratos
      enabled: true
    link:
      enabled: true

  flows:
    error:
      ui_url: http://127.0.0.1:3000/error

    settings:
      ui_url: http://127.0.0.1:3000/settings

    recovery:
      enabled: true
      ui_url: http://127.0.0.1:3000/recovery
      use: link

    verification:
      # our current flow necessitates that users reset their password after they activate an account in managementportal,
      # this works as verification
      ui_url: http://127.0.0.1:3000/verification
      enabled: true
      use: link
      after:
        default_browser_return_url: http://127.0.0.1:3000

    logout:
      after:
        default_browser_return_url: http://127.0.0.1:3000/login

    login:
      ui_url: http://127.0.0.1:3000/login

    registration:
      ui_url: http://127.0.0.1:3000/registration
      after:
        password:
          hooks:
            - hook: session
        oidc:
          hooks:
            - hook: session

log:
  level: debug
  format: text

hashers:
  argon2:
    parallelism: 1
    memory: 128KB
    iterations: 2
    salt_length: 16
    key_length: 16

identity:
  default_schema_id: user
  schemas:
    - id: user
      url: file:///etc/config/kratos/identities/identity.schema.user.json

courier:
  smtp:
    connection_uri: smtps://test:test@mailslurper:1025/?skip_ssl_verify=true&disable_starttls=true
    from_address: noreply@radar-base.org
