<div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2 *ngIf="settingsAccount"
                [innerHTML]="'settings.title' | translate:{username: settingsAccount.login}">
            </h2>

            <div *ngIf="success"
                 [innerHTML]="'settings.messages.success' | translate"
                 class="alert alert-success">
            </div>

            <jhi-alert-error></jhi-alert-error>

            <form #settingsForm="ngForm" (ngSubmit)="save()" *ngIf="settingsAccount" name="form" novalidate role="form">

                <div class="form-group">
                    <label [translate]="'settings.form.firstname'"
                           class="form-control-label"
                           for="firstName">
                    </label>
                    <input #firstNameInput="ngModel" [(ngModel)]="settingsAccount.firstName" class="form-control"
                           id="firstName"
                           maxlength=50
                           minlength=1 name="firstName"
                           placeholder="{{'settings.form.firstname.placeholder' | translate}}" required
                           type="text">
                    <div *ngIf="firstNameInput.dirty && firstNameInput.invalid">
                        <small *ngIf="firstNameInput.errors.required"
                               [translate]="'settings.messages.validate.firstname.required'"
                               class="form-text text-danger">
                        </small>
                        <small *ngIf="firstNameInput.errors.minlength"
                               [translate]="'settings.messages.validate.firstname.minlength'"
                               class="form-text text-danger">
                        </small>
                        <small *ngIf="firstNameInput.errors.maxlength"
                               [translate]="'settings.messages.validate.firstname.maxlength'"
                               class="form-text text-danger">
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label [translate]="'settings.form.lastname'"
                           class="form-control-label"
                           for="lastName">
                    </label>
                    <input #lastNameInput="ngModel" [(ngModel)]="settingsAccount.lastName" class="form-control"
                           id="lastName"
                           maxlength=50
                           minlength=1 name="lastName"
                           placeholder="{{'settings.form.lastname.placeholder' | translate}}" required
                           type="text">
                    <div *ngIf="lastNameInput.dirty && lastNameInput.invalid">
                        <small *ngIf="lastNameInput.errors.required"
                               [translate]="'settings.messages.validate.lastname.required'"
                               class="form-text text-danger">
                        </small>
                        <small *ngIf="lastNameInput.errors.minlength"
                               [translate]="'settings.messages.validate.lastname.minlength'"
                               class="form-text text-danger">
                        </small>
                        <small *ngIf="lastNameInput.errors.maxlength"
                               [translate]="'settings.messages.validate.lastname.maxlength'"
                               class="form-text text-danger">
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label [translate]="'global.form.email'"
                           class="form-control-label"
                           for="email">
                    </label>
                    <input #emailInput="ngModel" [(ngModel)]="settingsAccount.email" class="form-control" id="email"
                           maxlength=100
                           minlength=5 name="email" placeholder="{{'global.form.email.placeholder' | translate}}"
                           required type="email">
                    <div *ngIf="emailInput.dirty && emailInput.invalid">
                        <small *ngIf="emailInput.errors.required"
                               [translate]="'global.messages.validate.email.required'"
                               class="form-text text-danger">
                        </small>
                        <small *ngIf="emailInput.errors.email"
                               [translate]="'global.messages.validate.email.invalid'"
                               class="form-text text-danger">
                        </small>
                        <small *ngIf="emailInput.errors.minlength"
                               [translate]="'global.messages.validate.email.minlength'"
                               class="form-text text-danger">
                        </small>
                        <small *ngIf="emailInput.errors.maxlength"
                               [translate]="'global.messages.validate.email.maxlength'"
                               class="form-text text-danger">
                        </small>
                    </div>
                </div>
                <div *ngIf="languageHelper.languages$ | async as languages" class="form-group">
                    <label [translate]="'settings.form.language'" for="langKey"></label>
                    <select [(ngModel)]="settingsAccount.langKey" class="form-control" id="langKey" name="langKey">
                        <option *ngFor="let language of languages"
                                [value]="language">{{ language | findLanguageFromKey }}
                        </option>
                    </select>
                </div>
                <button [disabled]="settingsForm.form.invalid" [translate]="'settings.form.button'"
                        class="btn btn-primary"
                        type="submit">
                </button>
            </form>
        </div>
    </div>

</div>
