<div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2 *ngIf="settingsAccount"
                [innerHTML]="'settings.title' | translate:{username: settingsAccount.login}">
            </h2>

            <div *ngIf="success"
                class="alert alert-success"
                [innerHTML]="'settings.messages.success' | translate">
            </div>

            <jhi-alert-error></jhi-alert-error>

            <form name="form" role="form" (ngSubmit)="save()" #settingsForm="ngForm" *ngIf="settingsAccount" novalidate>

                <div class="form-group">
                    <label class="form-control-label"
                        for="firstName"
                        [translate]="'settings.form.firstname'">
                    </label>
                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="{{'settings.form.firstname.placeholder' | translate}}"
                           [(ngModel)]="settingsAccount.firstName" minlength=1 maxlength=50 #firstNameInput="ngModel" required>
                    <div *ngIf="firstNameInput.dirty && firstNameInput.invalid">
                        <small class="form-text text-danger"
                           *ngIf="firstNameInput.errors.required"
                           [translate]="'settings.messages.validate.firstname.required'">
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="firstNameInput.errors.minlength"
                           [translate]="'settings.messages.validate.firstname.minlength'">
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="firstNameInput.errors.maxlength"
                           [translate]="'settings.messages.validate.firstname.maxlength'">
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label"
                        for="lastName"
                        [translate]="'settings.form.lastname'">
                    </label>
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="{{'settings.form.lastname.placeholder' | translate}}"
                           [(ngModel)]="settingsAccount.lastName" minlength=1 maxlength=50 #lastNameInput="ngModel" required>
                    <div *ngIf="lastNameInput.dirty && lastNameInput.invalid">
                        <small class="form-text text-danger"
                           *ngIf="lastNameInput.errors.required"
                           [translate]="'settings.messages.validate.lastname.required'">
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="lastNameInput.errors.minlength"
                           [translate]="'settings.messages.validate.lastname.minlength'">
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="lastNameInput.errors.maxlength"
                           [translate]="'settings.messages.validate.lastname.maxlength'">
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label"
                        for="email"
                        [translate]="'global.form.email'">
                    </label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="{{'global.form.email.placeholder' | translate}}"
                           [(ngModel)]="settingsAccount.email" minlength=5 maxlength=100 #emailInput="ngModel" required disabled>
                    <div *ngIf="emailInput.dirty && emailInput.invalid">
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.required"
                           [translate]="'global.messages.validate.email.required'">
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.email"
                           [translate]="'global.messages.validate.email.invalid'">
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.minlength"
                           [translate]="'global.messages.validate.email.minlength'">
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.maxlength"
                           [translate]="'global.messages.validate.email.maxlength'">
                        </small>
                    </div>
                </div>
                <div class="form-group" *ngIf="languageHelper.languages$ | async as languages">
                    <label for="langKey" [translate]="'settings.form.language'"></label>
                    <select class="form-control" id="langKey" name="langKey" [(ngModel)]="settingsAccount.langKey">
                        <option *ngFor="let language of languages" [value]="language">{{language | findLanguageFromKey}}</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary"
                    [disabled]="settingsForm.form.invalid"
                    [translate]="'settings.form.button'">
                </button>
            </form>
        </div>
    </div>

</div>
