<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.creation.title}">JHipster creation</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<p th:text="#{email.creation.greeting} + ' ' + ${#strings.capitalize(user.login)}">
    Dear
</p>
<p th:text="#{email.creation.text1}">
    Your JHipster account has been created by RADAR-base team.
</p>
<p th:text="#{email.creation.loginIntro(${user.login})}">
    Your user name is
</p>

<p th:text="#{email.creation.text2}">
    Please click on this link below to activate your account by resetting your password.
</p>
<p>
    <a th:href="@{|${baseUrl}/#/reset/finish?key=${user.resetKey}|}"
       th:text="|${user.login}|">login</a>
</p>
<p th:text="#{email.creation.expiry(${expiry})}">
</p>

<p th:text="#{email.creation.onetimeonly}">
</p>
<p>
    <span th:text="#{email.creation.regards}">Regards, </span>
    <br/>
    <em th:text="#{email.signature}">JHipster.</em>
</p>
</body>
</html>
