# ===================================================================
# Spring Boot configuration for the "prod" profile.
#
# This configuration overrides the application.yml file.
#
# More information on profiles: https://jhipster.github.io/profiles/
# More information on configuration properties: https://jhipster.github.io/common-application-properties/
# ===================================================================

# ===================================================================
# Standard Spring Boot properties.
# Full reference is available at:
# http://docs.spring.io/spring-boot/docs/current/reference/html/common-application-properties.html
# ===================================================================
spring:
  devtools:
    restart:
      enabled: false
    livereload:
      enabled: false
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    driverClassName: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/managementportal
    name: managementportal
    username: radarbase
    password: radarbase
    hikari:
      data-source-properties:
        cachePrepStmts: true
        prepStmtCacheSize: 250
        prepStmtCacheSqlLimit: 2048
        useServerPrepStmts: true
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    database: POSTGRESQL
    show-sql: false
    properties:
      hibernate.id.new_generator_mappings: true
      hibernate.cache.use_second_level_cache: true
      hibernate.cache.use_query_cache: false
      hibernate.generate_statistics: false
      hibernate.cache.region.factory_class: com.hazelcast.hibernate.HazelcastCacheRegionFactory
      hibernate.cache.hazelcast.instance_name: ManagementPortal
      hibernate.cache.use_minimal_puts: true
      hibernate.cache.hazelcast.use_lite_member: true
  mail:
    host: smtp
    port: 25
    protocol: smtp
    properties.mail.smtp:
      auth: false
      starttls.enable: false
  thymeleaf:
    cache: true

# ===================================================================
# To enable SSL, generate a certificate using:
# keytool -genkey -alias ManagementPortal -storetype PKCS12 -keyalg RSA -keysize 2048 -keystore src/main/resources/config/keystore.p12 -validity 3650
#
# You can also use Let's Encrypt:
# https://maximilian-boehm.com/hp2121/Create-a-Java-Keystore-JKS-from-Let-s-Encrypt-Certificates.htm
#
# Then, modify the server.ssl properties so your "server" configuration looks like:
#
# server:
#    port: 443
#    ssl:
#        key-store: src/main/resources/config/keystore.p12
#        key-store-password: <your-password>
#        keyStoreType: PKCS12
#        keyAlias: ManagementPortal
# ===================================================================
server:
  port: 8080
  servlet:
    context-path: /managementportal
    session:
      cookie:
        path: /


# ===================================================================
# ManagementPortal specific properties
#
# ===================================================================
managementportal:
  common:
    baseUrl: http://my-server-url-to-change-here # Modify according to your server's URL
    managementPortalBaseUrl: http://localhost:8080/managementportal
    privacyPolicyUrl: http://info.thehyve.nl/radar-cns-privacy-policy
    adminPassword:
    activationKeyTimeoutInSeconds: 86400
  mail: # specific JHipster mail property, for standard properties see MailProperties
    from: ManagementPortal@localhost
  frontend:
    clientId: ManagementPortalapp
    clientSecret:
    accessTokenValiditySeconds: 14400
    refreshTokenValiditySeconds: 259200
    sessionTimeout: 86400
  oauth:
    clientsFile: /mp-includes/config/oauth_client_details.csv
    metaTokenTimeout: PT1H #timeout should be specified as the ISO-8601 duration format {@code PnDTnHnMn.nS}.
    persistentMetaTokenTimeout: P31D #timeout should be specified as the ISO-8601 duration format {@code PnDTnHnMn.nS}.
  catalogueServer:
    enableAutoImport: false
    serverUrl:

# ===================================================================
# JHipster specific properties
#
# Full reference is available at: https://jhipster.github.io/common-application-properties/
# ===================================================================

jhipster:
  http:
    cache: # Used by the CachingHttpHeadersFilter
      timeToLiveInDays: 1461
  cache: # Cache configuration
    hazelcast: # Hazelcast distributed cache
      time-to-live-seconds: 3600
      backup-count: 1
  logging:
    logstash: # Forward logs to logstash over a socket, used by LoggingConfiguration
      enabled: false
      host: localhost
      port: 5000
      queue-size: 512

# ===================================================================
# Application specific properties
# Add your own application properties here, see the ApplicationProperties class
# to have type-safe configuration, like in the JHipsterProperties above
#
# More documentation is available at:
# https://jhipster.github.io/common-application-properties/
# ===================================================================

application:
