<div class="top-page">

    <div class="page">
         <div class="block" style="align-items: center;">
        <h1 >Query Builder</h1>
        <div class="inputs">
            <div class="query_group">
                <mat-label>Query Group Name</mat-label>
                <input matInput [(ngModel)]="queryGrouName" class="form-control" />
            </div>
            <div class="query_group">
                <mat-label>Query Group Description</mat-label>
                <input matInput [(ngModel)]="queryGroupDesc" class="form-control" />
            </div>
        </div>

        <query-builder [(ngModel)]="query" [classNames]="bootstrapClassNames" [config]="currentConfig"
            [allowRuleset]="allowRuleset" [allowCollapse]="allowCollapse"
            [persistValueOnFieldChange]="persistValueOnFieldChange">
            <div class="col-auto" *queryInput="let rule; type: 'textarea'">
                <textarea class="form-control" [(ngModel)]="rule.value" placeholder="Custom Textarea"></textarea>
            </div>
        </query-builder>
    </div>



    <div class="block">
        <button class="btn btn-outline-primary mb-2" (click)="addContentGroup()">Add Content Group</button>
    
        <div *ngFor="let group of contentGroups; let i = index" class="mb-4 p-3 border rounded">
            <label>Content Group Name</label>
            <input type="text" class="form-control mb-2" [(ngModel)]="group.name" placeholder="Enter group name" />
        
            <query-content [(items)]="group.items"></query-content>
        </div>
        
    </div>

    <button (click)="saveQueryGroupToDB()" class="btn btn-primary saveBtn" [disabled]="isSaveButtonDisabled">Save</button>

    </div>

</div>
