<h1> Query List</h1>

<div class="padding">
    <table class="table table-striped table-bordered">
        <tr>
            <th>Query Group Name</th>
            <th>Date Added</th>
            <th>Researcher</th>
            <th>Action</th>
        </tr>
        <tr *ngFor="let group of queryGroupList">
            <td><a [routerLink]="['/edit-query', group.id]">{{ group.name }}</a></td>
            <td>{{ group.createdDate | date : "yyyy-MM-dd" }}</td>
            <td>
                {{ group.createdBy.firstName }}
                {{ group.createdBy.lastName }}
            </td>
            <td>
                <button class="btn btn-warning" (click)="archiveQueryGroup(group.id)">
                    Archive
                </button>
            </td>
        </tr>
    </table>
    
    <button class="btn btn-success" routerLink="/add-query">Add Query</button>
</div>
