
<div *ngIf="device">
    <h2><span jhiTranslate="managementPortalApp.device.detail.title">Device</span> {{device.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="managementPortalApp.device.devicePhysicalId">Device Physical Id</span></dt>
        <dd>
            <span>{{device.devicePhysicalId}}</span>
        </dd>
        <dt><span jhiTranslate="managementPortalApp.device.deviceCategory">Device Category</span></dt>
        <dd>
            <span>{{device.deviceCategory}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'device/'+ device.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
