<div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1 [translate]="'reset.finish.title'"></h1>

            <div *ngIf="keyMissing"
                class="alert alert-danger"
                [translate]="'reset.finish.messages.keymissing'">
            </div>

            <div class="alert alert-warning" *ngIf="!success && !keyMissing">
                <p [translate]="'reset.finish.messages.info'"></p>
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <p [translate]="'reset.finish.messages.error'"></p>
            </div>

            <p class="alert alert-success" *ngIf="success">
                <span [translate]="'reset.finish.messages.success'"></span>
                <a class="alert-link" (click)="login()" [translate]="'global.messages.info.authenticated.link'"></a>.
            </p>

            <div class="alert alert-danger" *ngIf="doNotMatch"
                [translate]="'global.messages.error.dontmatch'">
            </div>

            <div class="alert alert-danger" *ngIf="weakPassword"
                [translate]="'global.messages.error.weakpassword'">
            </div>

            <div *ngIf="!keyMissing">
                <form *ngIf="!success" name="form" role="form" (ngSubmit)="finishReset()" #passwordForm="ngForm">
                    <div class="form-group">
                        <label class="form-control-label" for="password"
                            [translate]="'global.form.newpassword'">
                        </label>
                        <input type="password" class="form-control" id="password" name="password" #passwordInput="ngModel"
                               placeholder="{{'global.form.newpassword.placeholder' | translate}}"
                               [(ngModel)]="resetAccount.password" minlength=8 maxlength=100 required>
                        <div *ngIf="passwordInput.dirty && passwordInput.invalid">
                            <small class="form-text text-danger"
                               *ngIf="passwordInput.errors.required"
                               [translate]="'global.messages.validate.newpassword.required'">
                            </small>
                            <small class="form-text text-danger"
                               *ngIf="passwordInput.errors.minlength"
                               [translate]="'global.messages.validate.newpassword.minlength'">
                            </small>
                            <small class="form-text text-danger"
                               *ngIf="passwordInput.errors.maxlength"
                               [translate]="'global.messages.validate.newpassword.maxlength'">
                            </small>
                        </div>
                        <jhi-password-strength-bar [passwordToCheck]="resetAccount.password"></jhi-password-strength-bar>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label"
                            for="confirmPassword"
                            [translate]="'global.form.confirmpassword'">
                        </label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel"
                               placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
                               [(ngModel)]="confirmPassword" minlength=8 maxlength=100 required>
                        <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                            <small class="form-text text-danger"
                               *ngIf="confirmPasswordInput.errors.required"
                               [translate]="'global.messages.validate.confirmpassword.required'">
                            </small>
                            <small class="form-text text-danger"
                               *ngIf="confirmPasswordInput.errors.minlength"
                               [translate]="'global.messages.validate.confirmpassword.minlength'">
                            </small>
                            <small class="form-text text-danger"
                               *ngIf="confirmPasswordInput.errors.maxlength"
                               [translate]="'global.messages.validate.confirmpassword.maxlength'">
                            </small>
                        </div>
                    </div>
                    <button type="submit" [disabled]="passwordForm.form.invalid"
                        class="btn btn-primary"
                        [translate]="'reset.finish.form.button'">
                    </button>
                </form>
            </div>

        </div>
    </div>
</div>
