<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myProjectLabel"
            [translate]="'managementPortalApp.project.home.createOrEditLabel'">
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!projectCopy.id">
            <label for="id" [translate]="'global.field.id'"></label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="projectCopy.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label"
                [translate]="'managementPortalApp.project.projectName'"
                for="field_projectName">
            </label>
            <input type="text" class="form-control" name="projectName" id="field_projectName"
                [(ngModel)]="projectCopy.projectName" required pattern="[_'.@A-Za-z0-9- ]*" />
            <small id="projectIdHelp" class="form-text text-muted"
                [translate]="'managementPortalApp.project.projectName.fieldDescription'">
            </small>
            <div [hidden]="!(editForm.controls.projectName?.dirty && editForm.controls.projectName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.projectName?.errors?.required"
                   [translate]="'entity.validation.required'">
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.projectName?.errors?.pattern"
                    [translate]="'entity.validation.pattern'"
                    [translateParams]="{pattern: 'alphanumerics, dash (-), underscore (_), space ( ) and period (.)'}">
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label"
                [translate]="'managementPortalApp.project.prettyProjectName'"
                for="field_humanReadableProjectName">
            </label>
            <input type="text" class="form-control" name="prettyProjectName" id="field_humanReadableProjectName"
                   [(ngModel)]="projectCopy.humanReadableProjectName" value="{{projectIdAsPrettyValue? projectCopy.projectName : ''}}"/>
            <small id="prettyProjectNameHelp" class="form-text text-muted"
                [translate]="'managementPortalApp.project.prettyProjectName.fieldDescription'">
            </small>
            <small>
                <input type="checkbox" class="form-control-check" name="grantTypes" [checked]="projectIdAsPrettyValue" (change)="projectIdAsPrettyValue = !projectIdAsPrettyValue" />
                {{ 'managementPortalApp.project.projectIdAsPrettyName' | translate }}
            </small>
        </div>

        <div class="form-group">
            <label class="form-control-label"
                [translate]="'managementPortalApp.project.description'"
                for="field_description">
            </label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="projectCopy.description"
            required />
            <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.description?.errors?.required"
                   [translate]="'entity.validation.required'">
                </small>
            </div>
        </div>
        <div class="form-group" *ngIf="projectCopy.organization">
            <label class="form-control-label"
                [translate]="'managementPortalApp.project.organization'"
                for="field_organization">
            </label>
            <select class="form-control" name="organization" [(ngModel)]="projectCopy.organization.name" id="field_organization">
                <option *ngFor="let organization of organizations" [ngValue]="organization.name">{{organization.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label"
                [translate]="'managementPortalApp.project.location'"
                for="field_location">
            </label>
            <input type="text" class="form-control" name="location" id="field_location"
                [(ngModel)]="projectCopy.location"
            required />
            <div [hidden]="!(editForm.controls.location?.dirty && editForm.controls.location?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.location?.errors?.required"
                   [translate]="'entity.validation.required'">
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label"
                [translate]="'managementPortalApp.project.startDate'"
                for="field_startDate">
            </label>
            <div class="input-group">
                <input [(ngModel)]="startDate"
                       id="field_startDate"
                       class="form-control"
                       name="startDate"
                       placeholder="yyyy-mm-dd"
                       ngbDatepicker
                       #startDatePicker="ngbDatepicker">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="startDatePicker.toggle()" type="button"></button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label"
                [translate]="'managementPortalApp.project.projectStatus'"
                for="field_projectStatus">
            </label>
            <select class="form-control" name="projectStatus" [(ngModel)]="projectCopy.projectStatus" id="field_projectStatus" >
                <option value="PLANNING" [translate]="'managementPortalApp.ProjectStatus.PLANNING'"></option>
                <option value="ONGOING" [translate]="'managementPortalApp.ProjectStatus.ONGOING'"></option>
                <option value="ENDED" [translate]="'managementPortalApp.ProjectStatus.ENDED'"></option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label"
                [translate]="'managementPortalApp.project.endDate'"
                for="field_endDate">
            </label>
            <div class="input-group">
                <input [(ngModel)]="endDate"
                       id="field_endDate"
                       class="form-control"
                       name="endDate"
                       placeholder="yyyy-mm-dd"
                       ngbDatepicker
                       #endDatePicker="ngbDatepicker">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="endDatePicker.toggle()" type="button"></button>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label [translate]="'managementPortalApp.project.sourceType'" for="field_sourceType"></label>
            <input id="field_sourceType"
                   type="text"
                   name="sourceType"
                   class="form-control"
                   [(ngModel)]="sourceTypeInputText"
                   [ngbTypeahead]="getMatchingSourceTypes"
                   (focus)="focus$.next($any($event).target.value)"
                   (click)="click$.next($any($event).target.value)"
                   #instance="ngbTypeahead"
                   [resultFormatter]="formatSourceTypeOption"
                   (selectItem)="addSourceType($event)"
            />
            <div class="selected-source-types">
                <div
                    class="badge badge-pill badge-primary"
                    *ngFor="let t of projectCopy.sourceTypes"
                    (click)="removeSourceType(t.id)"
                >
                    <span>{{formatSourceTypeOption(t)}}</span>
                    <span aria-hidden="true">&times;</span>
                </div>
            </div>
        </div>
        <jhi-dictionary-mapper [attributes]='projectCopy.attributes' [options]="options"
                               [eventPrefix]='attributeComponentEventPrefix'></jhi-dictionary-mapper>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span [translate]="'entity.action.cancel'"></span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span [translate]="'entity.action.save'"></span>
        </button>
    </div>
</form>
