<div *ngIf="project$ | async as project">
    <h2>
        <span>
            <span translate="managementPortalApp.project.detail.title"></span>
            {{project.humanReadableProjectName ? project.humanReadableProjectName : project.projectName}}
        </span>
        <button type="button"
                [routerLink]="['/', { outlets: { popup: 'project/'+ project.projectName + '/edit'} }]"
                replaceUrl="true"
                class="btn btn-primary float-right">
            <span class="fa fa-pencil"></span>&nbsp;<span [translate]="'entity.action.edit'"></span>
        </button>
    </h2>
    <div class="project-detail__project-info">
        <div class="project-detail__project-info-fields">
            <div>
                <span translate="managementPortalApp.project.projectName"></span>
                <p>{{project.projectName}}</p>
            </div>
            <div>
                <span translate="managementPortalApp.project.organization"></span>
                <p>{{project.organization.name}}</p>
            </div>
            <div>
                <span translate="managementPortalApp.project.location"></span>
                <p>{{project.location}}</p>
            </div>
            <div>
                <span translate="managementPortalApp.project.projectStatus"></span>
                <p>{{project.projectStatus}}</p>
            </div>
            <div>
                <span translate="managementPortalApp.project.startDate"></span>
                <p *ngIf="project.startDate; else noneAvailable">{{project.startDate | date:'mediumDate'}}</p>
            </div>
            <div>
                <span translate="managementPortalApp.project.endDate"></span>
                <p *ngIf="project.endDate; else noneAvailable">{{project.endDate | date:'mediumDate'}}</p>
            </div>
            <div>
                <span>
                    <span translate="managementPortalApp.project.attributeData"></span>
                </span>
                <ng-container *ngIf="!project.attributes || (project.attributes | keyvalue).length === 0" [ngTemplateOutlet]="noneAvailable"></ng-container>
                <div *ngFor="let entry of project.attributes | keyvalue">
                    <span class="form-control-static">{{entry.key}}</span>
                    =>
                    <span class="form-control-static">{{entry.value}}</span>
                </div>
            </div>
        </div>
        <p class="project-detail__description">
            {{project.description}}
        </p>
    </div>

    <div *ngIf="activeTab$ | async as activeTab">
        <ul class="nav nav-tabs">
            <li class="nav-item" (click)="updateActiveTab('subjects')">
                    <span class="nav-link" [ngClass]="{active: activeTab === 'subjects'}">
                        Subjects
                    </span>
            </li>
            <li class="nav-item" (click)="updateActiveTab('groups')">
                    <span class="nav-link" [ngClass]="{active: activeTab === 'groups'}">
                        Groups
                    </span>
            </li>
            <li class="nav-item" (click)="updateActiveTab('admins')">
                    <span class="nav-link" [ngClass]="{active: activeTab === 'admins'}">
                        Admins
                    </span>
            </li>
            <li class="nav-item" (click)="updateActiveTab('analysts')">
                    <span class="nav-link" [ngClass]="{active: activeTab === 'analysts'}">
                        Analysts
                    </span>
            </li>
        </ul>

        <div id="project-content-wrapper">
            <jhi-alert-error></jhi-alert-error>

            <jhi-subjects *ngIf="activeTab === 'subjects'" [project]='project' [isProjectSpecific]="true"></jhi-subjects>
            <jhi-groups *ngIf="activeTab === 'groups'" [project]='project'></jhi-groups>
            <jhi-common-user-mgmt *ngIf="activeTab === 'admins'" [project]='project' [authority]="'ROLE_PROJECT_ADMIN'"></jhi-common-user-mgmt>
            <jhi-common-user-mgmt *ngIf="activeTab === 'analysts'" [project]='project' [authority]="'ROLE_PROJECT_ANALYST'"></jhi-common-user-mgmt>
        </div>
    </div>
</div>

<ng-template #noneAvailable>
    <p class="none-available" translate>global.attribute.noneAvailable</p>
</ng-template>
