
<div *ngIf="project">
    <h2><span jhiTranslate="managementPortalApp.project.detail.title">Project</span> {{project.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="managementPortalApp.project.projectName">Project Name</span></dt>
        <dd>
            <span>{{project.projectName}}</span>
        </dd>
        <dt><span jhiTranslate="managementPortalApp.project.description">Description</span></dt>
        <dd>
            <span>{{project.description}}</span>
        </dd>
        <dt><span jhiTranslate="managementPortalApp.project.organization">Organization</span></dt>
        <dd>
            <span>{{project.organization}}</span>
        </dd>
        <dt><span jhiTranslate="managementPortalApp.project.location">Location</span></dt>
        <dd>
            <span>{{project.location}}</span>
        </dd>
        <dt><span jhiTranslate="managementPortalApp.project.startDate">Start Date</span></dt>
        <dd>
            <span>{{project.startDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="managementPortalApp.project.projectStatus">Project Status</span></dt>
        <dd>
            <span jhiTranslate="{{'managementPortalApp.ProjectStatus.' + project.projectStatus}}">{{project.projectStatus}}</span>
        </dd>
        <dt><span jhiTranslate="managementPortalApp.project.endDate">End Date</span></dt>
        <dd>
            <span>{{project.endDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="managementPortalApp.project.projectOwner">Project Owner</span></dt>
        <dd>
            <span>{{project.projectOwner}}</span>
        </dd>
        <dt><span jhiTranslate="managementPortalApp.project.deviceType">Device Type</span></dt>
        <dd>
            <span *ngFor="let deviceType of project.deviceTypes; let last = last">
                <a [routerLink]="['/device-type', deviceType?.id ]">{{deviceType.deviceModel}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'project/'+ project.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
