<div *ngIf="project$ | async as project">
    <h2>
        <span>
            <span [translate]="'managementPortalApp.project.detail.title'"></span>:
            {{ project.humanReadableProjectName ? project.humanReadableProjectName : project.projectName }}
        </span>
        <button [routerLink]="['/', { outlets: { popup: ['organization', project.organization.name, 'project', project.projectName , 'edit']} }]"
                [state]="{ parentComponent:'project-detail'}"
                class="btn btn-primary float-right"
                replaceUrl="true"
                type="button">
            <span class="fa fa-pencil"></span>&nbsp;<span [translate]="'entity.action.edit'"></span>
        </button>
    </h2>
    <div class="project-detail__project-info">
        <div class="project-detail__project-info-fields">
            <div>
                <span [translate]="'managementPortalApp.project.projectName'"></span>
                <p>{{ project.projectName }}</p>
            </div>
            <div>
                <span [translate]="'managementPortalApp.project.organization'"></span>
                <p>{{ project.organization.name }}</p>
            </div>
            <div>
                <span [translate]="'managementPortalApp.project.location'"></span>
                <p>{{ project.location }}</p>
            </div>
            <div>
                <span [translate]="'managementPortalApp.project.projectStatus'"></span>
                <p>{{ project.projectStatus }}</p>
            </div>
            <div>
                <span [translate]="'managementPortalApp.project.startDate'"></span>
                <p *ngIf="project.startDate; else noneAvailable">{{ project.startDate | date:'mediumDate' }}</p>
            </div>
            <div>
                <span [translate]="'managementPortalApp.project.endDate'"></span>
                <p *ngIf="project.endDate; else noneAvailable">{{ project.endDate | date:'mediumDate' }}</p>
            </div>
            <div>
                <span>
                    <span [translate]="'managementPortalApp.project.attributeData'"></span>
                </span>
                <ng-container *ngIf="!project.attributes || (project.attributes | keyvalue).length === 0"
                              [ngTemplateOutlet]="noneAvailable"></ng-container>
                <div *ngFor="let entry of project.attributes | keyvalue">
                    <span class="form-control-static">{{ entry.key }}</span>
                    =>
                    <span class="form-control-static">{{ entry.value }}</span>
                </div>
            </div>
        </div>
        <p class="project-detail__description">
            {{ project.description }}
        </p>
    </div>

    <div *ngIf="tab$ | async as tab">
        <ul *ngIf="siteSettings$ | async as siteSettings" class="nav nav-tabs">
            <li (click)="updateActiveTab('subjects')" *ngIf="tab.available.includes('subjects')" class="nav-item">
                    <span [ngClass]="{active: tab.active === 'subjects'}"
                          [translate]="'managementPortalApp.project.subjects'"
                          class="nav-link">
                    </span>
            </li>
            <li (click)="updateActiveTab('sources')" *ngIf="tab.available.includes('sources')" class="nav-item">
                    <span [ngClass]="{active: tab.active === 'sources'}"
                          [translate]="'managementPortalApp.project.sources'"
                          class="nav-link">
                    </span>
            </li>
            <li (click)="updateActiveTab('groups')" *ngIf="!siteSettings.hiddenSubjectFields.has(HideableSubjectField.GROUP) &&
                tab.available.includes('groups')"
                class="nav-item">
                    <span [ngClass]="{active: tab.active === 'groups'}"
                          [translate]="'managementPortalApp.project.groups'"
                          class="nav-link">
                    </span>
            </li>
            <li (click)="updateActiveTab('permissions')" *ngIf="tab.available.includes('permissions')" class="nav-item">
                <span [ngClass]="{active: tab.active === 'permissions'}"
                      [translate]="'managementPortalApp.project.permissions'"
                      class="nav-link">
                </span>
            </li>
            <!--            <li class="nav-item" (click)="updateActiveTab('admins')" *ngIf="tab.available.includes('admins')">-->
            <!--                    <span class="nav-link" [ngClass]="{active: tab.active === 'admins'}"-->
            <!--                          [translate]="'managementPortalApp.project.admins'">-->
            <!--                    </span>-->
            <!--            </li>-->
            <!--            <li class="nav-item" (click)="updateActiveTab('analysts')" *ngIf="tab.available.includes('analysts')">-->
            <!--                    <span class="nav-link" [ngClass]="{active: tab.active === 'analysts'}"-->
            <!--                          [translate]="'managementPortalApp.project.analysts'">-->
            <!--                    </span>-->
            <!--            </li>-->
        </ul>

        <div id="project-content-wrapper">
            <jhi-alert-error></jhi-alert-error>

            <jhi-subjects *ngIf="tab.active === 'subjects'" [isProjectSpecific]="true"
                          [project]='project'></jhi-subjects>
            <jhi-sources *ngIf="tab.active === 'sources'" [isProjectSpecific]="true" [project]='project'></jhi-sources>
            <jhi-groups *ngIf="tab.active === 'groups'" [project]='project'></jhi-groups>

            <jhi-permissions *ngIf="tab.active === 'permissions'" [project]='project'></jhi-permissions>
            <jhi-common-user-mgmt *ngIf="tab.active === 'admins'" [authority]="'ROLE_PROJECT_ADMIN'"
                                  [project]='project'></jhi-common-user-mgmt>
            <jhi-common-user-mgmt *ngIf="tab.active === 'analysts'" [authority]="'ROLE_PROJECT_ANALYST'"
                                  [project]='project'></jhi-common-user-mgmt>
        </div>
    </div>
</div>

<ng-template #noneAvailable>
    <p [translate]="'global.attribute.noneAvailable'" class="none-available"></p>
</ng-template>
