
.project-detail__project-info {
    padding: 8px 16px;

    > div {
        display: flex;
    }
}

.project-detail__project-info-fields {
    > div {
        margin-right: 16px;

        > span {
            font-weight: bold;
            font-size: 12px;
            color: #bebebe;
        }
    }
}

.project-detail__description {
    padding: 8px 8px;
    border-left: 2px solid #dadada;
    color: #888;
    white-space: pre-line;
}

#project-content-wrapper {
    padding: 16px 0;
}

.none-available {
    color: #bebebe;
}
