$background: #353d47;
$color: rgb(250, 250, 250);
$separator-border: 1px solid rgba(0, 0, 0, 0.098);

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;

    .status-header {
        text-transform: uppercase;
        padding: 25px 0 0 25px;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 45px;
    }

    .status-list {
        list-style-type: none;
        padding-left: 0;

        .status-item:first-child {
            border-top: $separator-border;
        }

        .status-item {
            padding: 12px 5px 12px 30px;
            font-size: 14px;
            font-weight: 400;

            border-bottom: $separator-border;

            .material-icons {
                margin-right: 10px;
            }

            .tag {
                margin: 3px 15px 0 0;
                font-size: 14px;
            }

            &.active,
            &:hover {
                color: $color;
                background: $background;
                cursor: pointer;
            }

            &:active,
            &:focus {
                text-decoration: none;
            }
        }

        .status-group {
            text-transform: uppercase;
            padding: 10px 10px 10px 15px;
            font-size: 13px;
            font-weight: 500;
            border-bottom: $separator-border;
            background-color: rgba(0, 0, 0, 0.05);
            cursor: pointer;

            -webkit-transition: padding 0.5s ease-out;
            -moz-transition: padding 0.5s ease-out;
            -o-transition: padding 0.5s ease-out;
            transition: padding 0.5s ease-out;

            //&.collapsed-group {
            //    border-top: $separator-border;
            //    padding: 1px;
            //}
        }
        .status-group-selected{
            text-transform: uppercase;
            padding: 10px 10px 10px 15px;
            font-size: 13px;
            font-weight: 500;
            border-bottom: $separator-border;
            background-color: rgba(0, 0, 0, 0.15);

            -webkit-transition: padding 0.5s ease-out;
            -moz-transition: padding 0.5s ease-out;
            -o-transition: padding 0.5s ease-out;
            transition: padding 0.5s ease-out;
            cursor: pointer;
        }
    }

    .sidebar-brand {
        height: 65px;
        font-size: 18px;
        line-height: 60px;

        a {
            color: #999999;

            &:hover {
                color: #fff;
                background: none;
            }
        }
    }

}

#wrapper.toggled {
    padding-left: 250px;

    .sidebar-toggle-btn {
        margin-left: -70px;

        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

#sidebar-wrapper {
    position: absolute;
    left: 250px;
    width: 55px;
    height: calc(90%);
    margin-left: -250px;
    overflow-y: auto;
    background: transparent;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-right: 1px solid rgba(0, 0, 0, 0.098);
    overflow-x: hidden;
    min-height: 50%;

    z-index: 10;

    .status-item {
        padding-left: 15px;
    }
}

#wrapper .sidebar-toggle-btn {
    border-radius: 5px;
    height: 30px;
    width: 30px;
    margin-left: -64px;
    position: relative;
    background-color: rgb(1, 104, 150);
    user-select: none;
    z-index: 15;

    .material-icons {
        line-height: 32px;
        font-size: 28px;
        font-weight: 600;
        color: rgb(250, 250, 250);
    }

    &:hover {
        cursor: pointer;
        box-shadow: 0 0 2px 1px rgb(29, 90, 130);
    }
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 20px 20px 20px 75px;

    h2 {
        margin-top: -30px;
    }
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
    padding: 20px;

    h2 {
        margin-left: 0!important;
    }
}
