<form #editForm="ngForm" (ngSubmit)="save()" name="editForm" novalidate role="form">

    <div class="modal-header">
        <h4 [translate]="'managementPortalApp.project.home.createOrEditLabel'" class="modal-title"
            id="myProjectLabel">
        </h4>
        <button (click)="clear()" aria-hidden="true" class="close" data-dismiss="modal"
                type="button">&times;
        </button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div [hidden]="!projectCopy.id" class="form-group">
            <label [translate]="'global.field.id'" for="id"></label>
            <input [(ngModel)]="projectCopy.id" class="form-control" id="id" name="id"
                   readonly type="text"/>
        </div>
        <div class="form-group">
            <label [translate]="'managementPortalApp.project.projectName'"
                   class="form-control-label"
                   for="field_projectName">
            </label>
            <input [(ngModel)]="projectCopy.projectName" [readOnly]="projectCopy.id" class="form-control"
                   id="field_projectName"
                   name="projectName" pattern="[_'.@A-Za-z0-9- ]*" required
                   type="text"/>
            <small *ngIf="!projectCopy.id" [translate]="'managementPortalApp.project.projectName.fieldWarning'"
                   class="form-text bold-warn"
                   id="projectIdWarning">
            </small>
            <small [translate]="'managementPortalApp.project.projectName.fieldDescription'" class="form-text text-muted"
                   id="projectIdHelp">
            </small>
            <div [hidden]="!(editForm.controls.projectName?.dirty && editForm.controls.projectName?.invalid)">
                <small [hidden]="!editForm.controls.projectName?.errors?.required"
                       [translate]="'entity.validation.required'"
                       class="form-text text-danger">
                </small>
                <small [hidden]="!editForm.controls.projectName?.errors?.pattern"
                       [translateParams]="{pattern: 'alphanumerics, dash (-), underscore (_), space ( ) and period (.)'}"
                       [translate]="'entity.validation.pattern'"
                       class="form-text text-danger">
                </small>
            </div>
        </div>

        <div class="form-group">
            <label [translate]="'managementPortalApp.project.prettyProjectName'"
                   class="form-control-label"
                   for="field_humanReadableProjectName">
            </label>
            <input [(ngModel)]="projectCopy.humanReadableProjectName" class="form-control"
                   id="field_humanReadableProjectName" name="prettyProjectName"
                   type="text"
                   value="{{projectIdAsPrettyValue? projectCopy.projectName : ''}}"/>
            <small [translate]="'managementPortalApp.project.prettyProjectName.fieldDescription'"
                   class="form-text text-muted"
                   id="prettyProjectNameHelp">
            </small>
            <small>
                <input (change)="projectIdAsPrettyValue = !projectIdAsPrettyValue" [checked]="projectIdAsPrettyValue"
                       class="form-control-check" name="grantTypes"
                       type="checkbox"/>
                {{ 'managementPortalApp.project.projectIdAsPrettyName' | translate }}
            </small>
        </div>

        <div class="form-group">
            <label [translate]="'managementPortalApp.project.description'"
                   class="form-control-label"
                   for="field_description">
            </label>
            <input [(ngModel)]="projectCopy.description" class="form-control" id="field_description" name="description"
                   required
                   type="text"/>
            <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                <small [hidden]="!editForm.controls.description?.errors?.required"
                       [translate]="'entity.validation.required'"
                       class="form-text text-danger">
                </small>
            </div>
        </div>
        <div *ngIf="projectCopy.organization" class="form-group">
            <label [translate]="'managementPortalApp.project.organization'"
                   class="form-control-label"
                   for="field_organization">
            </label>

            <select [(ngModel)]="projectCopy.organization.name" [disabled]="!hasRoleToChangeOrganization"
                    class="form-control"
                    id="field_organization"
                    name="organization">
                <option *ngFor="let organization of availableOrganizations"
                        [ngValue]="organization">{{ organization }}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label [translate]="'managementPortalApp.project.location'"
                   class="form-control-label"
                   for="field_location">
            </label>
            <input [(ngModel)]="projectCopy.location" class="form-control" id="field_location" name="location"
                   required
                   type="text"/>
            <div [hidden]="!(editForm.controls.location?.dirty && editForm.controls.location?.invalid)">
                <small [hidden]="!editForm.controls.location?.errors?.required"
                       [translate]="'entity.validation.required'"
                       class="form-text text-danger">
                </small>
            </div>
        </div>
        <div class="form-group">
            <label [translate]="'managementPortalApp.project.startDate'"
                   class="form-control-label"
                   for="field_startDate">
            </label>
            <div class="input-group">
                <input #startDatePicker="ngbDatepicker"
                       [(ngModel)]="startDate"
                       class="form-control"
                       id="field_startDate"
                       name="startDate"
                       ngbDatepicker
                       placeholder="yyyy-mm-dd">
                <div class="input-group-append">
                    <button (click)="startDatePicker.toggle()" class="btn btn-outline-secondary calendar"
                            type="button"></button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label [translate]="'managementPortalApp.project.projectStatus'"
                   class="form-control-label"
                   for="field_projectStatus">
            </label>
            <select [(ngModel)]="projectCopy.projectStatus" class="form-control" id="field_projectStatus"
                    name="projectStatus">
                <option [translate]="'managementPortalApp.ProjectStatus.PLANNING'" value="PLANNING"></option>
                <option [translate]="'managementPortalApp.ProjectStatus.ONGOING'" value="ONGOING"></option>
                <option [translate]="'managementPortalApp.ProjectStatus.ENDED'" value="ENDED"></option>
            </select>
        </div>
        <div class="form-group">
            <label [translate]="'managementPortalApp.project.endDate'"
                   class="form-control-label"
                   for="field_endDate">
            </label>
            <div class="input-group">
                <input #endDatePicker="ngbDatepicker"
                       [(ngModel)]="endDate"
                       class="form-control"
                       id="field_endDate"
                       name="endDate"
                       ngbDatepicker
                       placeholder="yyyy-mm-dd">
                <div class="input-group-append">
                    <button (click)="endDatePicker.toggle()" class="btn btn-outline-secondary calendar"
                            type="button"></button>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label [translate]="'managementPortalApp.project.sourceType'" for="field_sourceType"></label>
            <input #instance="ngbTypeahead"
                   (click)="click$.next($any($event).target.value)"
                   (focus)="focus$.next($any($event).target.value)"
                   (selectItem)="addSourceType($event)"
                   [(ngModel)]="sourceTypeInputText"
                   [ngbTypeahead]="getMatchingSourceTypes"
                   [resultFormatter]="formatSourceTypeOption"
                   class="form-control"
                   id="field_sourceType"
                   name="sourceType"
                   type="text"
            />
            <div class="selected-source-types">
                <div
                        (click)="removeSourceType(t.id)"
                        *ngFor="let t of projectCopy.sourceTypes"
                        class="badge badge-pill badge-primary"
                >
                    <span>{{ formatSourceTypeOption(t) }}</span>
                    <span aria-hidden="true">&times;</span>
                </div>
            </div>
        </div>
        <jhi-dictionary-mapper [attributes]='projectCopy.attributes' [eventPrefix]='attributeComponentEventPrefix'
                               [options]="options"></jhi-dictionary-mapper>
    </div>
    <div class="modal-footer">
        <button (click)="clear()" class="btn btn-default" data-dismiss="modal" type="button">
            <span class="fa fa-ban"></span>&nbsp;<span [translate]="'entity.action.cancel'"></span>
        </button>
        <button [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary" type="submit">
            <span class="fa fa-save"></span>&nbsp;<span [translate]="'entity.action.save'"></span>
        </button>
    </div>
</form>
