<div *ngIf="organization$ | async as organization">
    <h2>
        <span [translate]="'managementPortalApp.project.home.title'"></span>
        <button *jhiHasAnyAuthority="['ROLE_SYS_ADMIN', 'ROLE_ORGANIZATION_ADMIN:' + organization.name]"
                [routerLink]="['/', { outlets: { popup: ['organization', organization.name, 'project-new'] } }]"
                class="btn btn-primary float-right create-project">
            <span class="fa fa-plus"></span>
            <span [translate]="'managementPortalApp.project.home.createLabel'"></span>
        </button>
    </h2>
    <div class="row">
    </div>
    <br/>
    <jhi-alert></jhi-alert>
    <div *ngIf="projects$ | async as projects" class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span [translate]="'global.field.id'"></span></th>
                <th><span [translate]="'managementPortalApp.project.projectName'"></span></th>
                <th><span [translate]="'managementPortalApp.project.description'"></span></th>
                <th><span [translate]="'managementPortalApp.project.location'"></span></th>
                <th><span [translate]="'managementPortalApp.project.startDate'"></span></th>
                <th><span [translate]="'managementPortalApp.project.projectStatus'"></span></th>
                <th><span [translate]="'managementPortalApp.project.endDate'"></span></th>
                <th><span [translate]="'managementPortalApp.project.sourceType'"></span></th>
                <th><span [translate]="'managementPortalApp.project.attributeDataKey'"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let project of projects; trackBy: trackId">
                <td>{{ project.id }}</td>
                <td><a [routerLink]="['../../project', project.projectName ]">{{ project.projectName }}</a></td>
                <td>{{ project.description }}</td>
                <td>{{ project.location }}</td>
                <td>{{ project.startDate | date:'medium' }}</td>
                <td [translate]="'managementPortalApp.ProjectStatus.' + project.projectStatus"></td>
                <td>{{ project.endDate | date:'medium' }}</td>
                <td>
                    <span *ngFor="let sourceType of project.sourceTypes; let last = last">
                            <a [routerLink]="['../../source-type', sourceType?.producer , sourceType?.model , sourceType?.catalogVersion]"
                               class="form-control-static">{{ sourceType.producer + "_" + sourceType.model + "_" + sourceType.catalogVersion }}</a>{{ last ? '' : ', ' }}
                        </span>
                </td>
                <td>
                    <div *ngFor="let entry of project.attributes | keyvalue; trackBy: trackKey">
                        <span class="form-control-static">{{ entry.key }}: {{ entry.value }}</span>
                    </div>
                </td>

                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button [routerLink]="['/', { outlets: { popup: ['organization', organization.name, 'project', project.projectName , 'edit']} }]"
                                class="btn btn-primary btn-sm"
                                replaceUrl="true"
                                type="submit">
                            <span class="fa fa-pencil"></span>
                            <span [translate]="'entity.action.edit'" class="hidden-md-down"></span>
                        </button>
                        <!--                        <button type="submit"-->
                        <!--                                [routerLink]="['/', { outlets: { popup: ['organization', organization.name, 'project', project.projectName, 'delete']} }]"-->
                        <!--                                replaceUrl="true"-->
                        <!--                                class="btn btn-danger btn-sm">-->
                        <!--                            <span class="fa fa-remove"></span>-->
                        <!--                            <span class="hidden-md-down" [translate]="'entity.action.delete'"></span>-->
                        <!--                        </button>-->
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
