<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myProjectLabel" jhiTranslate="managementPortalApp.project.home.createOrEditLabel">Create or edit a Project</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!project.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="project.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="managementPortalApp.project.projectName" for="field_projectName">Project Name</label>
            <input type="text" class="form-control" name="projectName" id="field_projectName"
                [(ngModel)]="project.projectName" required pattern="[_'.@A-Za-z0-9- ]*" />
            <small id="projectIdHelp" class="form-text text-muted">Unique identifier of project</small>
            <div [hidden]="!(editForm.controls.projectName?.dirty && editForm.controls.projectName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.projectName?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                        [hidden]="!editForm.controls.projectName?.errors?.pattern" jhiTranslate="entity.validation.pattern" translateValues="{pattern: 'alphanumerics, dash (-), underscore (_), space ( ) and period (.)'}">
                    Validation error.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="managementPortalApp.project.prettyProjectName" for="field_humanReadableProjectName">Human readable Name</label>
            <input type="text" class="form-control" name="prettyProjectName" id="field_humanReadableProjectName"
                   [(ngModel)]="project.humanReadableProjectName" value="{{projectIdAsPrettyValue? project.projectName : ''}}"/>
            <small id="prettyProjectNameHelp" class="form-text text-muted">Human readable project name that doesn't have to follow url pattern.</small>
            <small>
            <input type="checkbox" class="form-control-check" name="grantTypes" [checked]="projectIdAsPrettyValue" (change)="projectIdAsPrettyValue = !projectIdAsPrettyValue" />
            Do you want to use the project-id as the human readable name?
            </small>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="managementPortalApp.project.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="project.description"
            required />
            <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.description?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="managementPortalApp.project.organization" for="field_organization">Organization</label>
            <input type="text" class="form-control" name="organization" id="field_organization"
                [(ngModel)]="project.organization"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="managementPortalApp.project.location" for="field_location">Location</label>
            <input type="text" class="form-control" name="location" id="field_location"
                [(ngModel)]="project.location"
            required />
            <div [hidden]="!(editForm.controls.location?.dirty && editForm.controls.location?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.location?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="managementPortalApp.project.startDate" for="field_startDate">Start Date</label>
            <div class="d-flex">
                <input id="field_startDate" type="datetime-local" class="form-control" name="startDate" [(ngModel)]="project.startDate"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="managementPortalApp.project.projectStatus" for="field_projectStatus">Project Status</label>
            <select class="form-control" name="projectStatus" [(ngModel)]="project.projectStatus" id="field_projectStatus" >
                <option value="PLANNING" jhiTranslate="managementPortalApp.ProjectStatus.PLANNING">PLANNING</option>
                <option value="ONGOING" jhiTranslate="managementPortalApp.ProjectStatus.ONGOING">ONGOING</option>
                <option value="ENDED" jhiTranslate="managementPortalApp.ProjectStatus.ENDED">ENDED</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="managementPortalApp.project.endDate" for="field_endDate">End Date</label>
            <div class="d-flex">
                <input id="field_endDate" type="datetime-local" class="form-control" name="endDate" [(ngModel)]="project.endDate"
                  />
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="managementPortalApp.project.sourceType" for="field_sourceType">Source Type</label>
            <select class="form-control" id="field_sourceType" multiple name="sourceType" [(ngModel)]="project.sourceTypes">
                <option [ngValue]="getSelected(project.sourceTypes, sourceTypeOption)" *ngFor="let sourceTypeOption of sourceTypes; trackBy: trackSourceTypeById">{{sourceTypeOption.producer+"_"+sourceTypeOption.model+"_"+sourceTypeOption.catalogVersion}}</option>
            </select>
        </div>
        <dictionary-mapper [attributes]='project.attributes' [options]="options"
                           [eventPrefix]='attributeComponentEventPrefix'></dictionary-mapper>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
