<form (ngSubmit)="confirmDelete(user.login)" name="deleteForm">
    <div class="modal-header">
        <h4 [translate]="'entity.delete.title'" class="modal-title"></h4>
        <button (click)="clear()" aria-hidden="true" class="close" data-dismiss="modal"
                type="button">&times;
        </button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <p [translateParams]="{login: user.login}"
           [translate]="'userManagement.delete.question'">
        </p>
    </div>
    <div class="modal-footer">
        <button (click)="clear()" class="btn btn-secondary" data-dismiss="modal" type="button">
            <span class="fa fa-ban"></span>&nbsp;<span [translate]="'entity.action.cancel'"></span>
        </button>
        <button class="btn btn-danger" type="submit">
            <span class="fa fa-remove"></span>&nbsp;<span [translate]="'entity.action.delete'"></span>
        </button>
    </div>
</form>
