<form (ngSubmit)="sendActivationLink(user.login)" name="sendActivationLinkForm">
    <div class="modal-header">
        <h4 [translate]="'userManagement.sendActivation.confirmTitle'" class="modal-title"></h4>
        <button (click)="clear()" aria-hidden="true" class="close" data-dismiss="modal"
                type="button">&times;
        </button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <p [translateParams]="{login: user.login, email: user.email}"
           [translate]="'userManagement.sendActivation.question'">
        </p>
    </div>
    <div class="modal-footer">
        <button (click)="clear()" class="btn btn-secondary" data-dismiss="modal" type="button">
            <span class="fa fa-ban"></span>&nbsp;<span [translate]="'entity.action.cancel'"></span>
        </button>
        <button class="btn btn-success" type="submit">
            <span class="fa fa-send"></span>&nbsp;<span [translate]="'userManagement.sendActivation.send'"></span>
        </button>
    </div>
</form>
