<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myUserLabel"
            [translate]="'userManagement.home.createOrEditLabel'">
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label [translate]="'global.field.id'"></label>
            <input type="text" class="form-control" name="id"
                   [(ngModel)]="user.id" readonly>
        </div>

        <div class="form-group">
            <label class="form-control-label" [translate]="'userManagement.login'"></label>
            <input type="text" class="form-control" name="login" #loginInput="ngModel"
                   [(ngModel)]="user.login" required minlength=1 maxlength=50 pattern="^[_'.@A-Za-z0-9- ]*$">

            <div *ngIf="loginInput.dirty && loginInput.invalid">
                <small class="form-text text-danger"
                    *ngIf="loginInput.errors.required"
                    [translate]="'entity.validation.required'">
                </small>

                <small class="form-text text-danger"
                    *ngIf="loginInput.errors.maxlength"
                    [translate]="'entity.validation.maxlength'"
                    [translateParams]="{max: 50}">
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" [translate]="'userManagement.firstName'"></label>
            <input type="text" class="form-control" name="firstName" #firstNameInput="ngModel"
                   [(ngModel)]="user.firstName" maxlength="50">

            <div *ngIf="firstNameInput.dirty && firstNameInput.invalid">
                <small class="form-text text-danger"
                    *ngIf="firstNameInput.errors.maxlength"
                    [translate]="'entity.validation.maxlength'"
                    [translateParams]="{max: 50}">
                </small>
            </div>
        </div>
        <div class="form-group">
            <label [translate]="'userManagement.lastName'"></label>
            <input type="text" class="form-control" name="lastName" #lastNameInput="ngModel"
                   [(ngModel)]="user.lastName" maxlength="50">

            <div *ngIf="lastNameInput.dirty && lastNameInput.invalid">
                <small class="form-text text-danger"
                    *ngIf="lastNameInput.errors.maxlength"
                    [translate]="'entity.validation.maxlength'"
                    [translateParams]="{max: 50}">
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" [translate]="'userManagement.email'"></label>
            <input type="email" class="form-control" name="email" #emailInput="ngModel"
                   [(ngModel)]="user.email" maxlength="100" required>

            <div *ngIf="emailInput.dirty && emailInput.invalid">
                <small class="form-text text-danger"
                    [hidden]="emailInput.errors.required"
                    [translate]="'entity.validation.required'">
                </small>

                <small class="form-text text-danger"
                    *ngIf="emailInput.errors.maxlength"
                    [translate]="'entity.validation.maxlength'"
                    [translateParams]="{max: 100}">
                </small>
                <small class="form-text text-danger"
                    *ngIf="emailInput.errors.email"
                    [translate]="'global.messages.validate.email.invalid'">
                 </small>
            </div>
        </div>

        <div class="form-group" *ngIf="languageHelper.languages$ | async as languages">
            <label [translate]="'userManagement.langKey'"></label>
            <select class="form-control" id="langKey" name="langKey" [(ngModel)]="user.langKey">
                <option *ngFor="let language of languages" [value]="language">{{language | findLanguageFromKey}}</option>
            </select>
        </div>
        <jhi-user-role [roles]='user.roles'></jhi-user-role>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span
                [translate]="'entity.action.cancel'"></span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-floppy-o"></span>&nbsp;<span [translate]="'entity.action.save'"></span>
        </button>
    </div>
</form>
