<div *ngIf="user">
    <h2>
        <span [translate]="'userManagement.detail.title'"></span> [<b>{{user.login}}</b>]
    </h2>
    <dl class="row-md jh-entity-details">
        <dt><span [translate]="'userManagement.login'"></span></dt>
        <dd>
            <span>{{user.login}}</span>
            <span class="badge badge-danger" *ngIf="!user.activated"
                  [translate]="'userManagement.deactivated'"></span>
            <span class="badge badge-success" *ngIf="user.activated"
                  [translate]="'userManagement.activated'"></span>
        </dd>
        <dt><span [translate]="'userManagement.firstName'"></span></dt>
        <dd>{{user.firstName}}</dd>
        <dt><span [translate]="'userManagement.lastName'"></span></dt>
        <dd>{{user.lastName}}</dd>
        <dt><span [translate]="'userManagement.email'"></span></dt>
        <dd>{{user.email}}</dd>
        <dt><span [translate]="'userManagement.langKey'"></span></dt>
        <dd>{{user.langKey}}</dd>
        <dt><span [translate]="'userManagement.createdBy'"></span></dt>
        <dd>{{user.createdBy}}</dd>
        <dt><span [translate]="'userManagement.createdDate'"></span></dt>
        <dd>{{user.createdDate | date:'dd/MM/yy HH:mm' }}</dd>
        <dt><span [translate]="'userManagement.lastModifiedBy'"></span></dt>
        <dd>{{user.lastModifiedBy}}</dd>
        <dt><span [translate]="'userManagement.lastModifiedDate'"></span></dt>
        <dd>{{user.lastModifiedDate | date:'dd/MM/yy HH:mm'}}</dd>
        <dt><span [translate]="'userManagement.profiles'"></span></dt>
        <dd>
            <ul class="list-unstyled">
                <li *ngFor="let role of user.roles">
                    <span class="badge badge-info">{{role.authorityName}}</span>
                </li>
            </ul>
        </dd>
        <dt><span [translate]="'userManagement.project'"></span></dt>
        <dd>
            <div *ngIf="user.project">
                <a [routerLink]="['/project', user.project?.projectName]">{{user.project?.projectName}}</a>
            </div>
        </dd>
    </dl>
    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span [translate]="'entity.action.back'"></span>
    </button>
</div>
