<form name="sendActivationLinkForm" (ngSubmit)="sendActivationLink(user.login)">
    <div class="modal-header">
        <h4 class="modal-title" [translate]="'userManagement.sendActivation.confirmTitle'"></h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <p [translate]="'userManagement.sendActivation.question'"
            [translateParams]="{login: user.login, email: user.email}">
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span [translate]="'entity.action.cancel'"></span>
        </button>
        <button type="submit" class="btn btn-success">
            <span class="fa fa-send"></span>&nbsp;<span [translate]="'userManagement.sendActivation.send'"></span>
        </button>
    </div>
</form>
