<div>
    <h2>
        <span [translate]="'userManagement.home.title'"></span>
        <button *jhiHasAnyAuthority="['ROLE_SYS_ADMIN']" class="btn btn-primary float-right" style="margin-left: 5px" [routerLink]="['/', { outlets: { popup: ['user-management-new-admin'] } }]">
            <span class="fa fa-plus"></span> <span [translate]="'userManagement.home.createAdminLabel'"></span>
        </button>
        <button class="btn btn-primary float-right" [routerLink]="['/', { outlets: { popup: ['user-management-new'] } }]">
            <span class="fa fa-plus"></span> <span [translate]="'userManagement.home.createLabel'"></span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div>
        <h4 [translate]="'userManagement.search.title'"></h4>
        <p class="d-flex">
            <span [translate]="'userManagement.login'" class="input-group-addon"></span>
            <input type="text" class="form-control" name="byLogin" [(ngModel)]="byLogin" (ngModelChange)="onChange($event)"/>

            <span [translate]="'userManagement.email'" class="input-group-addon"></span>
            <input type="text" class="form-control" name="byEmail" [(ngModel)]="byEmail" (ngModelChange)="onChange($event)"/>

            <span [translate]="'userManagement.role.project'" class="input-group-addon"></span>
            <input type="text" class="form-control" name="byProject" [(ngModel)]="byProject" (ngModelChange)="onChange($event)"/>

            <span [translate]="'userManagement.role.authorityName'" class="input-group-addon"></span>
            <input type="text" class="form-control" name="byAuthority" [(ngModel)]="byAuthority" (ngModelChange)="onChange($event)"/>
        </p>
    </div>

    <div class="table-responsive" *ngIf="users">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="id"><span [translate]="'global.field.id'"></span><span class="fa fa-sort"></span></th>
                <th jhiSortBy="login"><span [translate]="'userManagement.login'"></span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="email"><span [translate]="'userManagement.email'"></span> <span class="fa fa-sort"></span></th>
                <th></th>
                <th jhiSortBy="langKey"> <span [translate]="'userManagement.langKey'"></span> <span class="fa fa-sort"></span></th>
                <th><span [translate]="'userManagement.role.authorityName'"></span></th>
                <th><span [translate]="'userManagement.role.project'"></span></th>
                <th><span [translate]="'userManagement.createdDate'"></span></th>
                <th><span [translate]="'userManagement.lastModifiedBy'"></span></th>
                <th><span [translate]="'userManagement.lastModifiedDate'"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody *ngIf ="users">
            <tr *ngFor="let user of users; trackBy: trackIdentity">
                <td><a [routerLink]="['../user-management', user.login]">{{user.id}}</a></td>
                <td>{{user.login}}</td>
                <td>{{user.email}}</td>
                <td>
                    <span *ngIf="!user.activated"
                        class="badge badge-danger"
                        [translate]="'userManagement.deactivated'">
                    </span>
                    <span *ngIf="user.activated"
                        class="badge badge-success"
                        [translate]="'userManagement.activated'">
                    </span>
                </td>
                <td>{{user.langKey}}</td>
                <td>
                    <div *ngFor="let role of user.roles">
                        <span *ngIf="role.authorityName === 'ROLE_SYS_ADMIN'">{{role.authorityName}}</span>
                        <a *ngIf="role.authorityName != 'ROLE_SYS_ADMIN'" [routerLink]="['/role', role.projectName, role.authorityName ]" >{{role.authorityName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngFor="let role of user.roles">
                       {{role.projectName}}
                    </div>
                </td>
                <td>{{user.createdDate | date:'dd/MM/yy HH:mm'}}</td>
                <td>{{user.lastModifiedBy}}</td>
                <td>{{user.lastModifiedDate | date:'dd/MM/yy HH:mm'}}</td>

                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../user-management', user.login]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" [translate]="'entity.action.view'"></span>
                        </button>
                        <button type="submit" [replaceUrl]="true"
                                [routerLink]="['/', { outlets: { popup: 'user-management/'+ user.login + '/send-activation'} }]"
                                [disabled]="user.activated"
                                class="btn btn-warning btn-sm">
                            <span class="fa fa-mail-forward"></span>
                            <span class="hidden-md-down" [translate]="'userManagement.sendActivation.title'"></span>
                        </button>
                        <button [disabled]="user.roles[0].authorityName=='ROLE_SYS_ADMIN'" type="submit"
                                [routerLink]="['/', { outlets: { popup: 'user-management/'+ user.login + '/edit'} }]"
                                [replaceUrl]="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" [translate]="'entity.action.edit'"></span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'user-management/'+ user.login + '/delete'} }]"
                                [replaceUrl]="true"
                                class="btn btn-danger btn-sm"
                                [disabled]="currentAccount.login==user.login ||
                                user.roles[0].authorityName=='ROLE_PARTICIPANT' ||
                                user.roles[0].authorityName=='ROLE_INACTIVE_PARTICIPANT'">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" [translate]="'entity.action.delete'"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="users">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(pageSize)]="itemsPerPage" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
