<div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2 *ngIf="principal.account$ | async as account"
                [innerHTML]="'password.title' | translate:{username: account.login}">
            </h2>

            <div *ngIf="success"
                 [innerHTML]="'password.messages.success' | translate"
                 class="alert alert-success">
            </div>
            <div *ngIf="error"
                 [innerHTML]="'password.messages.error' | translate"
                 class="alert alert-danger">
            </div>

            <div *ngIf="doNotMatch"
                 [translate]="'global.messages.error.dontmatch'"
                 class="alert alert-danger">
            </div>

            <div *ngIf="weakPassword"
                 [translate]="'global.messages.error.weakpassword'"
                 class="alert alert-danger">
            </div>

            <form #passwordForm="ngForm" (ngSubmit)="changePassword()" name="form" role="form">

                <div class="form-group">
                    <label [translate]="'global.form.newpassword'" class="form-control-label" for="password"></label>
                    <input #passwordInput="ngModel" [(ngModel)]="password" class="form-control" id="password"
                           maxlength=100
                           minlength=8
                           name="password" placeholder="{{'global.form.newpassword.placeholder' | translate}}" required
                           type="password">
                    <div *ngIf="passwordInput.dirty && passwordInput.invalid">
                        <small *ngIf="passwordInput.errors.required"
                               [translate]="'global.messages.validate.newpassword.required'"
                               class="form-text text-danger">
                        </small>
                        <small *ngIf="passwordInput.errors.minlength"
                               [translate]="'global.messages.validate.newpassword.minlength'"
                               class="form-text text-danger">
                        </small>
                        <small *ngIf="passwordInput.errors.maxlength"
                               [translate]="'global.messages.validate.newpassword.maxlength'"
                               class="form-text text-danger">
                        </small>
                    </div>
                    <jhi-password-strength-bar [passwordToCheck]="password"></jhi-password-strength-bar>
                </div>
                <div class="form-group">
                    <label [translate]="'global.form.confirmpassword'" class="form-control-label"
                           for="confirmPassword">
                    </label>
                    <input #confirmPasswordInput="ngModel" [(ngModel)]="confirmPassword" class="form-control"
                           id="confirmPassword"
                           maxlength=100
                           minlength=8
                           name="confirmPassword"
                           placeholder="{{'global.form.confirmpassword.placeholder' | translate}}" required
                           type="password">
                    <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                        <small *ngIf="confirmPasswordInput.errors.required"
                               [translate]="'global.messages.validate.confirmpassword.required'"
                               class="form-text text-danger">
                        </small>
                        <small *ngIf="confirmPasswordInput.errors.minlength"
                               [translate]="'global.messages.validate.confirmpassword.minlength'"
                               class="form-text text-danger">
                        </small>
                        <small *ngIf="confirmPasswordInput.errors.maxlength"
                               [translate]="'global.messages.validate.confirmpassword.maxlength'"
                               class="form-text text-danger">
                        </small>
                    </div>
                </div>

                <button [disabled]="passwordForm.form.invalid" [translate]="'password.form.button'"
                        class="btn btn-primary"
                        type="submit">
                </button>
            </form>
        </div>
    </div>
</div>
