<div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2 *ngIf="account"
                [innerHTML]="'password.title' | translate:{username: account.login}">
            </h2>

            <div *ngIf="success"
                class="alert alert-success"
                [innerHTML]="'password.messages.success' | translate">
            </div>
            <div *ngIf="error"
                class="alert alert-danger"
                [innerHTML]="'password.messages.error' | translate">
            </div>

            <div *ngIf="doNotMatch"
                class="alert alert-danger"
                [translate]="'global.messages.error.dontmatch'">
            </div>

            <div *ngIf="weakPassword"
                class="alert alert-danger"
                [translate]="'global.messages.error.weakpassword'">
            </div>

            <form name="form" role="form" (ngSubmit)="changePassword()" #passwordForm="ngForm">

                <div class="form-group">
                    <label class="form-control-label" for="password" [translate]="'global.form.newpassword'"></label>
                    <input type="password" class="form-control" id="password" name="password" #passwordInput="ngModel"
                    placeholder="{{'global.form.newpassword.placeholder' | translate}}"
                           [(ngModel)]="password" minlength=8 maxlength=100 required>
                    <div *ngIf="passwordInput.dirty && passwordInput.invalid">
                        <small class="form-text text-danger"
                           *ngIf="passwordInput.errors.required"
                           [translate]="'global.messages.validate.newpassword.required'">
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="passwordInput.errors.minlength"
                           [translate]="'global.messages.validate.newpassword.minlength'">
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="passwordInput.errors.maxlength"
                           [translate]="'global.messages.validate.newpassword.maxlength'">
                        </small>
                    </div>
                    <jhi-password-strength-bar [passwordToCheck]="password"></jhi-password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="confirmPassword"
                        [translate]="'global.form.confirmpassword'">
                    </label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel"
                        placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
                        [(ngModel)]="confirmPassword" minlength=8 maxlength=100 required>
                    <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                        <small class="form-text text-danger"
                           *ngIf="confirmPasswordInput.errors.required"
                           [translate]="'global.messages.validate.confirmpassword.required'">
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="confirmPasswordInput.errors.minlength"
                           [translate]="'global.messages.validate.confirmpassword.minlength'">
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="confirmPasswordInput.errors.maxlength"
                           [translate]="'global.messages.validate.confirmpassword.maxlength'">
                        </small>
                    </div>
                </div>

                <button type="submit" [disabled]="passwordForm.form.invalid"
                    class="btn btn-primary"
                    [translate]="'password.form.button'">
                </button>
            </form>
        </div>
    </div>
</div>
