<div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2 *ngIf="principal.account$ | async as account"
                [innerHTML]="'password.title' | translate:{username: account.login}">
            </h2>

            <p>{{ 'password.hint' | translate }}</p>

            <button class="btn btn-primary mb-4" (click)="requestPasswordChange()">{{ 'password.request' | translate }}</button>
            <div *ngIf="success"
                class="alert alert-success"
                [innerHTML]="'reset.request.messages.success' | translate">
            </div>
            <div *ngIf="error"
                class="alert alert-danger"
                [innerHTML]="'password.messages.error' | translate">
            </div>
        </div>
    </div>
</div>
