
.group-wrapper {
    display: flex;
}

.group-wrapper > section {
    flex-grow: 1;
    padding-left: 16px;
}

.group-row {
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
}

.group-row:nth-child(even) {
    border-top: #eceeef;
    background-color: #eceeef;
}

.group-row__content {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
}

.group-row__content > * {
    flex-basis: 80px;
    flex-grow: 1;
}

.group-row__field-label {
    position: relative;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    color: #5e5e5e;
}

.group-list-actions {
    margin-bottom: 8px;
}
.group-list-actions > :not(:first-child) {
    margin-left: 8px;
}
.group-row__select-row {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    padding-top: 28px;
    margin-right: 16px;
}

.group-row__actions {
    display: flex;
    flex-direction: column;
    flex-basis: unset;
    flex-grow: 0 !important;
    margin-left: 16px;
}
.group-row__actions > *:not(:last-child) {
    width: 100%;
    margin-bottom: 4px;
}
.create-group-wrapper{
    display: flex;
    justify-content: flex-end;
}
