<div *ngIf="projectName$ | async as projectName">
    <div class="create-group-wrapper">
        <button [routerLink]="['/', { outlets: { popup: ['project-group-new' , projectName] } }]"
                class="btn btn-primary create-group"
                queryParamsHandling="merge">
            <span class="fa fa-plus"></span>
            <span [translate]="'managementPortalApp.group.home.createLabel'">
                </span>
        </button>
    </div>
    <div class="group-wrapper">
        <section>
            <jhi-alert></jhi-alert>
            <div *ngIf="groups$ | async as groups" class="groups">
                <div *ngFor="let group of groups; trackBy: trackId" class="group-row">
                    <div class="group-row__content">
                        <div class="group-row__group-id">
                            <span [translate]="'managementPortalApp.group.id'"
                                  class="group-row__field-label">
                            </span>
                            <div>
                                <span>{{ group.id }}</span>
                            </div>
                        </div>
                        <div class="group-row__name">
                            <span [translate]="'managementPortalApp.group.name'"
                                  class="group-row__field-label">
                            </span>
                            <div>
                                <span>
                                    {{ group.name }}
                                </span>
                            </div>
                        </div>
                        <div class="group-row__project">
                            <span [translate]="'managementPortalApp.group.project'"
                                  class="group-row__field-label">
                            </span>
                            <div>
                                <a [routerLink]="['/project', projectName ]"
                                   class="badge badge-success">{{ projectName }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="group-row__actions">
                        <button
                                (click)="deleteGroup(group)"
                                class="btn btn-danger btn-sm"
                                type="submit"
                        >
                            <span class="fa fa-remove"></span>&nbsp;<span [translate]="'entity.action.delete'"></span>
                        </button>
                    </div>
                </div>
                <div *ngIf="groups.length === 0" class="groups">
                    <span [translate]="'managementPortalApp.group.noGroup'"></span>
                </div>
            </div>
        </section>
    </div>
</div>
