
<div *ngIf="patient">
    <h2><span jhiTranslate="managementPortalApp.patient.detail.title">Patient</span> {{patient.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="managementPortalApp.patient.login">Login</span></dt>
        <dd>
            <span>{{patient.login}}</span>
        </dd>
        <dt><span jhiTranslate="managementPortalApp.patient.externalLink">External Link</span></dt>
        <dd>
            <span>{{patient.externalLink}}</span>
        </dd>
        <dt><span jhiTranslate="managementPortalApp.patient.externalId">External Id</span></dt>
        <dd>
            <span>{{patient.externalId}}</span>
        </dd>
        <dt><span jhiTranslate="managementPortalApp.patient.removed">Removed</span></dt>
        <dd>
            <span>{{patient.removed}}</span>
        </dd>
        <dt><span jhiTranslate="managementPortalApp.patient.activated">Activated</span></dt>
        <dd>
            <span>{{patient.activated}}</span>
        </dd>
        <dt><span jhiTranslate="managementPortalApp.patient.project">Project</span></dt>
        <dd>
            <span *ngIf="patient.project">
                  <a [routerLink]="['/project', patient.project?.id ]" >{{patient.project?.projectName}}</a>
            </span>
        </dd>
        <dt><span jhiTranslate="managementPortalApp.patient.devices">Devices</span></dt>
        <dd>
            <span *ngFor="let devices of patient.devices; let last = last">
                <a [routerLink]="['/device', devices?.id ]">{{devices.deviceTypeAndPhysicalId}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
        <dt><span jhiTranslate="managementPortalApp.patient.createdBy">Created By</span></dt>
        <dd>{{patient.createdBy}}</dd>
        <dt><span jhiTranslate="managementPortalApp.patient.createdDate">Created Date</span></dt>
        <dd>{{patient.createdDate | date:'dd/MM/yy HH:mm' }}</dd>
        <dt><span jhiTranslate="managementPortalApp.patient.lastModifiedBy">Last Modified By</span></dt>
        <dd>{{patient.lastModifiedBy}}</dd>
        <dt><span jhiTranslate="managementPortalApp.patient.lastModifiedDate">Last Modified Date</span></dt>
        <dd>{{patient.lastModifiedDate | date:'dd/MM/yy HH:mm'}}</dd>

    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'patient/'+ patient.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
