<div>
    <div class="modal-header">
        <h4
            class="modal-title"
            id="mySubjectLabel"
            [translate]="'managementPortalApp.subject.queries.title'"
        ></h4>
        <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
            (click)="clear()"
        >
            &times;
        </button>
    </div>

    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="!subject.id">
            <label for="id" [translate]="'global.field.id'"></label>
            <input
                type="text"
                class="form-control"
                id="id"
                name="id"
                [(ngModel)]="subject.login"
                readonly
            />
        </div>
        <label class="form-control-label"> Query Groups</label>
        <div class="flex-box">
            <select
                class="form-control"
                [(ngModel)]="selectedGroup"
            >
                <option *ngFor="let query of queryGroupList" [value]="query.id">
                    {{ query.name }}
                </option>
            </select>
            <button
                class="btn btn-primary"
                type="submit"
                (click)="assignQueryGroup()"
            >
                Assign
            </button>
        </div>

        <label class="form-control-label"> Assigned Queries</label>
        <table class="table">
            <tr>
                <th>Query Group Name</th>
                <th>Date Added</th>
                <th>Researcher</th>
                <th>Action</th>
            </tr>
            <tr *ngFor="let query of assignedQueryGroups">
                <td>{{ query.name }}</td>
                <td>{{ query.createdDate | date : "yyyy-MM-dd" }}</td>
                <td>
                    {{ query.createdBy.firstName }}
                    {{ query.createdBy.lastName }}
                </td>
                <td>
                    <button
                        (click)="deleteAssignedGroup(query.id)"
                        class="btn btn-secondary"
                    >
                        Delete
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <div class="modal-footer"></div>
</div>
