<h1>Content</h1>

<div class="flex-column">
    <div class="button-row">
        <button type="button" class="btn btn-primary" (click)="addContent(ContentType.PARAGRAPH)">
            <span class="">Add Paragraph</span>
        </button>

        <button type="button" class="btn btn-primary" (click)="addContent(ContentType.VIDEO)">
            <span class="">Add Video</span>
        </button>

        <button type="button" class="btn btn-primary" (click)="addContent(ContentType.IMAGE)">
            <span class="">Add Image</span>
        </button>
    </div>

    <div class="content-column">
        <div *ngFor="let item of items">
            <app-content-item (triggerDeleteItemFunction)="deleteContent($event)" [item]="item"></app-content-item>
        </div>
    </div>

</div>
