<form #editForm="ngForm" (ngSubmit)="save()" name="editForm" novalidate role="form">

    <div class="modal-header">
        <h4 [translate]="'managementPortalApp.sourceType.home.createOrEditLabel'" class="modal-title"
            id="mySourceTypeLabel">
        </h4>
        <button (click)="clear()" aria-hidden="true" class="close" data-dismiss="modal"
                type="button">&times;
        </button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div [hidden]="!sourceType.id" class="form-group">
            <label [translate]="'global.field.id'" for="id"></label>
            <input [(ngModel)]="sourceType.id" class="form-control" id="id" name="id"
                   readonly type="text"/>
        </div>
        <div class="form-group">
            <label [translate]="'managementPortalApp.sourceType.producer'"
                   class="form-control-label"
                   for="field_producer">
            </label>
            <input [(ngModel)]="sourceType.producer" class="form-control" id="field_producer" name="producer"
                   pattern="[_'.@A-Za-z0-9- ]*" required type="text"/>
            <div [hidden]="!(editForm.controls.producer?.dirty && editForm.controls.producer?.invalid)">
                <small [hidden]="!editForm.controls.producer?.errors?.required"
                       [translate]="'entity.validation.required'"
                       class="form-text text-danger">
                </small>
                <small [hidden]="!editForm.controls.producer?.errors?.pattern"
                       [translateParams]="{pattern: 'alphanumerics, dash (-), underscore (_), space ( ) and period (.)'}"
                       [translate]="'entity.validation.pattern'"
                       class="form-text text-danger">
                </small>
            </div>
        </div>
        <div class="form-group">
            <label [translate]="'managementPortalApp.sourceType.model'"
                   class="form-control-label"
                   for="field_model">
            </label>
            <input [(ngModel)]="sourceType.model" class="form-control" id="field_model" name="model"
                   pattern="[_'.@A-Za-z0-9- ]*" required type="text"/>
            <div [hidden]="!(editForm.controls.model?.dirty && editForm.controls.model?.invalid)">
                <small [hidden]="!editForm.controls.model?.errors?.required"
                       [translate]="'entity.validation.required'"
                       class="form-text text-danger">
                </small>
                <small [hidden]="!editForm.controls.model?.errors?.pattern"
                       [translateParams]="{pattern: 'alphanumerics, dash (-), underscore (_), space ( ) and period (.)'}"
                       [translate]="'entity.validation.pattern'"
                       class="form-text text-danger">
                </small>
            </div>
        </div>
        <div class="form-group">
            <label [translate]="'managementPortalApp.sourceType.catalogVersion'"
                   class="form-control-label"
                   for="field_catalogVersion">
            </label>
            <input [(ngModel)]="sourceType.catalogVersion" class="form-control" id="field_catalogVersion"
                   name="catalogVersion"
                   pattern="[_'.@A-Za-z0-9- ]*" required type="text"/>
            <div [hidden]="!(editForm.controls.catalogVersion?.dirty && editForm.controls.catalogVersion?.invalid)">
                <small [hidden]="!editForm.controls.catalogVersion?.errors?.required"
                       [translate]="'entity.validation.required'"
                       class="form-text text-danger">
                </small>
                <small [hidden]="!editForm.controls.catalogVersion?.errors?.pattern"
                       [translateParams]="{pattern: 'alphanumerics, dash (-), underscore (_), space ( ) and period (.)'}"
                       [translate]="'entity.validation.pattern'"
                       class="form-text text-danger">
                </small>
            </div>
        </div>
        <div class="form-group">
            <label [translate]="'managementPortalApp.sourceType.sourceTypeScope'"
                   class="form-control-label"
                   for="field_sourceTypeScope">
            </label>
            <select [(ngModel)]="sourceType.sourceTypeScope" class="form-control" id="field_sourceTypeScope"
                    name="sourceTypeScope" required>
                <option [translate]="'managementPortalApp.SourceTypeScope.ACTIVE'"
                        value="ACTIVE">
                </option>
                <option [translate]="'managementPortalApp.SourceTypeScope.PASSIVE'"
                        value="PASSIVE">
                </option>
            </select>
            <div [hidden]="!(editForm.controls.sourceTypeScope?.dirty && editForm.controls.sourceTypeScope?.invalid)">
                <small [hidden]="!editForm.controls.sourceTypeScope?.errors?.required"
                       [translate]="'entity.validation.required'"
                       class="form-text text-danger">
                </small>
            </div>
        </div>

        <div class="form-group">
            <label [translate]="'managementPortalApp.sourceType.dynamicRegistration'" class="form-control-label"
                   for="field_hasDynamicId">
            </label>
            <div class="form-check">
                <label class="form-check-label">
                    <input (change)="sourceType.canRegisterDynamically = !sourceType.canRegisterDynamically"
                           [checked]="sourceType.canRegisterDynamically" class="form-check-input"
                           id="field_hasDynamicId" name="hasDynamicId"
                           type="checkbox"/>
                    {{ 'managementPortalApp.sourceType.canRegisterDynamically' | translate }}
                </label>
            </div>
            <small [translate]="'managementPortalApp.sourceType.dynamicRegistrationHelp'" class="form-text text-muted"
                   id="dynamicRegistrationHelp">
            </small>
        </div>

        <div class="form-group">
            <label [translate]="'managementPortalApp.sourceType.name'"
                   class="form-control-label"
                   for="field_name">
            </label>
            <input [(ngModel)]="sourceType.name" class="form-control" id="field_name" name="name"
                   type="text"
            />
        </div>
        <div class="form-group">
            <label [translate]="'managementPortalApp.sourceType.description'"
                   class="form-control-label"
                   for="field_description">
            </label>
            <input [(ngModel)]="sourceType.description" class="form-control" id="field_description"
                   name="field_description"
                   type="text"
            />
        </div>
        <div class="form-group">
            <label [translate]="'managementPortalApp.sourceType.assessmentType'"
                   class="form-control-label"
                   for="field_assessmentType">
            </label>
            <input [(ngModel)]="sourceType.assessmentType" class="form-control" id="field_assessmentType"
                   name="assessmentType"
                   type="text"
            />
        </div>

        <div class="form-group">
            <label [translate]="'managementPortalApp.sourceType.appProvider'"
                   class="form-control-label"
                   for="field_appProvider">
            </label>
            <input [(ngModel)]="sourceType.appProvider" class="form-control" id="field_appProvider" name="appProvider"
                   type="text"
            />
        </div>
    </div>
    <div class="modal-footer">
        <button (click)="clear()" class="btn btn-default" data-dismiss="modal" type="button">
            <span class="fa fa-ban"></span>&nbsp;<span [translate]="'entity.action.cancel'"></span>
        </button>
        <button [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary" type="submit">
            <span class="fa fa-save"></span>&nbsp;<span [translate]="'entity.action.save'"></span>
        </button>
    </div>
</form>
