<div>
    <h2>
        <span [translate]="'managementPortalApp.sourceType.home.title'"></span>
        <button class="btn btn-primary float-right create-source-type" [routerLink]="['/', { outlets: { popup: ['source-type-new'] } }]">
            <span class="fa fa-plus"></span>
            <span [translate]="'managementPortalApp.sourceType.home.createLabel'"></span>
        </button>
    </h2>
    <div class="row">
    </div>
    <br/>
    <jhi-alert></jhi-alert>
    <div class="table-responsive" *ngIf="sourceTypes">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span [translate]="'global.field.id'"></span><span class="fa fa-sort"></span></th>
            <th jhiSortBy="producer"><span [translate]="'managementPortalApp.sourceType.producer'"></span><span class="fa fa-sort"></span></th>
            <th jhiSortBy="model"><span [translate]="'managementPortalApp.sourceType.model'"></span><span class="fa fa-sort"></span></th>
            <th jhiSortBy="catalogVersion"><span [translate]="'managementPortalApp.sourceType.catalogVersion'"></span><span class="fa fa-sort"></span></th>
            <th jhiSortBy="canRegisterDynamically"><span [translate]="'managementPortalApp.sourceType.sourceRegistration'"></span><span class="fa fa-sort"></span></th>
            <th jhiSortBy="sourceTypeScope"><span [translate]="'managementPortalApp.sourceType.sourceTypeScope'"></span><span class="fa fa-sort"></span></th>
            <th><span [translate]="'managementPortalApp.sourceType.sourceData'"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sourceType of sourceTypes ;trackBy: trackId">
                <td><a [routerLink]="['../source-type', sourceType.producer, sourceType.model, sourceType.catalogVersion ]">{{sourceType.id}}</a></td>
                <td>{{sourceType.producer}}</td>
                <td>{{sourceType.model}}</td>
                <td>{{sourceType.catalogVersion}}</td>
                <td>
                    <span class="badge badge-info" *ngIf="!sourceType.canRegisterDynamically"
                          [translate]="'managementPortalApp.sourceType.manualRegistration'"></span>
                    <span class="badge badge-success" *ngIf="sourceType.canRegisterDynamically"
                          [translate]="'managementPortalApp.sourceType.dynamicRegistration'"></span>
                </td>
                <td [translate]="'managementPortalApp.SourceTypeScope.' + sourceType.sourceTypeScope"></td>
                <td>
                    <span *ngFor="let sourceData of sourceType.sourceData; let last = last">
                            <a class="form-control-static" [routerLink]="['../source-data', sourceData?.sourceDataName ]">{{sourceData.sourceDataType}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../source-type', sourceType.producer, sourceType.model, sourceType.catalogVersion ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" [translate]="'entity.action.view'"></span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: ['source-type', sourceType.producer, sourceType.model, sourceType.catalogVersion, 'edit']} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" [translate]="'entity.action.edit'"></span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: ['source-type', sourceType.producer, sourceType.model, sourceType.catalogVersion, 'delete']} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" [translate]="'entity.action.delete'"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="sourceTypes && totalItems !== undefined">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(pageSize)]="itemsPerPage" boundaryLinks = true [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
