<div class="modal-header">
    <h4 class="modal-title" id="showHealthLabel">
        {{ 'health.indicator.' + baseName(currentHealth.name) | translate }}
        {{ subSystemName(currentHealth.name) }}
    </h4>
    <button (click)="activeModal.dismiss('closed')" aria-label="Close" class="close" data-dismiss="modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body pad">
    <div *ngIf="currentHealth.details">
        <h5 [translate]="'health.details.properties'"></h5>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th [translate]="'health.details.name'" class="text-left"></th>
                    <th [translate]="'health.details.value'" class="text-left"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let entry of currentHealth.details | keyvalue">
                    <td class="text-left">{{ entry.key }}</td>
                    <td class="text-left">{{ readableValue(entry.value) }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div *ngIf="currentHealth.error">
        <h4 [translate]="'health.details.error'"></h4>
        <pre>{{ currentHealth.error }}</pre>
    </div>
</div>
<div class="modal-footer">
    <button (click)="activeModal.dismiss('closed')" class="btn btn-secondary float-left" data-dismiss="modal"
            type="button">Done
    </button>
</div>
