<div>
    <h2>
        <span [translate]="'health.title'"></span>
        <button class="btn btn-primary float-right" (click)="refresh()">
            <span class="fa fa-refresh"></span> <span [translate]="'health.refresh.button'"></span>
        </button>
    </h2>
    <div class="table-responsive">
        <table id="healthCheck" class="table table-striped">
            <thead>
                <tr>
                    <th [translate]="'health.table.service'"></th>
                    <th class="text-center" [translate]="'health.table.status'"></th>
                    <th class="text-center" [translate]="'health.details.details'"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let health of healthData">
                    <td>{{'health.indicator.' + baseName(health.name) | translate}} {{subSystemName(health.name)}}</td>
                    <td class="text-center">
                        <span class="badge"
                            [ngClass]="getBadgeClass(health.status)"
                            [translate]="'health.status.' + health.status">
                        </span>
                    </td>
                    <td class="text-center">
                        <a class="hand" (click)="showHealth(health)" *ngIf="health.details || health.error">
                            <i class="fa fa-eye"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
