<div>
    <h2>
        <span [translate]="'managementPortalApp.sourceData.home.title'"></span>
        <button class="btn btn-primary float-right create-source-data" [routerLink]="['/', { outlets: { popup: ['source-data-new'] } }]">
            <span class="fa fa-plus"></span>
            <span [translate]="'managementPortalApp.sourceData.home.createLabel'"></span>
        </button>
    </h2>
    <div class="row">
    </div>
    <br/>
    <jhi-alert></jhi-alert>
    <div class="table-responsive" *ngIf="sourceData">
        <table class="table table-striped">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="transition.bind(this)">
                    <th jhiSortBy="id" ><span [translate]="'global.field.id'"></span><span class="fa fa-sort"></span></th>
                    <th jhiSortBy="sourceDataType"><span [translate]="'managementPortalApp.sourceData.sourceDataType'"></span><span class="fa fa-sort"></span></th>
                    <th jhiSortBy="sourceDataName"><span [translate]="'managementPortalApp.sourceData.sourceDataName'"></span><span class="fa fa-sort"></span></th>
                    <th jhiSortBy="processingState"><span [translate]="'managementPortalApp.sourceData.processingState'"></span><span class="fa fa-sort"></span></th>
                    <th><span [translate]="'managementPortalApp.sourceData.keySchema'"></span></th>
                    <th><span [translate]="'managementPortalApp.sourceData.frequency'"></span></th>
                    <th><span [translate]="'managementPortalApp.sourceData.sourceType'"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tr *ngFor="let sourceData of sourceData ;trackBy: trackId">
                <td>{{sourceData.id}}</td>
                <td>{{sourceData.sourceDataType}}</td>
                <td><a [routerLink]="['../source-data', sourceData.sourceDataName ]">{{sourceData.sourceDataName}}</a></td>
                <td [translate]="'managementPortalApp.processingState.' + sourceData.processingState"></td>
                <td>{{sourceData.keySchema}}</td>
                <td>{{sourceData.frequency}}</td>
                <td ><a *ngIf="sourceData.sourceType" [routerLink]="['/source-type', sourceData.sourceType.producer , sourceData.sourceType.model , sourceData.sourceType.catalogVersion ]">{{sourceData.sourceType?.producer+"_"+sourceData.sourceType?.model+"_"+sourceData.sourceType?.catalogVersion}}</a></td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../source-data', sourceData.sourceDataName ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" [translate]="'entity.action.view'"></span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'source-data/'+ sourceData.sourceDataName + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" [translate]="'entity.action.edit'"></span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'source-data/'+ sourceData.sourceDataName + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" [translate]="'entity.action.delete'"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="sourceData && totalItems !== undefined">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(pageSize)]="itemsPerPage" boundaryLinks = true [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
