<form #editForm="ngForm" (ngSubmit)="save()" name="editForm" novalidate role="form">

    <div class="modal-header">
        <h4 [translate]="'managementPortalApp.sourceData.home.createOrEditLabel'" class="modal-title"
            id="mySourceDataLabel">
        </h4>
        <button (click)="clear()" aria-hidden="true" class="close" data-dismiss="modal"
                type="button">&times;
        </button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div [hidden]="!sourceData.id" class="form-group">
            <label [translate]="'global.field.id'" for="id"></label>
            <input [(ngModel)]="sourceData.id" class="form-control" id="id" name="id"
                   readonly type="text"/>
        </div>
        <div class="form-group">
            <label [translate]="'managementPortalApp.sourceData.sourceDataType'"
                   class="form-control-label"
                   for="field_sourceDataType">
            </label>
            <input [(ngModel)]="sourceData.sourceDataType" class="form-control" id="field_sourceDataType"
                   name="sourceDataType"
                   required
                   type="text"/>
            <div [hidden]="!(editForm.controls.sourceDataType?.dirty && editForm.controls.sourceDataType?.invalid)">
                <small [hidden]="!editForm.controls.sourceDataType?.errors?.required"
                       [translate]="'entity.validation.required'"
                       class="form-text text-danger">
                </small>
            </div>
        </div>
        <div class="form-group">
            <label [translate]="'managementPortalApp.sourceData.sourceType'"
                   for="field_sourceType">
            </label>
            <select [(ngModel)]="sourceData.sourceType" class="form-control" id="field_sourceType" name="sourceType">
                <option [ngValue]="null"></option>
                <option *ngFor="let sourceTypeOption of sourceTypeService.sourceTypes$ | async; trackBy: trackSourceTypeById"
                        [ngValue]="sourceTypeOption.id === sourceData.sourceType?.id ? sourceData.sourceType: sourceTypeOption">{{ sourceTypeOption.producer + "_" + sourceTypeOption.model + "_" + sourceTypeOption.catalogVersion }}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label [translate]="'managementPortalApp.sourceData.sourceDataName'"
                   class="form-control-label"
                   for="field_sourceDataName">
            </label>
            <input [(ngModel)]="sourceData.sourceDataName" class="form-control" id="field_sourceDataName"
                   name="sourceDataName"
                   pattern="[_'.@A-Za-z0-9- ]*" required type="text"/>
            <div [hidden]="!(editForm.controls.sourceDataName?.dirty && editForm.controls.sourceDataName?.invalid)">
                <small [hidden]="!editForm.controls.sourceDataName?.errors?.required"
                       [translate]="'entity.validation.required'"
                       class="form-text text-danger">
                </small>
                <small [hidden]="!editForm.controls.sourceDataName?.errors?.pattern"
                       [translateParams]="{pattern: 'alphanumerics, dash (-), underscore (_), space ( ) and period (.)'}"
                       [translate]="'entity.validation.pattern'"
                       class="form-text text-danger">
                </small>
            </div>
        </div>
        <div class="form-group">
            <label [translate]="'managementPortalApp.sourceData.processingState'"
                   class="form-control-label"
                   for="field_processingState">
            </label>
            <select [(ngModel)]="sourceData.processingState" class="form-control" id="field_processingState"
                    name="processingState">
                <option [translate]="'managementPortalApp.processingState.RAW'" value="RAW"></option>
                <option [translate]="'managementPortalApp.processingState.DERIVED'" value="DERIVED"></option>
                <option [translate]="'managementPortalApp.processingState.VENDOR'" value="VENDOR"></option>
                <option [translate]="'managementPortalApp.processingState.RADAR'" value="RADAR"></option>
                <option [translate]="'managementPortalApp.processingState.UNKNOWN'" value="UNKNOWN"></option>
            </select>
        </div>
        <div class="form-group">
            <label [translate]="'managementPortalApp.sourceData.topic'"
                   class="form-control-label"
                   for="field_topic">
            </label>
            <input [(ngModel)]="sourceData.topic" class="form-control" id="field_topic" name="topic"
                   type="text"
            />
        </div>
        <div class="form-group">
            <label [translate]="'managementPortalApp.sourceData.keySchema'"
                   class="form-control-label"
                   for="field_keySchema">
            </label>
            <input [(ngModel)]="sourceData.keySchema" class="form-control" id="field_keySchema" name="keySchema"
                   type="text"
            />
        </div>
        <div class="form-group">
            <label [translate]="'managementPortalApp.sourceData.valueSchema'"
                   class="form-control-label"
                   for="field_valueSchema">
            </label>
            <input [(ngModel)]="sourceData.valueSchema" class="form-control" id="field_valueSchema" name="valueSchema"
                   type="text"
            />
        </div>
        <div class="form-group">
            <label [translate]="'managementPortalApp.sourceData.frequency'"
                   class="form-control-label"
                   for="field_frequency">
            </label>
            <input [(ngModel)]="sourceData.frequency" class="form-control" id="field_frequency" name="frequency"
                   type="text"
            />
        </div>
        <div class="form-group">
            <label [translate]="'managementPortalApp.sourceData.unit'"
                   class="form-control-label"
                   for="field_unit">
            </label>
            <input [(ngModel)]="sourceData.unit" class="form-control" id="field_unit" name="unit"
                   type="text"
            />
        </div>


    </div>
    <div class="modal-footer">
        <button (click)="clear()" class="btn btn-default" data-dismiss="modal" type="button">
            <span class="fa fa-ban"></span>&nbsp;<span [translate]="'entity.action.cancel'"></span>
        </button>
        <button [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary" type="submit">
            <span class="fa fa-save"></span>&nbsp;<span [translate]="'entity.action.save'"></span>
        </button>
    </div>
</form>
