<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySensorDataLabel" jhiTranslate="managementPortalApp.sensorData.home.createOrEditLabel">Create or edit a Sensor Data</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!sensorData.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="sensorData.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="managementPortalApp.sensorData.sensorName" for="field_sensorType">Sensor Type</label>
            <input type="text" class="form-control" name="sensorName" id="field_sensorType"
                [(ngModel)]="sensorData.sensorName"
            required />
            <div [hidden]="!(editForm.controls.sensorName?.dirty && editForm.controls.sensorName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.sensorName?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="managementPortalApp.sensorData.dataType" for="field_dataType">Data Type</label>
            <select class="form-control" name="dataType" [(ngModel)]="sensorData.dataType" id="field_dataType" >
                <option value="RAW" jhiTranslate="managementPortalApp.DataType.RAW">RAW</option>
                <option value="DERIVED" jhiTranslate="managementPortalApp.DataType.DERIVED">DERIVED</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="managementPortalApp.sensorData.keySchema" for="field_dataFormat">Key schema</label>
            <input type="text" class="form-control" name="keySchema" id="field_dataFormat"
                [(ngModel)]="sensorData.keySchema"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="managementPortalApp.sensorData.frequency" for="field_frequency">Frequency</label>
            <input type="text" class="form-control" name="frequency" id="field_frequency"
                [(ngModel)]="sensorData.frequency"
             />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
