<div>
    <h2>
        <span jhiTranslate="managementPortalApp.sensorData.home.title">Sensor Data</span>
        <button class="btn btn-primary float-right create-sensor-data" [routerLink]="['/', { outlets: { popup: ['sensor-data-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="managementPortalApp.sensorData.home.createLabel">
            Create new Sensor Data
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="sensorData">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="managementPortalApp.sensorData.sensorType">Sensor Type</span></th>
            <th><span jhiTranslate="managementPortalApp.sensorData.dataType">Data Type</span></th>
            <th><span jhiTranslate="managementPortalApp.sensorData.dataFormat">Data Format</span></th>
            <th><span jhiTranslate="managementPortalApp.sensorData.frequency">Frequency</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sensorData of sensorData ;trackBy: trackId">
                <td><a [routerLink]="['../sensor-data', sensorData.id ]">{{sensorData.id}}</a></td>
                <td>{{sensorData.sensorType}}</td>
                <td jhiTranslate="{{'managementPortalApp.DataType.' + sensorData.dataType}}">{{sensorData.dataType}}</td>
                <td>{{sensorData.dataFormat}}</td>
                <td>{{sensorData.frequency}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../sensor-data', sensorData.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sensor-data/'+ sensorData.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sensor-data/'+ sensorData.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
