
<div *ngIf="sensorData">
    <h2><span jhiTranslate="managementPortalApp.sensorData.detail.title">Sensor Data</span> {{sensorData.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="managementPortalApp.sensorData.sensorType">Sensor Type</span></dt>
        <dd>
            <span>{{sensorData.sensorType}}</span>
        </dd>
        <dt><span jhiTranslate="managementPortalApp.sensorData.dataType">Data Type</span></dt>
        <dd>
            <span jhiTranslate="{{'managementPortalApp.DataType.' + sensorData.dataType}}">{{sensorData.dataType}}</span>
        </dd>
        <dt><span jhiTranslate="managementPortalApp.sensorData.dataFormat">Data Format</span></dt>
        <dd>
            <span>{{sensorData.dataFormat}}</span>
        </dd>
        <dt><span jhiTranslate="managementPortalApp.sensorData.frequency">Frequency</span></dt>
        <dd>
            <span>{{sensorData.frequency}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'sensor-data/'+ sensorData.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
