<div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 [translate]="'activate.title'"></h1>

            <div *ngIf="success" class="alert alert-success">
                <span [innerHTML]="'activate.messages.success' | translate"></span>
                <a (click)="login()" [translate]="'global.messages.info.authenticated.link'"
                   class="alert-link">
                </a>.
            </div>

            <div *ngIf="error"
                 [innerHTML]="'activate.messages.error' | translate"
                 class="alert alert-danger">
            </div>

        </div>
    </div>
</div>
