<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Confirm Access</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    <link rel="stylesheet"
          th:href="@{/css/oauth.css}" />
    <script type="text/javascript" th:src="@{/js/oauth.js}"></script>
</head>
<body>
<img th:src="@{/images/radar-baseRR.png}" style="height: 45px;" class="pull-right"/>
<div class="modal-header">
    <h4 class="modal-title">Confirm Access</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">

            Do you authorize <b th:text="${authorizationRequest.getClientId()}"></b> at
            <b th:text="${authorizationRequest.getRedirectUri()}"></b> to access your
            protected resources? Check the resources for which you want to grant access:
            <form th:action="@{/oauth/authorize}" method="post">
                <div class="checkbox" th:each="scope : ${authorizationRequest.getScope()}">
                    <label>
                        <input type="checkbox" th:text="${scope}" th:name="'scope.' + ${scope}"
                               th:value="true" checked="checked"/>
                    </label>
                </div>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <input name="user_oauth_approval" value="true" type="hidden" />
                <button class="btn btn-primary" type="submit">Approve</button>
                <button class="btn btn-danger" onclick="denyAuth()" type="button">Deny</button>
            </form>
            <form th:action="@{/oauth/authorize}" method="post" id="denyAuth">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <input type="hidden" name="user_oauth_approval" value="false"/>
            </form>
        </div>
    </div>
</div>
</body>
</html>
