<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>Confirm Access</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"
          rel="stylesheet"/>
    <link rel="stylesheet"
          th:href="@{/css/oauth.css}"/>
    <script th:src="@{/js/oauth.js}" type="text/javascript"></script>
</head>
<body>
<img class="pull-right" style="height: 45px;" th:src="@{/images/radar-baseRR.png}"/>
<div class="modal-header">
    <h4 class="modal-title">Confirm Access</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">

            Do you authorize <b th:text="${authorizationRequest.getClientId()}"></b> at
            <b th:text="${authorizationRequest.getRedirectUri()}"></b> to access your
            protected resources? Check the resources for which you want to grant access:
            <form method="post" th:action="@{/oauth/authorize}">
                <div class="checkbox" th:each="scope : ${authorizationRequest.getScope()}">
                    <label>
                        <input checked="checked" th:name="'scope.' + ${scope}" th:text="${scope}"
                               th:value="true" type="checkbox"/>
                    </label>
                </div>
                <input name="user_oauth_approval" type="hidden" value="true"/>
                <button class="btn btn-primary" type="submit">Approve</button>
                <button class="btn btn-danger" onclick="denyAuth()" type="button">Deny</button>
            </form>
            <form id="denyAuth" method="post" th:action="@{/oauth/authorize}">
                <input name="user_oauth_approval" type="hidden" value="false"/>
            </form>
        </div>
    </div>
</div>
</body>
</html>
