<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>Your request cannot be processed</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"
          rel="stylesheet"/>
    <link rel="stylesheet"
          th:href="@{/css/oauth.css}"/>
</head>
<body>
<div class="container">
    <h4>Your request cannot be processed</h4>
    <p>HTTP Status: <span th:text="${status}">Unknown</span></p>
    <p>Error code: <span th:text="${code}"></span></p>
    <p>Error message: <span th:text="${message}">No message available</span></p>
    <p>Additional information:
        <span th:text="${additionalInfo}">No additional information available</span></p>
    <p>Error occured at: <span th:text="${date}">No date available</span></p>
</div>
</body>
</html>
