/* ==========================================================================
Navbar
========================================================================== */
.navbar {
    background-color: #353d47;
    padding: .2em 1em;
}

.navbar-nav {
    padding: 0.5em;
}

.nav-item {
    margin-left: 1.5rem;

    .fa {
        margin-right: 4px;
    }

    .nav-link {
        font-weight: 400;
    }

    .dropdown-item.active,
    .dropdown-item.active:focus,
    .dropdown-item.active:hover {
        background-color: #353d47;
    }
}

@media screen and (max-width: 992px) {
    .jh-logo-container {
        width: 100%;
    }
}

.navbar-title {
    display: inline-block;
    vertical-align: middle;
}

/* ==========================================================================
Logo styles
========================================================================== */
.navbar-brand {
    padding: 5px 15px;

    .logo-img {
        height: 45px;
        width: 70px;
        display: inline-block;
        vertical-align: middle;
        background: url("../../../content/images/navbar-logo.png") no-repeat center center;
        background-size: contain;
    }
}
