<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" class="navbar-brand" routerLink="/" (click)="collapseNavbar()">
        <span class="logo-img"></span>
        <span [translate]="'global.title'" class="navbar-title"></span>
        <span class="navbar-version">{{version}}</span>
    </a>
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated()">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    <span [translate]="'global.menu.home'"></span>
                </a>
            </li>
            <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
            <li *jhiHasAnyAuthority="['ROLE_SYS_ADMIN']" ngbDropdown class="nav-item dropdown pointer">
                <a class="nav-link dropdown-toggle" routerLinkActive="active" ngbDropdownToggle href="javascript:void(0);" id="entity-menu">
                    <span>
                        <i class="fa fa-th-list" aria-hidden="true"></i>
                        <span [translate]="'global.menu.entities.main'"></span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li uiSrefActive="active">
                        <a class="dropdown-item" routerLink="source" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span [translate]="'global.menu.entities.source'"></span>
                        </a>
                    </li>
                    <li uiSrefActive="active">
                        <a class="dropdown-item" routerLink="source-type" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span [translate]="'global.menu.entities.sourceType'"></span>
                        </a>
                    </li>
                    <li uiSrefActive="active">
                        <a class="dropdown-item" routerLink="source-data" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span [translate]="'global.menu.entities.sourceData'"></span>
                        </a>
                    </li>
                    <li uiSrefActive="active">
                        <a class="dropdown-item" routerLink="subject" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span [translate]="'global.menu.entities.subject'"></span>
                        </a>
                    </li>
                    <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                </ul>
            </li>
            <!--Project menu-->
            <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer">
                <a class="nav-link dropdown-toggle" routerLinkActive="active" ngbDropdownToggle href="javascript:void(0);" id="projects-menu">
                    <span>
                        <i class="fa fa-th-list" aria-hidden="true"></i>
                        <span [translate]="'global.menu.entities.project'"></span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li uiSrefActive="active" *ngFor="let project of projectService.projects$ | async; trackBy: trackProjectName">
                        <a class="dropdown-item" [routerLink]="['project', project.projectName]" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-desktop" ></i>
                            <span>{{project.projectName}} </span>
                        </a>
                    </li>
                </ul>
            </li>

            <li *jhiHasAnyAuthority="['ROLE_SYS_ADMIN']" ngbDropdown class="nav-item dropdown pointer">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu">
                    <span>
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                        <span [translate]="'global.menu.admin.main'"></span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li>
                        <a class="dropdown-item" routerLink="user-management" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-user" aria-hidden="true"></i>
                            <span [translate]="'global.menu.admin.userManagement'"></span>
                        </a>
                    </li>
                    <li >
                        <a class="dropdown-item" routerLink="project" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-desktop" aria-hidden="true"></i>
                            <span [translate]="'global.menu.entities.project'"></span>
                        </a>
                    </li>
                    <li *jhiHasAnyAuthority="['ROLE_SYS_ADMIN']" >
                        <a class="dropdown-item" routerLink="oauth-client" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-key" aria-hidden="true"></i>
                            <span [translate]="'global.menu.entities.oauth-clients'"></span>
                        </a>
                    </li>
                    <li *jhiHasAnyAuthority="['ROLE_SYS_ADMIN']" >
                        <a class="dropdown-item" routerLink="jhi-metrics" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-tachometer" aria-hidden="true"></i>
                            <span [translate]="'global.menu.admin.metrics'"></span>
                        </a>
                    </li>
                    <li *jhiHasAnyAuthority="['ROLE_SYS_ADMIN']">
                        <a class="dropdown-item" routerLink="jhi-health" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-heart" aria-hidden="true"></i>
                            <span [translate]="'global.menu.admin.health'"></span>
                        </a>
                    </li>
                    <li *jhiHasAnyAuthority="['ROLE_SYS_ADMIN']">
                        <a class="dropdown-item" routerLink="audits" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-bell" aria-hidden="true"></i>
                            <span [translate]="'global.menu.admin.audits'"></span>
                        </a>
                    </li>
                    <li *jhiHasAnyAuthority="['ROLE_SYS_ADMIN']">
                        <a class="dropdown-item" routerLink="revisions" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-history" aria-hidden="true"></i>
                            <span [translate]="'global.menu.admin.revisions'"></span>
                        </a>
                    </li>
                    <li *jhiHasAnyAuthority="['ROLE_SYS_ADMIN']">
                        <a class="dropdown-item" routerLink="logs" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-tasks" aria-hidden="true"></i>
                            <span [translate]="'global.menu.admin.logs'"></span>
                        </a>
                    </li>
                    <li *ngIf="apiDocsEnabled">
                        <a class="dropdown-item" routerLink="docs" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-book" aria-hidden="true"></i>
                            <span [translate]="'global.menu.admin.apidocs'"></span>
                        </a>
                    </li>
                    <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                    <li *ngIf="!inProduction">
                        <a class="dropdown-item" href='/h2-console' target="_tab" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-hdd-o" aria-hidden="true"></i>
                            <span [translate]="'global.menu.admin.database'"></span>
                        </a>
                    </li>
                </ul>
            </li>

            <li ngbDropdown class="nav-item dropdown pointer" *ngIf="languageHelper.languages$ | async as languages">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="languagesnavBarDropdown" *ngIf="languages.length > 1">
                    <span>
                        <i class="fa fa-flag" aria-hidden="true"></i>
                        <span [translate]="'global.menu.language'"></span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu *ngIf="languages.length > 1">
                    <li *ngFor="let language of languages">
                        <a class="dropdown-item" [jhiActiveMenu]="language" href="javascript:void(0);" (click)="changeLanguage(language);collapseNavbar();">{{language | findLanguageFromKey}}</a>
                    </li>
                </ul>
            </li>
            <li ngbDropdown class="nav-item dropdown pointer">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu">
                  <span>
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <span [translate]="'global.menu.account.main'"></span>
                  </span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="settings" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-wrench" aria-hidden="true"></i>
                            <span [translate]="'global.menu.account.settings'"></span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="password" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-clock-o" aria-hidden="true"></i>
                            <span [translate]="'global.menu.account.password'"></span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" (click)="logout()" id="logout">
                            <i class="fa fa-fw fa-sign-out" aria-hidden="true"></i>
                            <span [translate]="'global.menu.account.logout'"></span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false">
                        <a class="dropdown-item" (click)="login()" id="login">
                            <i class="fa fa-fw fa-sign-in" aria-hidden="true"></i>
                            <span [translate]="'global.menu.account.login'"></span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
