<div>
    <div class="row justify-content-md-center">
        <div>
            <h1 [translate]="'error.title'"></h1>

            <div [hidden]="!errorMessage">
                <div class="alert alert-danger">{{errorMessage}}
                </div>

            </div>
            <div [hidden]="!error403">
                <div class="alert alert-danger" [translate]="'error.403'">
                </div>
                <span [translate]="'error.loginLink.prefix'"></span>
                <a class="alert-link" (click)="login()"
                    [translate]="'error.loginLink.text'">
                </a>
                <span [translate]="'error.loginLink.suffix'"></span>
            </div>
        </div>
    </div>
</div>
