<div class="row">
    <div class="col-md-3">
        <span class="home-page-logo img-fluid img-rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4" [translate]="'home.title'"></h1>
        <p class="lead" [translate]="'home.subtitle'"></p>

        <div *ngIf="principal.account$ | async as account; else unauthenticated">
            <div class="alert alert-success">
                <span [translate]="'home.logged.message'"
                      [translateParams]="{username: account.login}">
                </span>
            </div>

            <div class="card-columns ">
                <div class="card mb-3" *ngFor="let organization of organizationService.organizations$ | async;"
                     [routerLink]="['../organization', organization.name ]">
                    <div class="card-body text-center">
                        <h5 class="card-title" style="text-transform: uppercase"> {{organization.name}}</h5>
                        <h6 class="card-subtitle text-center mb-2 text-muted">{{organization.location}} </h6>
                        <p class="card-text"> {{organization.description}}
                    </div>
                    <footer class="card-footer  text-center">
                        <button type="button"
                                [routerLink]="['../organization', organization.name ]"
                                [queryParams]="{page: 1}"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" [translate]="'entity.action.view'"></span>
                        </button>
                    </footer>

                </div>
            </div>
        </div>
        <button (click)="redirect()">login</button>
        <button (click)="redirect_logout()">logout</button>
        <ng-template #unauthenticated>
            <button (click)="redirect()">login</button>
            <button (click)="redirect_logout()">logout</button>
            <div class="alert alert-warning">
                <span [translate]="'global.messages.info.authenticated.prefix'"></span>
                <a class="alert-link" (click)="login()" [translate]="'global.messages.info.authenticated.link'"></a>
            </div>
        </ng-template>
    </div>
</div>
