<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySubjectLabel"
            [translate]="'managementPortalApp.subject.home.createOrEditLabel'">
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!subject.id">
            <label for="id" [translate]="'global.field.id'"></label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="subject.id" readonly />
        </div>


        <div class="form-group">
            <label class="form-control-label"
                   for="field_externalId"
                   [translate]="'managementPortalApp.subject.externalId'">
            </label>
            <input type="text" class="form-control" name="externalId" id="field_externalId"
                   [(ngModel)]="subject.externalId"
            />
        </div>
        <div class="form-group" *ngIf="!isInProject">
            <label class="form-control-label"
                   for="field_project"
                   [translate]="'managementPortalApp.subject.project'">
            </label>
            <select class="form-control"
                    id="field_project"
                    name="project"
                    [(ngModel)]="project.projectName"
                    (ngModelChange)="onProjectChange($event)"
                    required
            >
                <option [ngValue]="null">-</option>
                <option *ngFor="let p of projects" [ngValue]="p.projectName">
                    {{p.projectName}}
                </option>
            </select>
        </div>

        <div class="form-group">
            <label class="form-control-label"
                   for="field_group_1"
                 >
                Delusion 1
            </label>
            <select class="form-control"
                    id="field_group_1"
                    name="delusion1"
                    [(ngModel)]="delusion1.key"
                    (ngModelChange)="onDelusion1Change($event)"
            >

                <option *ngFor="let g of getDelusionsChoice1()" [ngValue]="g.key">
                    {{g.label}}
                </option>
            </select>
        </div>

        <div class="form-group">
            <label class="form-control-label"
                   for="field_group_2"
            >
                Delusion 2
            </label>
            <select class="form-control"
                    id="field_group_2"
                    name="delusion2"
                    [(ngModel)]="delusion2.key"
                    (ngModelChange)="onDelusion2Change($event)"
            >

                <option *ngFor="let g of getDelusionsChoice2()" [ngValue]="g.key">
                    {{g.label}}
                </option>
            </select>
        </div>


        <div class=" ">
            <div *ngIf="creationError"
                 class="alert alert-danger"
                 id="creation-error-message"
                >
                <label>Please, provide a Participant Id</label>
            </div>
        </div>

        <div class=" ">
            <div *ngIf="IDNameError"
                 class="alert alert-danger"
                 id="ID-error-message"
                >
                <label>The ID format is not correct, please try again!</label>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span [translate]="'entity.action.cancel'"></span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span [translate]="'entity.action.save'"></span>
        </button>
    </div>
</form>
