
.subject-wrapper {
    display: flex;
}
.subject-filter {
    flex-shrink: 0;
    width: 250px;
    display: flex;
    flex-direction: column;
    padding: 0;
    border-right: 1px solid #dadada;
    font-size: 14px;
    font-weight: bold;
}
.subject-filter input {
    max-width: 100%;
}
.subject-filter > button {
    margin-top: 16px
}
.subject-filter label{
    width: 100%;
}

.subject-filter .form-group {
    margin: 4px 0;
    padding: 4px 8px;
    background: #f9f9f9;
}

.subject-filter .subject-filter-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    margin-bottom: 8px;
    h5 {
        margin: 0;
    }
}

.advanced-filter{
    margin-top: 16px;
    border-top: 1px solid #ccc;
}

.advanced-filter-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 8px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    margin-bottom: 16px;
}

.field-enrollment-date{
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 8px 0;
    margin: 16px 0;
    background-color: #f9f9f9;
}

.field-enrollment-date__header{
    padding: 0 8px;
}

.applied-filters{
    margin: 8px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.subject-wrapper > section {
    flex-grow: 1;
    padding-left: 16px;
}

.subject-sorting-action {
margin-right: 8px;
margin-bottom: 8px;
}

.subject-row {
display: flex;
justify-content: space-between;
padding: 8px 16px;
}
.subject-row:nth-child(even) {
border-top: #eceeef;
background-color: #eceeef;
}
.subject-row__content {
display: flex;
flex-grow: 1;
flex-wrap: wrap;
}
.subject-row__content > * {
flex-basis: 80px;
flex-grow: 1;
}

.subject-row__field-label {
position: relative;
font-weight: bold;
font-size: 12px;
line-height: 12px;
color: #5e5e5e;
}


.subject-list-actions {
margin-bottom: 8px;
}
.subject-list-actions > :not(:first-child) {
margin-left: 8px;
}
.subject-row__select-row {
display: flex;
flex-direction: column;
flex-grow: 0;
padding-top: 28px;
margin-right: 16px;
}


.subject-row__actions {
display: flex;
flex-direction: column;
flex-basis: unset;
flex-grow: 0 !important;
margin-left: 16px;
}
.subject-row__actions > *:not(:last-child) {
width: 100%;
margin-bottom: 4px;
}

.form-group .error{
    color: red;
    background-color: inherit;
}

.applied-filters .badge {
    cursor: pointer;
}
