<div class="subject-wrapper" xmlns="http://www.w3.org/1999/html">
    <div class="subject-filter">
        <div class="subject-filter-header">
            <h5 [translate]="'managementPortalApp.subject.filter.title'"></h5>
            <button class="btn" [ngClass]="isFilterApplied? 'btn-danger': 'btn-outline-danger'"
                    type="button"
                    id="clear-filter"
                    (click)="clearFilters()"
                    [translate]="'managementPortalApp.subject.filter.clearButton'"
                    [disabled]="!isFilterApplied"
            >
            </button>
        </div>

        <div class="form-group">
            <label>
                <span [translate]="'managementPortalApp.subject.subjectId'"></span>
                <input class="form-control"
                       type="text"
                       id="field-subject-id"
                       [(ngModel)]="filters.subjectId"
                       (ngModelChange)='filterChanged(filters.subjectId)'>
            </label>
        </div>

        <div class="form-group">
            <label>
                <span [translate]="'managementPortalApp.subject.externalId'"></span>
                <input class="form-control"
                       type="text"
                       id="field-subject-external-id"
                       [(ngModel)]="filters.externalId"
                       (ngModelChange)='filterChanged(filters.externalId)'>
            </label>
        </div>

        <div class="advanced-filter">
            <span class="advanced-filter-header"
                    id="advanced-filter"
                    (click)="collapse.toggle()"
                    [attr.aria-expanded]="!isAdvancedFilterCollapsed"
                    aria-controls="collapseExample">
                <span [translate]="'managementPortalApp.subject.filter.advancedFilter'"></span>
                <span *ngIf="isAdvancedFilterCollapsed" class="fa fa-chevron-down"></span>
                <span *ngIf="!isAdvancedFilterCollapsed" class="fa fa-chevron-up"></span>
            </span>
            <div #collapse="ngbCollapse" [(ngbCollapse)]="isAdvancedFilterCollapsed">
                <div class="form-group">
                    <label>
                        <span [translate]="'managementPortalApp.subject.humanReadableId'"></span>
                        <input class="form-control"
                               id="field-human-readable-id"
                               [(ngModel)]="filters.humanReadableId"
                               type="text"
                               (ngModelChange)='filterChanged(filters.humanReadableId)'>
                    </label>
                </div>

                <div class="form-group">
                    <label>
                        <span [translate]="'managementPortalApp.subject.group'"></span>
                        <select class="form-control"
                                id="field_group"
                                name="group"
                                [(ngModel)]="filters.groupId"
                                (ngModelChange)='filterChanged(filters.groupId)'>
                            <option [ngValue]="null">-</option>
                            <option *ngFor="let g of groups" [ngValue]="g.id">
                                {{g.name}}
                            </option>
                        </select>
                    </label>
                </div>

                <div class="field-enrollment-date">
                    <span class="field-enrollment-date__header" [translate]="'managementPortalApp.subject.enrollmentDate'"></span>
                    <div class="form-group">
                        <span [translate]="'managementPortalApp.subject.filter.from'"></span>
                        <div class="input-group">
                            <input class="form-control"
                                   placeholder="yyyy-mm-dd"
                                   id="field_enrollment_date_from"
                                   name="enrollmentDateFrom"
                                   [(ngModel)]="filters.enrollmentDateFrom"
                                   ngbDatepicker
                                   #enrollmentFromDatePicker="ngbDatepicker"
                                   (ngModelChange)='filterChanged(filters.enrollmentDateFrom)'>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary calendar" (click)="enrollmentFromDatePicker.toggle()" type="button"></button>
                            </div>
                        </div>
                        <span *ngIf="enrollmentDateFromError" class="error" [translate]="'managementPortalApp.subject.filter.error.invalidDate'"></span>
                    </div>
                    <div class="form-group">
                        <span [translate]="'managementPortalApp.subject.filter.to'"></span>
                        <div class="input-group">
                            <input class="form-control"
                                   placeholder="yyyy-mm-dd"
                                   id="field_enrollment_date_to"
                                   [(ngModel)]="filters.enrollmentDateTo"
                                   name="enrollmentDateTo"
                                   ngbDatepicker
                                   #enrollmentToDatePicker="ngbDatepicker"
                                   (ngModelChange)='filterChanged(filters.enrollmentDateTo)'>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary calendar" (click)="enrollmentToDatePicker.toggle()" type="button"></button>
                            </div>
                        </div>
                        <span *ngIf="enrollmentDateToError" class="error" [translate]="'managementPortalApp.subject.filter.error.invalidRange'"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label>
                        <span [translate]="'managementPortalApp.subject.personName'"></span>
                        <input class="form-control"
                               id="field-person-name"
                               [(ngModel)]="filters.personName"
                               type="text"
                               (ngModelChange)='filterChanged(filters.personName)'>
                    </label>
                </div>

                <div class="form-group">
                    <span [translate]="'managementPortalApp.subject.dateOfBirth'"></span>
                    <div class="input-group">
                        <input [(ngModel)]="filters.dateOfBirth"
                               id="field_date_of_birth"
                               class="form-control"
                               name="dateOfBirth"
                               placeholder="yyyy-mm-dd"
                               ngbDatepicker
                               #dateOfBirthDatePicker="ngbDatepicker"
                               (ngModelChange)='filterChanged(filters.dateOfBirth)'>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="dateOfBirthDatePicker.toggle()" type="button"></button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <section>
        <div ngbDropdown class="d-inline-block subject-sorting-action" id="field-sort-by" >
            <button class="btn btn-outline-primary"
                ngbDropdownToggle
            >
                {{ 'managementPortalApp.subject.sorting.sortByLabel' | translate }}:
                <span>
                    {{ 'managementPortalApp.subject.sorting.' + predicate  | translate }}
                </span>
            </button>
            <div ngbDropdownMenu>
                <span *ngFor="let k of sortingOptions">
                    <button
                            [id]="'sort-by-'+k"
                        ngbDropdownItem
                        (click)="updateSortingSortBy(k)"
                        [translate]="'managementPortalApp.subject.sorting.' + k">
                    </button>
                </span>
            </div>
        </div>
        <div ngbDropdown class="d-inline-block subject-sorting-action"  id="field-order-by">
            <button class="btn btn-outline-primary" ngbDropdownToggle>
                {{ 'managementPortalApp.subject.sorting.sortOrderLabel' | translate }}:
                <span *ngIf="ascending">
                    {{ 'managementPortalApp.subject.sorting.asc' | translate }}
                </span>
                <span *ngIf="!ascending">
                    {{ 'managementPortalApp.subject.sorting.desc' | translate }}
                </span>
            </button>
            <div ngbDropdownMenu>
                <button
                    ngbDropdownItem
                    id="order-by-asc"
                    (click)="updateSortingOrder('asc')"
                    [translate]="'managementPortalApp.subject.sorting.asc'">
                </button>
                <button
                    ngbDropdownItem
                    id="order-by-desc"
                    (click)="updateSortingOrder('desc')"
                    [translate]="'managementPortalApp.subject.sorting.desc'">
                </button>
            </div>
        </div>
        <button
                class="btn btn-primary float-right create-subject"
                *ngIf='isProjectSpecific'
                [routerLink]="['/', { outlets: { popup: ['project-subject-new' , project.projectName] } }]">
            <span class="fa fa-plus"></span>
            <span [translate]="'managementPortalApp.subject.home.createLabel'">
            </span>
        </button>
        <button
                class="btn btn-primary float-right create-subject"
                *ngIf='!isProjectSpecific'
                [routerLink]="['/', { outlets: { popup: ['general-subject-new'] } }]">
            <span class="fa fa-plus"></span>
            <span [translate]="'managementPortalApp.subject.home.createLabel'">
            </span>
        </button>
        <div class="applied-filters"
             *ngIf="isFilterApplied">
            <span>{{ 'managementPortalApp.subject.filter.filters' | translate}}: </span>
            <div class="badge badge-pill badge-primary" *ngIf="filters.subjectId" (click)="clearFilter('subjectId')">
                <span>{{ 'managementPortalApp.subject.subjectId' | translate }}: {{filters.subjectId}}</span>
                <span aria-hidden="true"> &times;</span>
            </div>
            <div class="badge badge-pill badge-primary" *ngIf="filters.externalId" (click)="clearFilter('externalId')">
                <span>{{ 'managementPortalApp.subject.externalId' | translate }}: {{filters.externalId}}</span>
                <span aria-hidden="true"> &times;</span>
            </div>
            <div class="badge badge-pill badge-primary" *ngIf="filters.personName" (click)="clearFilter('personName')">
                <span>{{ 'managementPortalApp.subject.personName' | translate }}: {{filters.personName}}</span>
                <span aria-hidden="true"> &times;</span>
            </div>
            <div class="badge badge-pill badge-primary" *ngIf="filters.humanReadableId" (click)="clearFilter('humanReadableId')">
                <span>{{ 'managementPortalApp.subject.humanReadableId' | translate }}: {{filters.humanReadableId}}</span>
                <span aria-hidden="true"> &times;</span>
            </div>
            <div class="badge badge-pill badge-primary" *ngIf="appliedFilters.dateOfBirth" (click)="clearDateFilter('dateOfBirth')">
                <span>{{ 'managementPortalApp.subject.dateOfBirth' | translate }}: {{appliedFilters.dateOfBirth}}</span>
                <span aria-hidden="true"> &times;</span>
            </div>
            <div class="badge badge-pill badge-primary" *ngIf="appliedFilters.enrollmentDateFrom" (click)="clearDateFilter('enrollmentDateFrom')">
                <span>{{ 'managementPortalApp.subject.enrollmentDateFrom' | translate }}: {{appliedFilters.enrollmentDateFrom}}</span>
                <span aria-hidden="true"> &times;</span>
            </div>
            <div class="badge badge-pill badge-primary" *ngIf="appliedFilters.enrollmentDateTo" (click)="clearDateFilter('enrollmentDateTo')">
                <span>{{ 'managementPortalApp.subject.enrollmentDateFrom' | translate }}: {{appliedFilters.enrollmentDateTo}}</span>
                <span aria-hidden="true"> &times;</span>
            </div>
            <div class="badge badge-pill badge-primary" *ngIf="appliedFilters.group" (click)="clearSelectFilter('groupId')">
                <span>{{ 'managementPortalApp.subject.group' | translate }}: {{appliedFilters.group}}</span>
                <span aria-hidden="true"> &times;</span>
            </div>
        </div>
        <jhi-alert></jhi-alert>
        <div *ngIf="subjects" class="subjects">
            <div class="subject-list-actions">
                <button type="button"
                    class="btn btn-light"
                    [translate]="!checked ? 'managementPortalApp.subject.selectAll' : 'managementPortalApp.subject.clearSelectedItems'"
                    (click)="selectAll(!checked)"
                ></button>
                <button type="button"
                    class="btn btn-light"
                    disabled
                    [translate]="'managementPortalApp.subject.addSelectedToGroup'"
                    (click)="addSelectedToGroup()"
                ></button>
            </div>
            <div *ngFor="let subject of subjects ;trackBy: trackLogin" class="subject-row">
                <div class="subject-row__select-row">
                    <input type="checkbox" [checked]="setOfCheckedId.has(subject.id)"
                           (change)="onItemChecked(subject.id, true)">
                </div>
                <div class="subject-row__content">
                    <div class="subject-row__subject-id">
                        <span class="subject-row__field-label"
                            [translate]="'managementPortalApp.subject.subjectId'">
                        </span>
                        <div>
                            <a [routerLink]="['/subject', subject.login ]">{{subject.login}}</a>
                        </div>
                    </div>
                    <div class="subject-row__external-id">
                        <span class="subject-row__field-label"
                            [translate]="'managementPortalApp.subject.externalId'">
                        </span>
                        <div>
                            <a *ngIf="subject.externalLink" target="_blank" [href]=subject.externalLink>
                                {{subject.externalId || subject.externalLink}}
                            </a>
                            <span *ngIf="!subject.externalLink && subject.externalId">
                                {{subject.externalId}}
                            </span>
                            <span *ngIf="!subject.externalLink && !subject.externalId">
                                N/A
                            </span>
                        </div>
                    </div>
                    <div class="subject-row__status">
                        <span class="subject-row__field-label"
                            [translate]="'managementPortalApp.subject.status.title'">
                        </span>
                        <div>
                            <span class="badge badge-danger" *ngIf="subject.status == 'DEACTIVATED'">DEACTIVATED</span>
                            <span class="badge badge-success" *ngIf="subject.status == 'ACTIVATED'">ACTIVATED</span>
                            <span class="badge badge-warning" *ngIf="subject.status == 'DISCONTINUED'">DISCONTINUED</span>
                            <span class="badge badge-danger" *ngIf="subject.status == 'INVALID'">INVALID</span>
                        </div>
                    </div>
                    <div *ngIf="!isProjectSpecific" class="subject-row__project">
                        <span class="subject-row__field-label"
                            [translate]="'managementPortalApp.subject.project'">
                        </span>
                        <div>
                            <span *ngIf="!subject.roles || subject.roles.length === 0">
                                N/A
                            </span>
                            <span *ngFor="let role of subject.roles; let last = last">
                                <a  *ngIf="role.authorityName == 'ROLE_PARTICIPANT'"
                                    class="badge badge-success"
                                    [routerLink]="['/project', role.projectName ]">{{role.projectName}}</a>
                                <a  *ngIf="role.authorityName == 'ROLE_INACTIVE_PARTICIPANT'"
                                    class="badge badge-warning"
                                    [routerLink]="['/project', role.projectName ]">{{role.projectName}}</a>
                            </span>
                        </div>
                    </div>
                    <div class="subject-row__sources">
                        <span class="subject-row__field-label"
                            [translate]="'managementPortalApp.subject.sources'">
                        </span>
                        <div>
                            <span *ngIf="!subject.sources || subject.sources.length === 0">
                                N/A
                            </span>
                            <span *ngFor="let sources of subject.sources; let last = last">
                                <a class="form-control-static" [routerLink]="['/source', sources.sourceName ]">{{sources.sourceTypeModel}}: {{sources.sourceName}}</a>{{last ? '' : ', '}}
                            </span>
                        </div>
                    </div>
                    <div class="subject-row__attribute-data">
                        <span class="subject-row__field-label"
                            [translate]="'managementPortalApp.subject.attributeData'">
                        </span>
                        <div>
                            <span *ngIf="(subject.attributes | keyvalue)?.length === 0">
                                N/A
                            </span>
                            <div *ngFor="let entry of subject.attributes | keyvalue; trackBy: trackKey">
                                <span class="form-control-static">{{entry.key}}: {{entry.value}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="subject-row__group">
                        <span class="subject-row__field-label"
                              [translate]="'managementPortalApp.subject.group'">
                        </span>
                        <div>
                            <span>
                                {{subject.group || 'N/A'}}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="subject-row__actions">
                    <button *ngIf='!isProjectSpecific' [disabled]="subject.status != 'ACTIVATED'"
                            type="submit"
                            [routerLink]="['/subject', subject.login ]"
                            class="btn btn-info btn-sm">
                        <span class="fa fa-eye"></span>
                        <span class="hidden-md-down" [translate]="'entity.action.view'"></span>
                    </button>
                    <button *ngIf='!isProjectSpecific' [disabled]="subject.status != 'ACTIVATED'"
                            type="submit"
                            [routerLink]="['/', { outlets: { popup: 'general-subject/'+ subject.login + '/edit'} }]"
                            replaceUrl="true"
                            class="btn btn-primary btn-sm">
                        <span class="fa fa-pencil"></span>
                        <span class="hidden-md-down" [translate]="'entity.action.edit'"></span>
                    </button>
                    <button *ngIf='isProjectSpecific' [disabled]="subject.status != 'ACTIVATED'"
                            type="submit"
                            [routerLink]="['/', { outlets: { popup: 'project-subject/'+ project.projectName + '/' + subject.login + '/edit'} }]"
                            replaceUrl="true"
                            class="btn btn-primary btn-sm">
                        <span class="fa fa-pencil"></span>&nbsp;<span [translate]="'entity.action.edit'"></span>
                    </button>
                    <button [disabled]="subject.status != 'ACTIVATED'"
                            type="submit"
                            [routerLink]="['/', { outlets: { popup: 'subject/' + subject.login + '/pairApp' } }]"
                            replaceUrl="true"
                            class="btn btn-success btn-sm">
                        <span class="fa fa-qrcode"></span>
                        <span [translate]="'managementPortalApp.subject.pairApp'"></span>
                    </button>
                    <button [disabled]="subject.status != 'ACTIVATED'"
                            type="submit"
                            [routerLink]="['/', { outlets: { popup: 'subject/' + subject.login + '/sources' } }]"
                            replaceUrl="true"
                            class="btn btn-info btn-sm">
                        <span class="fa fa-link"></span>
                        <span [translate]="'managementPortalApp.subject.pairSources.button'"></span>
                    </button>
                </div>
            </div>
        </div>
        <div *ngIf="subjects && totalItems !== undefined"
            class="subject-pagination"
        >
            <span *ngIf="totalItems <= subjects.length"
                class="subject-pagination__all-loaded"
                [translate]="'managementPortalApp.subject.allLoaded'"
                [translateParams]="{ total: subjects.length }"
            ></span>
            <a *ngIf="totalItems > subjects.length"
                class="subject-pagination__load-more"
                (click)="loadMore()"
                [translate]="'managementPortalApp.subject.loadMore'"
                [translateParams]="{ shown: subjects.length, total: totalItems }"
            ></a>
        </div>
    </section>
</div>
