<div class="subject-wrapper" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <div class="subject-filter">
        <div class="subject-filter-header">
            <h5 [translate]="'managementPortalApp.subject.filter.title'"></h5>
        </div>

        <div class="form-group">
            <label>
                <span [translate]="'managementPortalApp.subject.subjectId'"></span>
                <input (ngModelChange)='filters.subjectId.next($event)'
                       [ngModel]="filters.subjectId.value$ | async"
                       class="form-control"
                       id="field-subject-id"
                       type="text">
            </label>
        </div>

        <div class="form-group">
            <label>
                <span [translate]="'managementPortalApp.subject.externalId'"></span>
                <input (ngModelChange)='filters.externalId.next($event)'
                       [ngModel]="filters.externalId.value$ | async"
                       class="form-control"
                       id="field-subject-external-id"
                       type="text">
            </label>
        </div>

        <div class="advanced-filter">
            <span (click)="collapse.toggle()"
                  [attr.aria-expanded]="!isAdvancedFilterCollapsed"
                  aria-controls="collapseExample"
                  class="advanced-filter-header"
                  id="advanced-filter">
                <span [translate]="'managementPortalApp.subject.filter.advancedFilter'"></span>
                <span [ngClass]="isAdvancedFilterCollapsed ? 'fa-chevron-down' : 'fa-chevron-up'" class="fa"></span>
            </span>
            <div #collapse="ngbCollapse" [(ngbCollapse)]="isAdvancedFilterCollapsed">
                <div *ngIf="siteSettings$ | async as siteSettings">
                    <div class="form-group">
                        <label>
                            <span [translate]="'managementPortalApp.subject.humanReadableId'"></span>
                            <input (ngModelChange)='filters.humanReadableId.next($event)'
                                   [ngModel]="filters.humanReadableId.value$ | async"
                                   class="form-control"
                                   id="field-human-readable-id"
                                   type="text">
                        </label>
                    </div>
                    <div *ngIf="!siteSettings.hiddenSubjectFields.has(HideableSubjectField.GROUP)" class="form-group">


                        <label>
                            <span [translate]="'managementPortalApp.subject.group'"></span>
                            <select (ngModelChange)='filters.groupId.next($event)'
                                    [ngModel]="filters.groupId.value$ | async"
                                    class="form-control"
                                    id="field_group"
                                    name="group">
                                <option [ngValue]="null">-</option>
                                <option *ngFor="let g of groups$ | async" [ngValue]="g.id">
                                    {{ g.name }}
                                </option>
                            </select>
                        </label>
                    </div>

                    <div class="field-enrollment-date">
                        <span [translate]="'managementPortalApp.subject.enrollmentDate'"
                              class="field-enrollment-date__header"></span>
                        <p *ngIf="enrollmentDateRangeError"
                           [translate]="'managementPortalApp.subject.filter.error.invalidRange'"
                           class="error"></p>
                        <div class="form-group">
                            <span [translate]="'managementPortalApp.subject.filter.from'"></span>
                            <div class="input-group">
                                <input #enrollmentFromDatePicker="ngbDatepicker"
                                       (ngModelChange)='filters.enrollmentDateFrom.next($event)'
                                       [maxDate]="filters.enrollmentDateTo.value$ | async"
                                       [ngModel]="(enrollmentDate$ | async).from"
                                       class="form-control"
                                       id="field_enrollment_date_from"
                                       name="enrollmentDateFrom"
                                       ngbDatepicker
                                       placeholder="yyyy-mm-dd">
                                <div class="input-group-append">
                                    <button (click)="enrollmentFromDatePicker.toggle()"
                                            class="btn btn-outline-secondary calendar" type="button"></button>
                                </div>
                            </div>
                            <span *ngIf="filters.enrollmentDateFrom.error$ | async as errorCode"
                                  [translate]="'managementPortalApp.subject.filter.error.' + errorCode"
                                  class="error"></span>
                        </div>
                        <div class="form-group">
                            <span [translate]="'managementPortalApp.subject.filter.to'"></span>
                            <div class="input-group">
                                <input #enrollmentToDatePicker="ngbDatepicker"
                                       (ngModelChange)='filters.enrollmentDateTo.next($event)'
                                       [minDate]="filters.enrollmentDateFrom.value$ | async"
                                       [ngModel]="(enrollmentDate$ | async).to"
                                       class="form-control"
                                       id="field_enrollment_date_to"
                                       name="enrollmentDateTo"
                                       ngbDatepicker
                                       placeholder="yyyy-mm-dd">
                                <div class="input-group-append">
                                    <button (click)="enrollmentToDatePicker.toggle()"
                                            class="btn btn-outline-secondary calendar" type="button"></button>
                                </div>
                            </div>
                            <span *ngIf="filters.enrollmentDateTo.error$ | async as errorCode"
                                  [translate]="'managementPortalApp.subject.filter.error.' + errorCode"
                                  class="error"></span>
                        </div>
                    </div>

                    <div *ngIf="!siteSettings.hiddenSubjectFields.has(HideableSubjectField.NAME)" class="form-group">
                        <label>
                            <span [translate]="'managementPortalApp.subject.personName'"></span>
                            <input (ngModelChange)='filters.personName.next($event)'
                                   [ngModel]="filters.personName.value$ | async"
                                   class="form-control"
                                   id="field-person-name"
                                   type="text">
                        </label>
                    </div>

                    <div *ngIf="!siteSettings.hiddenSubjectFields.has(HideableSubjectField.DATEOFBIRTH)"
                         class="form-group">
                        <span [translate]="'managementPortalApp.subject.dateOfBirth'"></span>
                        <div class="input-group">
                            <input #dateOfBirthDatePicker="ngbDatepicker"
                                   (ngModelChange)='filters.dateOfBirth.next($event)'
                                   [ngModel]="filters.dateOfBirth.value$ | async"
                                   class="form-control"
                                   id="field_date_of_birth"
                                   name="dateOfBirth"
                                   ngbDatepicker
                                   placeholder="yyyy-mm-dd">
                            <div class="input-group-append">
                                <button (click)="dateOfBirthDatePicker.toggle()"
                                        class="btn btn-outline-secondary calendar" type="button"></button>
                            </div>
                        </div>
                        <span *ngIf="filters.dateOfBirth.error$ | async as errorCode"
                              [translate]="'managementPortalApp.subject.filter.error.' + errorCode"
                              class="error"></span>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <section>
        <ng-container *ngIf="sortOrder$ | async as sortOrder">
            <div class="d-inline-block subject-sorting-action" id="field-sort-by" ngbDropdown>
                <button class="btn btn-outline-primary"
                        ngbDropdownToggle
                >
                    {{ 'managementPortalApp.subject.sorting.sortByLabel' | translate }}:
                    <span>
                        {{ 'managementPortalApp.subject.sorting.' + sortOrder.predicate  | translate }}
                    </span>
                </button>
                <div ngbDropdownMenu>
                    <span *ngFor="let k of sortingOptions">
                        <button
                                (click)="updateSortingSortBy(k)"
                                [id]="'sort-by-'+k"
                                [translate]="'managementPortalApp.subject.sorting.' + k"
                                ngbDropdownItem>
                        </button>
                    </span>
                </div>
            </div>
            <div class="d-inline-block subject-sorting-action" id="field-order-by" ngbDropdown>
                <button class="btn btn-outline-primary" ngbDropdownToggle>
                    {{ 'managementPortalApp.subject.sorting.sortOrderLabel' | translate }}:
                    <ng-container *ngIf="sortOrder.ascending; else descending">
                        {{ 'managementPortalApp.subject.sorting.asc' | translate }}
                    </ng-container>
                    <ng-template #descending>
                        {{ 'managementPortalApp.subject.sorting.desc' | translate }}
                    </ng-template>
                </button>
                <div ngbDropdownMenu>
                    <button
                            (click)="updateSortAscending(true)"
                            [translate]="'managementPortalApp.subject.sorting.asc'"
                            id="order-by-asc"
                            ngbDropdownItem>
                    </button>
                    <button
                            (click)="updateSortAscending(false)"
                            [translate]="'managementPortalApp.subject.sorting.desc'"
                            id="order-by-desc"
                            ngbDropdownItem>
                    </button>
                </div>
            </div>
        </ng-container>
        <button
                *ngIf='isProjectSpecific'
                [routerLink]="['/', { outlets: { popup: ['project-subject-new' , project.projectName] } }]"
                class="btn btn-primary float-right create-subject">
            <span class="fa fa-plus"></span>
            <span [translate]="'managementPortalApp.subject.home.createLabel'">
            </span>
        </button>
        <button
                *ngIf='!isProjectSpecific'
                [routerLink]="['/', { outlets: { popup: ['general-subject-new'] } }]"
                class="btn btn-primary float-right create-subject">
            <span class="fa fa-plus"></span>
            <span [translate]="'managementPortalApp.subject.home.createLabel'">
            </span>
        </button>
        <div *ngIf="formattedFilterResult$ | async as filterApplied" class="applied-filters">
            <span>{{ 'managementPortalApp.subject.filter.filters' | translate }}: </span>
            <app-filter-badge (clear)="filters[filter.key].clear()"
                              *ngFor="let filter of filterApplied | keyvalue; trackBy: trackKey"
                              [text]="'managementPortalApp.subject.' + filter.key"
                              [value]="filter.value"></app-filter-badge>
            <a (click)="clearFilters()" [translate]="'managementPortalApp.subject.filter.clearButton'"
               class="link-primary mx-2"
               id="clear-filter"></a>
        </div>

        <jhi-alert></jhi-alert>
        <div *ngIf="(siteSettings$ | async) as siteSettings">
            <div *ngIf="!siteSettings.hiddenSubjectFields.has(HideableSubjectField.GROUP)" class="subject-list-actions">
                <button (click)="toggleSelectAll()"
                        [translate]="(allChecked$ | async) ? 'managementPortalApp.subject.clearSelectedItems' : 'managementPortalApp.subject.selectAll'"
                        class="btn btn-light"
                        type="button"
                ></button>
                <button (click)="addSelectedToGroup()"
                        *ngIf="isProjectSpecific"
                        [disabled]="!(anyChecked$ | async)"
                        [translate]="'managementPortalApp.subject.addSelectedToGroup'"
                        class="btn btn-light"
                        type="button"
                ></button>
            </div>
            <div *ngIf="subjects$ | async as subjects" class="subjects">
                <div *ngFor="let subject of subjects; trackBy: trackLogin" class="subject-row">
                    <div class="subject-row__select-row">
                        <input (ngModelChange)="onItemChecked(subject.id, $event)"
                               *ngIf="!siteSettings.hiddenSubjectFields.has(HideableSubjectField.GROUP)"
                               [disabled]="subject.status.toString() !== 'ACTIVATED'" [ngModel]="subject.checked"
                               type="checkbox">
                    </div>
                    <div class="subject-row__content">
                        <div class="subject-row__subject-id">
                        <span [translate]="'managementPortalApp.subject.subjectId'"
                              class="subject-row__field-label">
                        </span>
                            <div>
                                <a [routerLink]="['/subject', subject.login ]">{{ subject.login }}</a>
                            </div>
                        </div>
                        <div class="subject-row__external-id">
                        <span [translate]="'managementPortalApp.subject.externalId'"
                              class="subject-row__field-label">
                        </span>
                            <div>
                                <a *ngIf="subject.externalLink && subject.externalId" [href]="subject.externalLink"
                                   target="_blank">
                                    {{ subject.externalId }}
                                </a>
                                <span *ngIf="!subject.externalLink && subject.externalId">
                                {{ subject.externalId }}
                            </span>
                                <ng-container
                                        *ngTemplateOutlet="!subject.externalId ? noneAvailable : undefined"></ng-container>
                            </div>
                        </div>
                        <div class="subject-row__status">
                        <span [translate]="'managementPortalApp.subject.status.title'"
                              class="subject-row__field-label">
                        </span>
                            <div [ngSwitch]="subject.status">
                                <span *ngSwitchCase="'DEACTIVATED'" class="badge badge-danger">DEACTIVATED</span>
                                <span *ngSwitchCase="'ACTIVATED'" class="badge badge-success">ACTIVATED</span>
                                <span *ngSwitchCase="'DISCONTINUED'" class="badge badge-warning">DISCONTINUED</span>
                                <span *ngSwitchCase="'INVALID'" class="badge badge-danger">INVALID</span>
                            </div>
                        </div>
                        <div *ngIf="!isProjectSpecific" class="subject-row__project">
                        <span [translate]="'managementPortalApp.subject.project'"
                              class="subject-row__field-label">
                        </span>
                            <div>
                                <ng-container *ngIf="!subject.roles || subject.roles.length === 0"
                                              [ngTemplateOutlet]="noneAvailable"></ng-container>
                                <span *ngFor="let role of subject.roles; let last = last">
                                <a *ngIf="role.authorityName == 'ROLE_PARTICIPANT'"
                                   [routerLink]="['/project', role.projectName ]"
                                   class="badge badge-success">{{ role.projectName }}</a>
                                    <!--                                <a  *ngIf="role.authorityName == 'ROLE_INACTIVE_PARTICIPANT'"-->
                                    <!--                                    class="badge badge-warning"-->
                                    <!--                                    [routerLink]="['/project', role.projectName ]">{{role.projectName}}</a>-->
                            </span>
                            </div>
                        </div>
                        <div class="subject-row__sources">
                        <span [translate]="'managementPortalApp.subject.sources'"
                              class="subject-row__field-label">
                        </span>
                            <div>
                                <ng-container *ngIf="!subject.sources || subject.sources.length === 0"
                                              [ngTemplateOutlet]="noneAvailable"></ng-container>
                                <span *ngFor="let sources of subject.sources; let last = last">
                                <a [routerLink]="['/source', sources.sourceName ]"
                                   class="form-control-static">{{ sources.sourceTypeModel }}
                                    : {{ sources.sourceName }}</a>{{ last ? '' : ', ' }}
                            </span>
                            </div>
                        </div>
                        <div class="subject-row__attribute-data">
                        <span [translate]="'managementPortalApp.subject.attributeData'"
                              class="subject-row__field-label">
                        </span>
                            <div>
                                <ng-container
                                        *ngIf="!subject.attributes || (subject.attributes | keyvalue).length === 0"
                                        [ngTemplateOutlet]="noneAvailable"></ng-container>
                                <div *ngFor="let entry of subject.attributes | keyvalue; trackBy: trackKey">
                                    <span class="form-control-static">{{ entry.key }}: {{ entry.value }}</span>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="!siteSettings.hiddenSubjectFields.has(HideableSubjectField.GROUP)"
                             class="subject-row__group">
                        <span [translate]="'managementPortalApp.subject.group'"
                              class="subject-row__field-label">
                        </span>
                            <div class="subject-row__field-value">
                                <span *ngIf="subject.group; else noneAvailable">{{ subject.group }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="subject-row__actions">
                        <button *ngIf='!isProjectSpecific' [disabled]="subject.status !== 'ACTIVATED'"
                                [routerLink]="['/subject', subject.login ]"
                                class="btn btn-info btn-sm"
                                type="submit">
                            <span class="fa fa-eye"></span>
                            <span [translate]="'entity.action.view'" class="hidden-md-down"></span>
                        </button>
                        <button *ngIf='!isProjectSpecific' [disabled]="subject.status !== 'ACTIVATED'"
                                [routerLink]="['/', { outlets: { popup: 'general-subject/'+ subject.login + '/edit'} }]"
                                class="btn btn-primary btn-sm"
                                replaceUrl="true"
                                type="submit">
                            <span class="fa fa-pencil"></span>
                            <span [translate]="'entity.action.edit'" class="hidden-md-down"></span>
                        </button>
                        <button *ngIf='isProjectSpecific' [disabled]="subject.status !== 'ACTIVATED'"
                                [routerLink]="['/', { outlets: { popup: 'project-subject/'+ project.projectName + '/' + subject.login + '/edit'} }]"
                                class="btn btn-primary btn-sm"
                                replaceUrl="true"
                                type="submit">
                            <span class="fa fa-pencil"></span>&nbsp;<span [translate]="'entity.action.edit'"></span>
                        </button>
                        <button [disabled]="subject.status !== 'ACTIVATED'"
                                [routerLink]="['/', { outlets: { popup: 'subject/' + subject.login + '/pairApp' } }]"
                                class="btn btn-success btn-sm"
                                replaceUrl="true"
                                type="submit">
                            <span class="fa fa-qrcode"></span>
                            <span [translate]="'managementPortalApp.subject.pairApp'"></span>
                        </button>
                        <button [disabled]="subject.status !== 'ACTIVATED'"
                                [routerLink]="['/', { outlets: { popup: 'subject/' + subject.login + '/sources' } }]"
                                class="btn btn-info btn-sm"
                                replaceUrl="true"
                                type="submit">
                            <span class="fa fa-link"></span>
                            <span [translate]="'managementPortalApp.subject.pairSources.button'"></span>
                        </button>
                    </div>
                </div>
                <app-load-more (load)="loadMore()" [shownItems]="subjects.length"
                               [totalItems]="totalItems"></app-load-more>
            </div>
        </div>

    </section>
</div>

<ng-template #noneAvailable>
    <span [translate]="'global.attribute.noneAvailable'" class="none-available"></span>
</ng-template>
