<form name="pairForm" role="form" novalidate #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySubjectLabel" jhiTranslate="managementPortalApp.subject.home.pairAppLabel">Pair an application</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="login" class="form-control-label" jhiTranslate="managementPortalApp.subject.login">Login</label>
            <input id="login" type="text" class="form-control" name="login" #loginInput="ngModel"
                   [(ngModel)]="subject.login" required minlength=1 maxlength=50 pattern="^[_'.@A-Za-z0-9- ]*$" [disabled]="subject.id">
        </div>

        <div class="form-group">
            <label jhiTranslate="managementPortalApp.subject.clientApp" for="field_clientApp">Client app</label>
            <select class="form-control" id="field_clientApp" name="client" [(ngModel)]="selectedClient" (change)="unsetPairing()" required>
                <option [ngValue]="null" selected></option>
                <option [ngValue]="clientOption" *ngFor="let clientOption of oauthClients; trackBy: trackOAuthClientById">{{clientOption.clientId}}</option>
            </select>
        </div>

        <div class="form-group">
            <button type="button" class="btn btn-primary" (click)="generateQRCode(false)" [disabled]="selectedClient === null">
                <span class="fa fa-hourglass-start"></span>&nbsp;<span jhiTranslate="managementPortalApp.subject.generateToken">Generate QR code</span>
            </button>
            <button *ngIf="allowPersistentToken" type="button" class="btn btn-default" (click)="generateQRCode(true)" [disabled]="selectedClient === null">
                <span class="fa fa-save"></span> <span jhiTranslate="managementPortalApp.subject.generatePersistentToken">Generate persistent QR code</span>
            </button>
        </div>

        <div class="form-group" *ngIf="pairInfo !== null">
            <div class="text-center">
                <qrcode style="display: inline-block;" [qrdata]="pairInfo.tokenUrl" [size]="400"></qrcode>
            </div>
        </div>

        <div class="form-group" *ngIf="pairInfo !== null">
            <table class="table table-striped">
                <tbody>
                <tr >
                    <th><span jhiTranslate="managementPortalApp.subject.baseUrl">Base Url</span></th>
                    <td>{{pairInfo.baseUrl}}</td>
                </tr>
                <tr>
                    <th><span jhiTranslate="managementPortalApp.subject.tokenName">Token Name</span></th>
                    <td class="token">{{pairInfo.tokenName}}</td>
                </tr>
                <tr>
                    <th><span jhiTranslate="managementPortalApp.subject.validUntil">Valid until</span></th>
                    <td>{{pairInfo.timeOutDate}}</td>
                </tr>
                <tr>
                    <th><span jhiTranslate="managementPortalApp.subject.validity">Validity</span></th>
                    <td>{{pairInfo.timeoutString}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.close">Close</span>
        </button>
    </div>
</form>
