<form #editForm="ngForm" name="pairForm" novalidate role="form">

    <div class="modal-header">
        <h4 [translate]="'managementPortalApp.subject.home.pairAppLabel'" class="modal-title"
            id="mySubjectLabel">
        </h4>
        <button (click)="clear()" aria-hidden="true" class="close" data-dismiss="modal"
                type="button">&times;
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <div *ngIf="(siteSettings$ | async).hiddenSubjectFields as hiddenFields">
                <div>
                    <label [translate]="'managementPortalApp.subject.login'" class="form-control-label"
                           for="login">
                    </label>
                    <input #loginInput="ngModel" [(ngModel)]="subject.login" [disabled]="subject.id"
                           class="form-control" id="login"
                           name="login" type="text">
                </div>

                <div *ngIf="subject.externalId">
                    <label [translate]="'managementPortalApp.subject.externalId'" class="form-control-label"
                           for="externalId">
                    </label>
                    <input #loginInput="ngModel" [(ngModel)]="subject.externalId" [disabled]="subject.id"
                           class="form-control" id="externalId"
                           name="externalId" type="text">
                </div>

                <div *ngIf="!hiddenFields.has(HideableSubjectField.NAME) && subject.personName">
                    <label [translate]="'managementPortalApp.subject.personName'" class="form-control-label"
                           for="name">
                    </label>
                    <input #loginInput="ngModel" [(ngModel)]="subject.personName" [disabled]="subject.id"
                           class="form-control" id="name"
                           name="name" type="text">
                </div>

                <div *ngIf="!hiddenFields.has(HideableSubjectField.DATEOFBIRTH) && subject.dateOfBirth">
                    <label [translate]="'managementPortalApp.subject.dateOfBirth'" class="form-control-label"
                           for="dateOfBirth">
                    </label>
                    <input #loginInput="ngModel" [(ngModel)]="subject.dateOfBirth" [disabled]="subject.id"
                           class="form-control" id="dateOfBirth"
                           name="dateOfBirth" type="text">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label [translate]="'managementPortalApp.subject.clientApp'" for="field_clientApp"></label>
            <select (change)="unsetPairing()" [(ngModel)]="selectedClient" class="form-control" id="field_clientApp"
                    name="client" required>
                <option [ngValue]="null" selected></option>
                <option *ngFor="let clientOption of oauthClients; trackBy: trackOAuthClientById"
                        [ngValue]="clientOption">{{ clientOption.clientId }}
                </option>
            </select>
        </div>

        <div class="form-group">
            <button (click)="generateQRCode(false)" [disabled]="selectedClient === null" class="btn btn-primary"
                    type="button">
                <span class="fa fa-hourglass-start"></span>&nbsp;<span
                    [translate]="'managementPortalApp.subject.generateToken'"></span>
            </button>
            <button (click)="generateQRCode(true)" *ngIf="allowPersistentToken" [disabled]="selectedClient === null"
                    class="btn btn-default"
                    type="button">
                <span class="fa fa-save"></span> <span
                    [translate]="'managementPortalApp.subject.generatePersistentToken'"></span>
            </button>
            <button (click)="exportHtmlToPDF()" class="btn btn-default" data-dismiss="modal" type="button">
                <span class="fa fa-print"></span><span>Print</span>
            </button>
        </div>

        <div *ngIf="pairInfo !== null" class="form-group">
            <div class="text-center">
                <qr-code [value]="pairInfo.tokenUrl" errorCorrectionLevel="M" size="400"
                         style="display: inline-block;"></qr-code>
            </div>
        </div>

        <div *ngIf="pairInfo !== null" class="form-group">
            <table class="table table-striped">
                <tbody>
                <tr>
                    <th><span [translate]="'managementPortalApp.subject.baseUrl'"></span></th>
                    <td>{{ pairInfo.baseUrl }}</td>
                </tr>
                <tr>
                    <th><span [translate]="'managementPortalApp.subject.tokenName'"></span></th>
                    <td class="token">{{ pairInfo.tokenName }}</td>
                </tr>
                <tr>
                    <th><span [translate]="'managementPortalApp.subject.validUntil'"></span></th>
                    <td>{{ pairInfo.timeOutDate }}</td>
                </tr>
                <tr>
                    <th><span [translate]="'managementPortalApp.subject.validity'"></span></th>
                    <td>{{ pairInfo.timeoutString }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button (click)="clear()" class="btn btn-default" data-dismiss="modal" type="button">
            <span class="fa fa-ban"></span>&nbsp;<span [translate]="'entity.action.close'"></span>
        </button>
    </div>
</form>
