<form name="pairForm" role="form" novalidate #editForm="ngForm">

    <div class="modal-header not-print">
        <h4 class="modal-title" id="mySubjectLabel"
            [translate]="'managementPortalApp.subject.home.pairAppLabel'">
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;
        </button>
    </div>
    <div class="modal-body print">
        <div class="form-group">
            <div>
                <label for="login" class="form-control-label"
                       [translate]="'managementPortalApp.subject.login'">
                </label>
                <input id="login" type="text" class="form-control" name="login" #loginInput="ngModel"
                       [(ngModel)]="subject.login" [disabled]="subject.id" >
            </div>

            <div *ngIf="subject.externalId" >
                <label for="externalId" class="form-control-label"
                       [translate]="'managementPortalApp.subject.externalId'">
                </label>
                <input id="externalId" type="text" class="form-control" name="externalId" #loginInput="ngModel"
                       [(ngModel)]="subject.externalId" [disabled]="subject.id" >
            </div>

            <div *ngIf="subject.personName" >
                <label for="name" class="form-control-label"
                       [translate]="'managementPortalApp.subject.personName'">
                </label>
                <input id="name" type="text" class="form-control" name="name" #loginInput="ngModel"
                       [(ngModel)]="subject.personName" [disabled]="subject.id">
            </div>

            <div *ngIf="subject.dateOfBirth" >
                <label for="dateOfBirth" class="form-control-label"
                       [translate]="'managementPortalApp.subject.dateOfBirth'">
                </label>
                <input id="dateOfBirth" type="text" class="form-control" name="dateOfBirth" #loginInput="ngModel"
                       [(ngModel)]="subject.dateOfBirth" [disabled]="subject.id">
            </div>


        </div>

        <div class="form-group">
            <label [translate]="'managementPortalApp.subject.clientApp'" for="field_clientApp"></label>
            <select class="form-control" id="field_clientApp" name="client" [(ngModel)]="selectedClient"
                    (change)="unsetPairing()" required>
                <option [ngValue]="null" selected></option>
                <option [ngValue]="clientOption"
                        *ngFor="let clientOption of oauthClients; trackBy: trackOAuthClientById">{{clientOption.clientId}}</option>
            </select>
        </div>

        <div class="form-group">
            <button type="button" class="btn btn-primary" (click)="generateQRCode(false)"
                    [disabled]="selectedClient === null">
                <span class="fa fa-hourglass-start"></span>&nbsp;<span
                    [translate]="'managementPortalApp.subject.generateToken'"></span>
            </button>
            <button *ngIf="allowPersistentToken" type="button" class="btn btn-default" (click)="generateQRCode(true)"
                    [disabled]="selectedClient === null">
                <span class="fa fa-save"></span> <span
                    [translate]="'managementPortalApp.subject.generatePersistentToken'"></span>
            </button>
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="exportHtmlToPDF()">
                <span class="fa fa-print"></span><span>Print</span>
            </button>
        </div>

        <div class="form-group" *ngIf="pairInfo !== null">
            <div class="text-center">
                <qr-code style="display: inline-block;" [value]="pairInfo.tokenUrl" size="400"
                         errorCorrectionLevel="M"></qr-code>
            </div>
        </div>

        <div class="form-group" *ngIf="pairInfo !== null">
            <table class="table table-striped">
                <tbody>
                <tr>
                    <th><span [translate]="'managementPortalApp.subject.baseUrl'"></span></th>
                    <td>{{pairInfo.baseUrl}}</td>
                </tr>
                <tr>
                    <th><span [translate]="'managementPortalApp.subject.tokenName'"></span></th>
                    <td class="token">{{pairInfo.tokenName}}</td>
                </tr>
                <tr>
                    <th><span [translate]="'managementPortalApp.subject.validUntil'"></span></th>
                    <td>{{pairInfo.timeOutDate}}</td>
                </tr>
                <tr>
                    <th><span [translate]="'managementPortalApp.subject.validity'"></span></th>
                    <td>{{pairInfo.timeoutString}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span [translate]="'entity.action.close'"></span>
        </button>
    </div>
</form>
