
<div *ngIf="subject">
    <h2><span [translate]="'managementPortalApp.subject.detail.title'"></span> {{subject.login}}</h2>
    <h3 *ngIf="revision"><span [translate]="'revisions.revision'"></span>&nbsp; {{revision.id}} - {{revision.timestamp  | date:'MMMM d, y, h:mm:ss a Z'}}</h3>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span [translate]="'managementPortalApp.subject.login'"></span></dt>
        <dd>
            <span>{{subject.login}}</span>
        </dd>
        <dt><span [translate]="'managementPortalApp.subject.externalLink'"></span></dt>
        <dd>
            <span>{{subject.externalLink}}</span>
        </dd>
        <dt><span [translate]="'managementPortalApp.subject.externalId'"></span></dt>
        <dd>
            <span>{{subject.externalId}}</span>
        </dd>
        <dt><span [translate]="'managementPortalApp.subject.project'"></span></dt>
        <dd>
            <span *ngIf="subject.project">
                  <a [routerLink]="['/project', subject.project?.projectName ]" >{{subject.project?.projectName}}</a>
            </span>
        </dd>
        <dt><span [translate]="'managementPortalApp.subject.sources'"></span></dt>
        <dd>
            <span *ngFor="let sources of subject.sources; let last = last">
                <a [routerLink]="['/source', sources?.sourceName ]">{{sources.sourceTypeModel}}: {{sources.sourceName}}</a>{{last ? '' : ', '}}
            </span>
        </dd>

    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span [translate]="'entity.action.back'"></span>
    </button>
    <button *jhiHasAnyAuthority="['ROLE_SYS_ADMIN', 'ROLE_PROJECT_ADMIN']"
        class="btn btn-dark"
        [routerLink]="['/subject', subject.login, 'revisions']">
        <span class="fa fa-history"></span>&nbsp;<span [translate]="'revisions.title'"></span>
    </button>
</div>
