
.subject-wrapper {
    display: flex;
}
.subject-filter {
    flex-grow: 0;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
    border-right: 1px solid #dadada;
}
.subject-filter input {
    max-width: 100%;
}
.subject-filter > button {
    margin-top: 16px
}

.subject-wrapper > section {
    flex-grow: 1;
    padding-left: 16px;
}

.subject-row {
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
}
.subject-row:nth-child(even) {
    border-top: #eceeef;
    background-color: #eceeef;
}
.subject-row__content {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
}
.subject-row__content > * {
    flex-basis: 80px;
    flex-grow: 1;
}

.subject-row__field-label {
    position: relative;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    color: #5e5e5e;
}


.subject-list-actions {
    margin-bottom: 8px;
}
.subject-list-actions > :not(:first-child) {
    margin-left: 8px;
}
.subject-row__select-row {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    padding-top: 28px;
    margin-right: 16px;
}


.subject-row__actions {
    display: flex;
    flex-direction: column;
    flex-basis: unset;
    flex-grow: 0 !important;
    margin-left: 16px;
}
.subject-row__actions > *:not(:last-child) {
    width: 100%;
    margin-bottom: 4px;
}

.subject-pagination {
    display: flex;
    margin-top: 8px;
}
.subject-pagination > * {
    text-align: center;
    flex-grow: 1;
    padding: 16px;
}
.subject-pagination__all-loaded {
    color: #dadada;
    cursor: not-allowed;
}
.subject-pagination__load-more:hover {
    background: rgba(169, 209, 255, 0.3);
}
.subject-pagination__load-more:active {
    background: rgba(0, 120, 255, 0.15);
}
