<div>
    <h4 *ngIf="subjectLogin">
        <span [translate]="'revisions.revisionList'"></span>&nbsp;<span [translate]="'revisions.entity.subject'"></span>&nbsp;{{ subjectLogin }}
    </h4>
    <div class="row">
    </div>
    <br/>
    <jhi-alert></jhi-alert>
    <div *ngIf="revisions" class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr [(ascending)]="reverse" [(predicate)]="predicate" [callback]="transition.bind(this)" jhiSort>
                <th jhiSortBy="id"><span [translate]="'revisions.number'"></span><span class="fa fa-sort"></span></th>
                <th><span [translate]="'revisions.revisionType'"></span></th>
                <th><span [translate]="'revisions.author'"></span></th>
                <th><span [translate]="'revisions.timestamp'"></span></th>
                <th><span [translate]="'managementPortalApp.subject.login'"></span></th>
                <th><span [translate]="'managementPortalApp.subject.externalId'"></span></th>
                <th><span [translate]="'managementPortalApp.subject.externalLink'"></span></th>
                <th><span [translate]="'managementPortalApp.subject.status.title'"></span></th>
                <th><span [translate]="'managementPortalApp.subject.project'"></span></th>
                <th><span [translate]="'managementPortalApp.subject.sources'"></span></th>
                <th><span [translate]="'managementPortalApp.subject.attributeData'"></span></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let revision of revisions; trackBy: trackRevision">
                <td>{{ revision.id }}</td>
                <td><span [translate]="'revisions.type.' + revision.revisionType.toLowerCase()"></span></td>
                <td>{{ revision.author }}</td>
                <td>{{ revision.timestamp  | date:'MMMM d, y, h:mm:ss a Z' }}</td>
                <td>
                    <a [routerLink]="['/subject', revision.entity.login, 'revisions', revision.id ]">{{ revision.entity.login }}</a>
                </td>
                <td>{{ revision.entity.externalId }}</td>
                <td><a [href]=revision.entity.externalLink target="_blank">{{ revision.entity.externalLink }}</a></td>
                <td>
                    <span *ngIf="revision.entity.status == 'DEACTIVATED'" class="badge badge-danger">DEACTIVATED</span>
                    <span *ngIf="revision.entity.status == 'ACTIVATED'" class="badge badge-success">ACTIVATED</span>
                    <span *ngIf="revision.entity.status == 'DISCONTINUED'"
                          class="badge badge-warning">DISCONTINUED</span>
                    <span *ngIf="revision.entity.status == 'INVALID'" class="badge badge-danger">INVALID</span>
                </td>
                <td>
                    <span *ngFor="let role of revision.entity.roles; let last = last">
                        <a *ngIf="role.authorityName == 'ROLE_PARTICIPANT'"
                           [routerLink]="['/project', role.projectName ]"
                           class="badge badge-success">{{ role.projectName }}</a>
                        <a *ngIf="role.authorityName == 'ROLE_INACTIVE_PARTICIPANT'"
                           [routerLink]="['/project', role.projectName ]"
                           class="badge badge-warning">{{ role.projectName }}</a>
                    </span>
                </td>
                <td>
                    <span *ngFor="let sources of revision.entity.sources; let last = last">
                        <a [routerLink]="['/source', sources.sourceName ]"
                           class="form-control-static">{{ sources.sourceTypeModel }}
                            : {{ sources.sourceName }}</a>{{ last ? '' : ', ' }}
                    </span>
                </td>
                <td>
                    <div *ngFor="let entry of revision.entity.attributes | keyvalue; trackBy: trackKey">
                        <span class="form-control-static">{{ entry.key }}: {{ entry.value }}</span>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="revisions">
        <div class="row justify-content-center">
            <jhi-item-count [itemsPerPage]="itemsPerPage" [page]="page" [total]="queryCount"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination (pageChange)="loadPage(page)" [(page)]="page" [(pageSize)]="itemsPerPage"
                            [collectionSize]="totalItems"
                            boundaryLinks=true></ngb-pagination>
        </div>
    </div>
</div>
