<form #editForm="ngForm" (ngSubmit)="save()" name="editForm" novalidate role="form">

    <div class="modal-header">
        <h4 [translate]="'managementPortalApp.subject.home.createOrEditLabel'" class="modal-title"
            id="mySubjectLabel">
        </h4>
        <button (click)="clear()" aria-hidden="true" class="close" data-dismiss="modal"
                type="button">&times;
        </button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div [hidden]="!subject.id" class="form-group">
            <label [translate]="'global.field.id'" for="id"></label>
            <input [(ngModel)]="subject.id" class="form-control" id="id" name="id"
                   readonly type="text"/>
        </div>

        <div class="form-group">
            <label [translate]="'managementPortalApp.subject.externalLink'"
                   class="form-control-label"
                   for="field_externalLink">
            </label>
            <input [(ngModel)]="subject.externalLink" class="form-control" id="field_externalLink" name="externalLink"
                   type="text"
            />
        </div>
        <div class="form-group">
            <label [translate]="'managementPortalApp.subject.externalId'"
                   class="form-control-label"
                   for="field_externalId">
            </label>
            <input [(ngModel)]="subject.externalId" class="form-control" id="field_externalId" name="externalId"
                   type="text"
            />
        </div>
        <div *ngIf="!isInProject" class="form-group">
            <label [translate]="'managementPortalApp.subject.project'"
                   class="form-control-label"
                   for="field_project">
            </label>
            <select (ngModelChange)="onProjectChange($event)"
                    [(ngModel)]="projectName"
                    class="form-control"
                    id="field_project"
                    name="project"
                    required
            >
                <option [ngValue]="null">-</option>
                <option *ngFor="let p of projects" [ngValue]="p.projectName">
                    {{ p.projectName }}
                </option>
            </select>
        </div>
        <div *ngIf="(siteSettings$ | async).hiddenSubjectFields as hiddenFields">
            <div *ngIf="!hiddenFields.has(HideableSubjectField.GROUP)" class="form-group">
                <label [translate]="'managementPortalApp.subject.group'"
                       class="form-control-label"
                       for="field_group">
                </label>
                <select [(ngModel)]="groupName"
                        class="form-control"
                        id="field_group"
                        name="group"
                >
                    <option [ngValue]="null">-</option>
                    <option *ngFor="let g of groups$ | async" [ngValue]="g.name">
                        {{ g.name }}
                    </option>
                </select>
            </div>
            <div *ngIf="!hiddenFields.has(HideableSubjectField.NAME)" class="form-group">
                <label [translate]="'managementPortalApp.subject.personName'"
                       class="form-control-label"
                       for="field_person_name">
                </label>
                <input [(ngModel)]="subject.personName" class="form-control" id="field_person_name" name="personName"
                       type="text"/>
            </div>

            <div *ngIf="!hiddenFields.has(HideableSubjectField.DATEOFBIRTH)" class="form-group">
                <label [translate]="'managementPortalApp.subject.dateOfBirth'"
                       class="form-control-label"
                       for="field_date_of_birth">
                </label>
                <div class="input-group">
                    <input #dateOfBirthDatePicker="ngbDatepicker"
                           [(ngModel)]="dateOfBirth"
                           class="form-control"
                           id="field_date_of_birth"
                           name="dateOfBirth"
                           ngbDatepicker
                           placeholder="yyyy-mm-dd">
                    <div class="input-group-append">
                        <button (click)="dateOfBirthDatePicker.toggle()" class="btn btn-outline-secondary calendar"
                                type="button"></button>
                    </div>
                </div>
            </div>
        </div>
        <jhi-dictionary-mapper [attributes]='subject.attributes' [eventPrefix]='attributeComponentEventPrefix'
                               [options]="options"></jhi-dictionary-mapper>
    </div>
    <div class="modal-footer">
        <button (click)="clear()" class="btn btn-default" data-dismiss="modal" type="button">
            <span class="fa fa-ban"></span>&nbsp;<span [translate]="'entity.action.cancel'"></span>
        </button>
        <button [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary" type="submit">
            <span class="fa fa-save"></span>&nbsp;<span [translate]="'entity.action.save'"></span>
        </button>
    </div>
</form>
