.video-item {
//   margin-left: 80px;
//   width: 60%;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 3em;
}


.video-section {
    display: flex;
    justify-content: center;
}


.float-right {
    float: right;
}


.padding {
    padding: 10px;
}
