<div>
    <h4>
        <span [translate]="'managementPortalApp.source.home.title'"></span>
        <button  *ngIf='!isProjectSpecific'
                class="btn btn-primary float-right create-source"
                [routerLink]="['/', { outlets: { popup: ['general-source-new'] } }]">
            <span class="fa fa-plus"></span>
            <span [translate]="'managementPortalApp.source.home.createLabel'"></span>
        </button>
        <button  *ngIf='isProjectSpecific'
                 class="btn btn-primary float-right create-source"
                 [routerLink]="['/', { outlets: { popup: ['project-source-new' , project.projectName] } }]">
            <span class="fa fa-plus"></span>
            <span [translate]="'managementPortalApp.source.home.createLabel'"></span>
        </button>

    </h4>
    <div class="row">
    </div>
    <br/>
    <jhi-alert></jhi-alert>
    <div class="table-responsive" *ngIf="sources">
        <table class="table table-striped">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="transition.bind(this)">
                    <th jhiSortBy="id" ><span [translate]="'global.field.id'"></span><span class="fa fa-sort"></span></th>
                    <th jhiSortBy="sourceName" ><span [translate]="'managementPortalApp.source.sourceName'"></span><span class="fa fa-sort"></span></th>
                    <th><span [translate]="'managementPortalApp.source.expectedSourceName'"></span></th>
                    <th jhiSortBy="sourceId" ><span [translate]="'managementPortalApp.source.sourceId'"></span><span class="fa fa-sort"></span></th>
                    <th jhiSortBy="assigned" ><span [translate]="'managementPortalApp.source.assigned'"></span><span class="fa fa-sort"></span></th>
                    <th jhiSortBy="sourceType" ><span [translate]="'managementPortalApp.source.sourceType'"></span><span class="fa fa-sort"></span></th>
                    <th jhiSortBy="project" *ngIf="!isProjectSpecific"><span [translate]="'managementPortalApp.source.project'"></span><span class="fa fa-sort"></span></th>
                    <th><span [translate]="'managementPortalApp.source.attributeData'"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            <tr *ngFor="let source of sources ;trackBy: trackId">
                <td>{{source.id}}</td>
                <td><a [routerLink]="['/source', source.sourceName ]">{{source.sourceName}}</a></td>
                <td>{{source.expectedSourceName}}</td>
                <td>{{source.sourceId}}</td>
                <td>
                    <span class="badge badge-danger"
                        *ngIf="!source.assigned"
                        [translate]="'managementPortalApp.source.unassigned'">
                    </span>
                    <span class="badge badge-success"
                        *ngIf="source.assigned"
                        [translate]="'managementPortalApp.source.assigned'">
                    </span>
                </td>
                <td>
                    <div *ngIf="source.sourceType">
                        <a [routerLink]="['/source-type', source.sourceType?.producer , source.sourceType?.model , source.sourceType?.catalogVersion ]" >{{source.sourceType.producer+"_"+source.sourceType.model +"_"+source.sourceType.catalogVersion}}</a>
                    </div>
                </td>
                <td *ngIf="!isProjectSpecific">
                    <div *ngIf="source.project">
                        <a [routerLink]="['/project', source.project.projectName ]" >{{source.project.projectName}}</a>
                    </div>
                </td>
                <td>
                  <div *ngFor="let entry of source.attributes | keyvalue; trackBy: trackKey">
                    <span class="form-control-static">{{entry.key}}: {{entry.value}}</span>
                  </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/source', source.sourceName ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" [translate]="'entity.action.view'"></span>
                        </button>
                        <button *ngIf='isProjectSpecific'
                                type="submit"
                                [routerLink]="['/', { outlets: { popup: 'project-source/'+ project.projectName + '/' + source.sourceName + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" [translate]="'entity.action.edit'"></span>
                        </button>
                        <button *ngIf='!isProjectSpecific'
                                type="submit"
                                [routerLink]="['/', { outlets: { popup: 'general-source/'+ source.sourceName + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" [translate]="'entity.action.edit'"></span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'source/'+ source.sourceName + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" [translate]="'entity.action.delete'"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="sources && totalItems !== undefined">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(pageSize)]="itemsPerPage" boundaryLinks = true [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
