
<div *ngIf="source">
    <h2><span jhiTranslate="managementPortalApp.source.detail.title">Source</span> {{source.sourceName}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="managementPortalApp.source.sourceName">Source Name</span></dt>
        <dd>
            <span>{{source.sourceName}}</span>
        </dd>
        <dt><span jhiTranslate="managementPortalApp.source.expectedSourceName">Expected Source Name</span></dt>
        <dd>
            <span>{{source.expectedSourceName}}</span>
        </dd>
        <dt><span jhiTranslate="managementPortalApp.source.sourceId">Source Id</span></dt>
        <dd>
            <span>{{source.sourceId}}</span>
        </dd>
        <dt><span jhiTranslate="managementPortalApp.source.assigned">Assigned</span></dt>
        <dd>
            <span>{{source.assigned}}</span>
        </dd>
        <dt><span jhiTranslate="managementPortalApp.source.sourceType">Source Type</span></dt>
        <dd>
            <div *ngIf="source.sourceType">
                <a [routerLink]="['/source-type', source.sourceType?.producer, source.sourceType?.model, source.sourceType?.catalogVersion]">{{source.sourceType.producer+"_"+source.sourceType.model+"_"+source.sourceType.catalogVersion}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="managementPortalApp.source.project">Project</span></dt>
        <dd>
            <div *ngIf="source.project">
                <a [routerLink]="['/project', source.project?.projectName]">{{source.project.projectName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="managementPortalApp.source.attributeData">Attributes</span></dt>
        <dd>
            <div *ngFor="let entry of source.attributes | keys; trackBy: trackKey">
                <span class="form-control-static">{{entry.key}}: {{entry.value}}</span>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>
<!--    <button-->
<!--            type="submit"-->
<!--            [routerLink]="['/', { outlets: { popup: 'project-source/'+ project.projectName + '/' + source.sourceName + '/edit'} }]"-->
<!--            replaceUrl="true"-->
<!--            class="btn btn-primary btn-sm">-->
<!--        <span class="fa fa-pencil"></span>-->
<!--        <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>-->
<!--    </button>-->

</div>
