<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myDeviceLabel" jhiTranslate="managementPortalApp.source.home.createOrEditLabel">Create or edit a Device</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!source.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="source.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="managementPortalApp.source.sourceId" for="field_devicePhysicalId">Source Id</label>
            <input type="text" class="form-control" name="sourceId" id="field_devicePhysicalId"
                [(ngModel)]="source.sourceId"
            required />
            <div [hidden]="!(editForm.controls.sourceId?.dirty && editForm.controls.sourceId?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.sourceId?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="managementPortalApp.source.deviceCategory" for="field_deviceCategory">Device Category</label>
            <input type="text" class="form-control" name="deviceCategory" id="field_deviceCategory"
                [(ngModel)]="source.deviceCategory"
             />
        </div>

        <div class="form-group">
            <label jhiTranslate="managementPortalApp.source.deviceType" for="field_deviceType">Device Type</label>
            <select class="form-control" id="field_deviceType" name="deviceType" [(ngModel)]="source.deviceType" >
                <option [ngValue]="null"></option>
                <option [ngValue]="deviceTypeOption.id === source.deviceType?.id ? source.deviceType : deviceTypeOption" *ngFor="let deviceTypeOption of deviceTypes; trackBy: trackDeviceTypeById">{{deviceTypeOption.deviceModel}}</option>
            </select>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
