
<div *ngIf="source">
    <h2><span jhiTranslate="managementPortalApp.source.detail.title">Source</span> {{source.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="managementPortalApp.source.sourceName">Source Name</span></dt>
        <dd>
            <span>{{source.sourceName}}</span>
        </dd>
        <dt><span jhiTranslate="managementPortalApp.source.expectedSourceName">Expected Source Name</span></dt>
        <dd>
            <span>{{source.expectedSourceName}}</span>
        </dd>
        <dt><span jhiTranslate="managementPortalApp.source.sourceId">Source Id</span></dt>
        <dd>
            <span>{{source.sourceId}}</span>
        </dd>
        <dt><span jhiTranslate="managementPortalApp.source.assigned">Assigned</span></dt>
        <dd>
            <span>{{source.assigned}}</span>
        </dd>
        <dt><span jhiTranslate="managementPortalApp.source.deviceType">Device Type</span></dt>
        <dd>
            <div *ngIf="source.deviceType">
                <a [routerLink]="['/device-type', source.deviceType?.id]">{{source.deviceType.deviceModel}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="managementPortalApp.source.project">Project</span></dt>
        <dd>
            <div *ngIf="source.project">
                <a [routerLink]="['/project', source.project?.id]">{{source.project.projectName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'source/'+ source.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
