
<div *ngIf="role">
    <h2><span [translate]="'managementPortalApp.role.detail.title'"></span>: {{role.authorityName}} - {{role.projectName}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span [translate]="'managementPortalApp.role.authorityName'"></span></dt>
        <dd>
            <span>{{role.authorityName}}</span>
        </dd>
        <dt><span [translate]="'managementPortalApp.role.project'"></span></dt>
        <dd>
            <span>{{role.projectName}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span [translate]="'entity.action.back'"></span>
    </button>
</div>
