<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myRoleLabel" jhiTranslate="managementPortalApp.role.home.createOrEditLabel">Create or edit a Role</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!role.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="role.id" readonly />
        </div>

        <div class="form-group">
            <label jhiTranslate="managementPortalApp.role.project" for="field_project">Project</label>
            <select class="form-control" id="field_project" name="project" [(ngModel)]="role.projectId" required>
                <option [ngValue]="null"></option>
                <option [ngValue]="projectOption.id" *ngFor="let projectOption of projects; trackBy: trackProjectById">{{projectOption.id}}</option>
            </select>
            <div [hidden]="!(editForm.controls.project?.dirty && editForm.controls.project?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.project?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
            </div>
        </div>


        <div class="form-group">
            <label jhiTranslate="managementPortalApp.role.authorityName">Authority Name</label>
            <select class="form-control" name="authority" [(ngModel)]="role.authorityName" required>
                <option *ngFor="let authority of authorities;" [value]="authority">{{authority}}</option>
            </select>
            <div [hidden]="!(editForm.controls.authority?.dirty && editForm.controls.authority?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.authority?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
