@media print {
    * {
        -webkit-print-color-adjust: exact;
    }

    .not-print {
        display: none !important;
    }

    .print {
        position: static;
        height: auto !important;
    }

    .modal-backdrop {
        display: none !important;
    }

    html,
    body {
        height: auto !important;
    }
}
