<div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 [translate]="'reset.request.title'"></h1>

            <div *ngIf="errorEmailNotExists"
                class="alert alert-danger"
                [innerHTML]="'reset.request.messages.notfound' | translate">
            </div>

            <div class="alert alert-warning" *ngIf="!success">
                <p [translate]="'reset.request.messages.info'"></p>
            </div>

            <div class="alert alert-success" *ngIf="success == 'OK'">
                <p [translate]="'reset.request.messages.success'"></p>
            </div>

            <form *ngIf="!success" name="form" role="form" (ngSubmit)="requestReset()" #resetRequestForm="ngForm">
                <div class="form-group">
                    <label class="form-control-label" for="email"
                        [translate]="'global.form.email'">
                    </label>
                    <input type="email" class="form-control"
                        id="email" name="email"
                        placeholder="{{'global.form.email.placeholder' | translate}}"
                        [(ngModel)]="resetAccount.email"
                        minlength=5 maxlength=100 required
                        #emailField
                        #emailInput="ngModel">
                    <div *ngIf="emailInput.dirty && emailInput.invalid">
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.required"
                           [translate]="'global.messages.validate.email.required'">
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.email"
                           [translate]="'global.messages.validate.email.invalid'">
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.minlength"
                           [translate]="'global.messages.validate.email.minlength'">
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.maxlength"
                           [translate]="'global.messages.validate.email.maxlength'">
                        </small>
                    </div>
                </div>
                <button type="submit" [disabled]="resetRequestForm.form.invalid"
                    class="btn btn-primary"
                    [translate]="'reset.request.form.button'">
                </button>
            </form>

        </div>
    </div>
</div>
