<div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 [translate]="'reset.request.title'"></h1>

            <div *ngIf="errorEmailNotExists"
                 [innerHTML]="'reset.request.messages.notfound' | translate"
                 class="alert alert-danger">
            </div>

            <div *ngIf="!success" class="alert alert-warning">
                <p [translate]="'reset.request.messages.info'"></p>
            </div>

            <div *ngIf="success == 'OK'" class="alert alert-success">
                <p [translate]="'reset.request.messages.success'"></p>
            </div>

            <form #resetRequestForm="ngForm" (ngSubmit)="requestReset()" *ngIf="!success" name="form" role="form">
                <div class="form-group">
                    <label [translate]="'global.form.email'" class="form-control-label"
                           for="email">
                    </label>
                    <input #emailField #emailInput="ngModel"
                           [(ngModel)]="resetAccount.email" class="form-control"
                           id="email"
                           maxlength=100
                           minlength=5 name="email" placeholder="{{'global.form.email.placeholder' | translate}}"
                           required
                           type="email">
                    <div *ngIf="emailInput.dirty && emailInput.invalid">
                        <small *ngIf="emailInput.errors.required"
                               [translate]="'global.messages.validate.email.required'"
                               class="form-text text-danger">
                        </small>
                        <small *ngIf="emailInput.errors.email"
                               [translate]="'global.messages.validate.email.invalid'"
                               class="form-text text-danger">
                        </small>
                        <small *ngIf="emailInput.errors.minlength"
                               [translate]="'global.messages.validate.email.minlength'"
                               class="form-text text-danger">
                        </small>
                        <small *ngIf="emailInput.errors.maxlength"
                               [translate]="'global.messages.validate.email.maxlength'"
                               class="form-text text-danger">
                        </small>
                    </div>
                </div>
                <button [disabled]="resetRequestForm.form.invalid" [translate]="'reset.request.form.button'"
                        class="btn btn-primary"
                        type="submit">
                </button>
            </form>

        </div>
    </div>
</div>
