<div class="modal-header">
    <h4 class="modal-title" [translate]="'login.title'"></h4>
    <button aria-label="Close" data-dismiss="modal" class="close" type="button" (click)="activeModal.dismiss('closed')"><span aria-hidden="true">x</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-8 offset-md-4"  *ngIf="shouldShowOTPForm() == false">
            <h1  *ngIf="shouldShowOTPForm() == false" [translate]="'login.title'"></h1>
        </div>

        <div class="col-md-8 offset-md-2"  *ngIf="shouldShowOTPForm() == true">
            <h1  *ngIf="shouldShowOTPForm() == true" [translate]="'login.opt-title'"></h1>
        </div>
        <div class="col-md-8 offset-md-2">
            <div *ngIf="authenticationError"
                class="alert alert-danger"
                [innerHTML]="errorMessage">
            </div>
        </div>
        <div class="col-md-8 offset-md-2" *ngIf="shouldShowOTPForm() == false">
            <form class="form" role="form" (ngSubmit)="getOTPCode()" >
                <div class="form-group">
                    <label for="username" [translate]="'global.form.username'"></label>
                    <input type="text" class="form-control"
                        name="username" id="username"
                        placeholder="{{'global.form.username.placeholder' | translate}}"
                        [(ngModel)]="username" #usernameField>
                </div>
                <div class="form-group">
                    <label for="password" [translate]="'login.form.password'"></label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="{{'login.form.password.placeholder' | translate}}"
                           [(ngModel)]="password">
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="rememberMe">
                        <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe" [(ngModel)]="rememberMe" checked>
                        <span [translate]="'login.form.rememberme'"></span>
                    </label>
                </div>
                <button type="submit" class="btn btn-primary" [translate]="'login.form.button'"></button>
            </form>
            <p></p>
            <div class="alert alert-warning">
                <a class="alert-link" (click)="requestResetPassword()" [translate]="'login.password.forgot'"></a>
            </div>
        </div>


        <div class="col-md-8 offset-md-2" *ngIf="shouldShowOTPForm() == true">
            <form class="form" role="form" (ngSubmit)="submitOPTCode()" >
                <div class="form-group">
                    <label for="optCode" [translate]="'global.form.opt'"></label>
                    <input type="text" class="form-control"
                           name="optCode" id="optCode"
                           placeholder="{{'global.form.opt.placeholder' | translate}}"
                           [(ngModel)]="optCode" #usernameField>
                </div>


                <button type="submit" class="btn btn-primary" [translate]="'login.form.opt.button'"></button>
            </form>

        </div>
    </div>
</div>
