<div>
    <h2>
        <span [translate]="'userManagement.role.title'"></span>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><span [translate]="'userManagement.role.users'">Users</span></th>
                    <th><span [translate]="'userManagement.role.roles'">Roles</span></th>
                    <th><span [translate]="'userManagement.role.options'">Options</span></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of authorizedUsers ;trackBy: trackId">
                    <td>{{user.login}}</td>
                    <td>
                        {{user.authorityName}}
                    </td>
                    <td>
                        <button type="button" (click)="removeRole(user.login)" class="btn btn-danger btn-sm fa fa-remove"
                            [disabled]="user.authorityName === 'ROLE_SYS_ADMIN'">
                        </button>
                    </td>
                </tr>
                <tr *ngIf="users.length">
                    <td style="width: 50%;">
                        <select name='user' [(ngModel)]="selectedUser" class="form-control" required>
                            <option [ngValue]="null" [disabled]="true" [translate]="'userManagement.role.selectUser'"></option>
                            <option *ngFor="let user of users" [ngValue]="user">{{user.login}}</option>
                        </select>
                    </td>
                    <td>
                        <select name='authority' [(ngModel)]="selectedAuthority" class="form-control" required>
                            <option *ngIf="organization" value="ROLE_ORGANIZATION_ADMIN" >ROLE_ORGANIZATION_ADMIN</option>
                            <option *ngIf="project" value="ROLE_PROJECT_ADMIN" >ROLE_PROJECT_ADMIN</option>
                        </select>
                    </td>
                    <td>
                        <button type="button" (click)="addRole()" class="btn btn-primary btn-sm fa fa-plus"
                                [disabled]="!selectedUser">
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
