<div *ngIf="organization$ | async as organization">
    <ng-container *ngIf="userRoles$ | async as userRoles">
        <h2>
            <span>
                <span [translate]="'managementPortalApp.organization.detail.title'"></span>:
                {{ organization.name }}
            </span>
            <button *ngIf="userRoles.organizationAdmin"
                    [routerLink]="['/', { outlets: { popup: 'organization/'+ organization.name + '/edit'} }]"
                    [state]="{ parentComponent:'organization-detail'}"
                    class="btn btn-primary float-right"
                    replaceUrl="true"
                    type="button">
                <span class="fa fa-pencil"></span>&nbsp;<span [translate]="'entity.action.edit'"></span>
            </button>
        </h2>
        <div class="organization-detail__organization-info">
            <div class="organization-detail__organization-info-fields">
                <div>
                    <span [translate]="'managementPortalApp.organization.organizationName'"></span>
                    <p>{{ organization.name }}</p>
                </div>
                <div>
                    <span [translate]="'managementPortalApp.organization.location'"></span>
                    <p>{{ organization.location }}</p>
                </div>
            </div>
            <p class="organization-detail__description">
                {{ organization.description }}
            </p>
        </div>

        <ul class="nav nav-tabs">
            <li (click)="viewProjects()" class="nav-item">
                <span [ngClass]="{active: showProjects}" [translate]="'managementPortalApp.organization.projects'"
                      class="nav-link">
                </span>
            </li>
            <li (click)="viewPermissions()"
                *ngIf="userRoles.organizationAdmin" class="nav-item">
                <span [ngClass]="{active: showPermissions}" [translate]="'managementPortalApp.organization.permissions'"
                      class="nav-link">
                </span>
            </li>
        </ul>

        <div id="organization-content-wrapper">
            <jhi-alert-error></jhi-alert-error>
            <jhi-projects *ngIf="showProjects" [organization]='organization'></jhi-projects>
            <jhi-permissions *ngIf="showPermissions && userRoles.organizationAdmin"
                             [organization]='organization'></jhi-permissions>
        </div>
    </ng-container>
</div>
