<div>
    <h2>
        <span [translate]="'managementPortalApp.organization.home.title'"></span>
        <button *jhiHasAnyAuthority="['ROLE_SYS_ADMIN']" class="btn btn-primary float-right create-organization" [routerLink]="['/', { outlets: { popup: ['organization-new'] } }]">
            <span class="fa fa-plus"></span>
            <span [translate]="'managementPortalApp.organization.home.createLabel'"></span>
        </button>
    </h2>
    <div class="row">
    </div>
    <br/>
    <jhi-alert></jhi-alert>
    <div class="table-responsive" *ngIf="organizationService.organizations$ | async as organizations">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><span [translate]="'global.field.id'"></span></th>
                    <th><span [translate]="'managementPortalApp.organization.organizationName'"></span></th>
                    <th><span [translate]="'managementPortalApp.organization.description'"></span></th>
                    <th><span [translate]="'managementPortalApp.organization.location'"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            <tr *ngFor="let organization of organizations; trackBy: trackName">
                <td>{{organization.id}}</td>
                <td><a [routerLink]="['../organization', organization.name ]">{{organization.name}}</a></td>
                <td>{{organization.description}}</td>
                <td>{{organization.location}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'organization/'+ organization.name + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" [translate]="'entity.action.edit'"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
